
<div class="button-holder d-flex justify-content-center mb-3">

    <partial name="SpecificEntity/SubEntities/Select_Partial" />
    <div class="w-50">
        <partial name="SpecificEntity/SubEntities/Extract_Partial" />
        <partial name="SpecificEntity/SubEntities/ModalButton_Partial" />
    </div>
</div>