@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="table-responsive border-0 mx-auto" id="tableDoubleScroll">
    <table class="table table-hover text-nowrap">
        <thead>
            @for (int row = 0; row < 1; row++)
            {
                <tr>
                    @for (int col = 0; col < Model.EntitySubEntities[row].Length; col++)
                    {
                        <th class="text-white p-1 tableHeaderPharus">
                            @Model.EntitySubEntities[row][col]
                        </th>
                    }
                </tr>
            }
        </thead>

        <tbody>
            @for (int row = 1; row < Model.EntitySubEntities.Count; row++)
            {
                var entityId = Model.EntitySubEntities[row][2];

                @if (controllerName == "Funds")
                {
                    <tr class="tableRowPharus" onclick="document.location = '/SubFunds/ViewEntitySE/@entityId/@Model.ChosenDate'">
                        @for (int col = 0; col < Model.EntitySubEntities[row].Length; col++)
                        {
                            <td class="p-1">
                                @Model.EntitySubEntities[row][col]
                            </td>
                        }
                    </tr>
                }
                else if (controllerName == "SubFunds")
                {
                    <tr class="tableRowPharus" onclick="document.location = '/ShareClasses/ViewEntitySE/@entityId/@Model.ChosenDate'">
                        @for (int col = 0; col < Model.EntitySubEntities[row].Length; col++)
                        {
                            <td class="p-1">
                                @Model.EntitySubEntities[row][col]
                            </td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>