@{
    ViewData["Title"] = "Welcome to ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <style>
        body {
            background-image: none;
        }
    </style>
}

@if (!this.User.Identity.IsAuthenticated)
{
    <div class="jumbotron mt-3 bg-pharus">
        <h1 class="text-white">Welcome to Pharus Management DataGate Platform</h1>
        <hr class="bg-white hr-2" />
        <h3 class="text-white"><a href="/Identity/Account/Login">Login to Pharus DataGate</a> </h3>
    </div>
}
else if (this.User.IsInRole("Admin"))
{
    <h2 class="text-center">Hello, Administrator @this.User.Identity.Name!</h2>

    <hr class="hr-2 bg-pharus">
    <div class="w-100 d-flex justify-content-between flex-wrap" id="adminMainContainer">
        <div class="bg-white d-inline-block minw-160 minh-100">
            <div class="border-pharus p-3">
                <div class="p-2 d-flex justify-content-between">
                    <a href="/Admin/CreateUser" class="btn bg-pharus text-white mr-4">Create User</a>
                </div>
            </div>
        </div>
        <div class="bg-white d-inline-block minw-160 minh-100">
            <div class="border-pharus p-3">
                <div class="p-2 d-flex justify-content-around">
                    <a href="/Admin/ViewUsers" class="btn bg-pharus text-white">Users</a>
                </div>
            </div>
        </div>
        <div class="bg-white d-inline-block minw-160 minh-100">
            <div class="border-pharus p-3">
                <div class="p-2 d-flex justify-content-around">
                    <a href="" class="btn bg-pharus text-white">Reports</a>
                </div>
            </div>
        </div>
        <div class="bg-white d-inline-block minw-160 minh-100">
            <div class="border-pharus p-3">
                <div class="p-2 d-flex justify-content-around">
                    <a href="" class="btn bg-pharus text-white">Projects</a>
                </div>

            </div>
        </div>
    </div>
}

@section Scripts{
    <script>
        window.onload = () => {
            manageSideNavBar();
            manageDropdowns();
        }
    </script>
}