/*
*
* ==========================================
* BUTTONS
* ==========================================
*
*/

#btnLogin {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

    #btnLogin:hover {
        background-color: #555555;
        color: white;
    }

.btn-extract-pharus {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.btn-modal-pharus:hover {
    background-color: lightgray;
}

.btn-link-pharus {
    border: 0;
    outline: none;
    background: inherit;
    cursor: pointer;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: 400;
    color: #007bff;
}

    .btn-link-pharus:hover {
        /*color: #0056b3;*/
        text-decoration: underline
    }
