/*
*
* ==========================================
* MEDIA QUERY
* ==========================================
*
*/

@media only screen and (min-width: 768px) {
    #toolbar-pharus {
        height: 80px;
        display: flex;
    }

    #infoAndDocumentsView {
        display: flex;
    }

    #table-info-pharus {
        width: 35%;
    }

    #adminUserPanel {
        padding-left: 50px;
    }

    #div-select-addInfo {
        width: 25%;
    }

    #canvas-aum-pharus {
        width: 70%
    }

    footer {
        position: fixed;
        bottom: 0;
        border: 0;
        margin: 0px auto;
        width: 100%;
    }

    .footer-pharus {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .main-container-pharus {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    #allselect-div-pharus {
        display: flex;
    }

    #background-pharus {
        left: 0px;
        top: 0px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        height: 907px;
        overflow: hidden;
    }

    #logo-pharus {
        top: 23%;
        position: absolute;
    }

    #logo-login-pharus {
        top: 13%;
        left: 12.5%;
        position: absolute;
    }

    #welcome-text-pharus {
        top: 52%;
        position: absolute;
        text-align: center;
    }

    #login-text-pharus {
        top: 25%;
        left: 12.5%;
        position: absolute;
        font-size: 42px;
    }

    #btn-login-home {
        top: 72%;
        position: absolute;
    }

    #btn-login {
        outline: none;
        background: none;
        border: 0;
        top: 130%;
        right: 62%;
        position: absolute;
    }

    #footer-home-pharus {
        top: 97%;
        position: absolute;
        text-align: center;
    }

    #footer-login-pharus {
        top: 87%;
        position: absolute;
        left: 12.5%;
    }

    #login-form {
        position: absolute;
        top: 40%;
        left: 12.5%;
    }
}

@media only screen and (max-width: 600px) {
    #toolbar-pharus {
        overflow-x: scroll;
    }

    #canvas-aum-pharus {
        display: none;
    }

    #div-select-addInfo {
        width: 70%;
    }

    #allselect-div-pharus {
        display: inline;
    }

    #entityName {
        display: none;
    }

    #infoAndDocumentsView {
        display: inline;
    }

    footer {
        display: none;
    }

    .main-container-pharus {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .lbl-toolbar-pharus {
        display: none;
    }

    #background-pharus {
        left: 0px;
        top: 0px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        height: 644px;
        overflow: hidden;
    }

    #background-login-pharus {
        display: none;
    }

    #logo-pharus {
        top: 2%;
        position: absolute;
        width: 60%;
    }

    #logo-login-pharus {
        top: 13%;
        left: 12.5%;
        position: absolute;
    }

    #welcome-text-pharus {
        top: 37%;
        position: absolute;
        text-align: center;
        font-size: 250%;
    }

    #login-text-pharus {
        top: 25%;
        left: 12.5%;
        position: absolute;
        font-size: 42px;
    }

    #btn-login-home {
        top: 78%;
        position: absolute;
    }

    #btn-login {
        outline: none;
        background: none;
        border: 0;
        top: 130%;
        right: 62%;
        position: absolute;
    }

    #footer-home-pharus {
        top: 94%;
        position: absolute;
        text-align: center;
        display: block;
    }

    #footer-login-pharus {
        top: 129%;
        position: absolute;
        left: 12.5%;
    }

    #login-form {
        position: absolute;
        top: 60%;
        left: 9%;
    }
}
