/*
*
* ==========================================
* MEDIA QUERY
* ==========================================
*
*/

@media only screen and (min-width: 768px) {
    #toolbar-pharus {
        display: flex;
    }

    #infoAndDocumentsView {
        display: flex;
    }

    #adminUserPanel {
        padding-left: 50px;
    }
}

@media only screen and (max-width: 600px) {
    #toolbar-pharus {
        overflow-x:scroll;
    }

    #infoAndDocumentsView {
        display: inline;
    }
}
