/*
*
* ==========================================
* TOOLBAR
* ==========================================
*
*/

.lbl-toolbar-pharus {
    font-family: 'Times New Roman', Times, serif;
}

#toolbar-pharus {
    height: 80px;
}

#entityName {
    line-height: 80px;
    font-family: 'Times New Roman', Times, serif;
}
