
@{
    ViewData["Title"] = "Welcome to ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!this.User.Identity.IsAuthenticated)
{
    <div id="background-pharus-home">
        <div id="background-layer-home"><img src="~/images/Background_Layer_Home.png"></div>
        <div id="logo-pharus"><img src="~/images/Layer_Logo.png"></div>
        <div id="welcome-text-pharus"><img src="~/images/Welcome_Text.png"></div>
        <div id="login-rectangle-pharus"><a href="/Identity/Account/Login"><img src="~/images/Login_Rectangle.png"></a></div>
        <div id="login-text-pharus"><a href="/Identity/Account/Login"><img src="~/images/Login_Button.png"></a></div>
        <div id="footer-text-pharus"><img src="~/images/Footer_Text.png"></div>
    </div>
}
else
{
    <h1 class="text-center">Hello, @this.User.Identity.Name!</h1>
    @section Scripts{
        <script>
            window.onload = () => {
                manageSideNavBar();
                manageDropdowns();
            }
        </script>
    }
}
