
@{
    ViewData["Title"] = "Welcome to ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!this.User.Identity.IsAuthenticated)
{
    <div id="background-pharus-home">
        <div id="background-layer-home"><img src="~/images/Background_Layer_Home.png"></div>
        <div id="logo-pharus"><img src="~/images/Layer_Logo_Pharus.png"></div>
        <div id="WelcometoPharusManag"><img src="~/images/WelcometoPharusManag.png"></div>
        <div id="RoundedRectangle2"><a href="/Identity/Account/Login"><img src="~/images/Rounded Rectangle2.png"></a></div>
        <div id="LogintoPharusDataGat"><a href="/Identity/Account/Login"><img src="~/images/LogintoPharusDataGat.png"></a></div>
        <div id="PharusManagement2020"><img src="~/images/PharusManagement2020.png"></div>
    </div>
}
else
{
    <h1 class="text-center">Hello, @this.User.Identity.Name!</h1>
    @section Scripts{
        <script>
            window.onload = () => {
                manageSideNavBar();
                manageDropdowns();
            }
        </script>
    }
}
