
@{
    ViewData["Title"] = "Welcome to ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!this.User.Identity.IsAuthenticated)
{
    <div>
        <div id="background-pharus">
            <img src="~/images/Background_Home.png">
        </div>
        <div class="d-flex justify-content-center">
            <img id="logo-pharus" src="~/images/Layer_Logo.png">
        </div>
        <div class="d-flex justify-content-center">
            <text id="welcome-text-pharus"
                  class="text-white text-pharus">
                Welcome To <span class="bold-text-pharus">Pharus</span> Management<br>DataGate Platform
            </text>
        </div>

        <div class="d-flex justify-content-center login-div">
            <a id="login-rectangle-pharus" href="/Identity/Account/Login">
                <img src="~/images/Login_Button.png">
            </a>
        </div>
        <div class="d-flex justify-content-center">
            <text id="footer-text-pharus"
                  class="text-white text-footer-pharus">
                © Pharus Management Lux SA 16, Avenue de la Gare L- 1610 Luxembourg T. +352 28 55 69 - 1
            </text>
        </div>
    </div>
}
else
{
    <h1 class="text-center">Hello, @this.User.Identity.Name!</h1>
    @section Scripts{
        <script>
            window.onload = () => {
                manageSideNavBar();
                manageDropdowns();
            }
        </script>
    }
}