@using DataGate.Common
@model DataGate.Web.ViewModels.Entities.EntitiesOverviewViewModel

@{
    ViewData["Title"] = GlobalConstants.FundsControllerName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="justify-content-between">
    <form asp-controller="Funds"
          asp-action="All"
          method="post"
          id="update-form">
        <div>
            <div>
                <hr class="mt-0 mb-auto" />
                <div class="w-100" id="toolbar-pharus">
                    <partial name="AllEntities/_Select" />
                    <partial name="AllEntities/_Update" />
                    <partial name="AllEntities/_Extract" />
                    <div class="justify-content-center w-35">
                        <h2 class="text-center text-torshia" id="entityName">All Funds</h2>
                    </div>
                </div>
                <hr class="mt-1 mb-0" />
            </div>

            @if (this.TempData[GlobalConstants.InfoKey] != null)
            {
                <div class="alert alert-success" id="infoMessage">
                    @this.TempData[GlobalConstants.InfoKey]
                </div>
            }

            @if (this.TempData[GlobalConstants.ErrorKey] != null)
            {
                <div class="alert alert-danger" id="errorMessage">
                    @this.TempData[GlobalConstants.ErrorKey]
                </div>
            }

            <partial name="AllEntities/_Modal" />
            <partial name="AllEntities/_BindingTable" />
            <partial name="AllEntities/_ViewTable" />
        </div>
    </form>
</div>

@section Scripts{
    <script type="text/javascript" src="~/js/multiselect.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/autocomplete/loadAutocomplete.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/double-scroll/jquery.doubleScroll.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/submitForm.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/buttonRedirect.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/setTable.js" asp-append-version="true"></script>

    <script>
        window.onload = () => {
            manageSideNavBar();
            manageDropdowns();
            submitForm();
            buttonRedirect();
            setTableValues();
        }

        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }

        // Fade timeout for tempdata messages
        setTimeout(function () {
            $('#infoMessage').fadeOut();
            $('#errorMessage').fadeOut();
        }, 3000);

        $(document).ready(function () {

            var token = $("#update-form input[name=__RequestVerificationToken]").val();
            // ________________________________________________________
            //
            // Autocomplete search
            const controller = 'Funds';
            loadAutocomplete(token, controller, entityId = null);

            // ________________________________________________________
            //
            // Modal multiselect for column selection

            $(".multiselect").multiselect();

            // ________________________________________________________
            //
            // Double top scroll for wide table

            $('.double-scroll').doubleScroll();
            $('#tableDoubleScroll').doubleScroll({ resetOnWindowResize: true });
        });
    </script>
}