@model DataGate.Web.ViewModels.Entities.EntitiesOverviewViewModel

<div>
    <table class="table" name="THeaders" hidden>
        <thead>
            <tr>
                @foreach (var row in Model.THeaders)
                {
                    foreach (var col in row)
                    {
                        <th>
                            <h5>
                                @Html.TextBoxFor(h => col,
                                    new
                                         {
                                        @readonly = true
                                    })
                            </h5>
                        </th>
                    }
                }
            </tr>
        </thead>
    </table>
    <table class="table" name="TValues" hidden>
        <tbody>
            @foreach (var row in Model.TValues)
            {
                <tr>
                    @foreach (var col in row)
                    {
                        <td>
                            @Html.TextBoxFor(c => col,
                                new
                                     {
                                    @readonly = true
                                })
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>