@model DataGate.Web.ViewModels.Entities.EntitiesViewModel

<div class="w-30" style="margin-right: -0.3%;">
    <div class="h-100" id="allselect-div-pharus">

        <form class="d-flex"
              method="post"
              asp-action="All"
              id="update-form">

            <div class=" select-div-pharus">
                <select asp-for="SelectTerm"
                        id="SelectTerm"
                        class="form-control input-sm"
                        onchange="this.form.submit()">
                    <option value=@Model.SelectTerm selected>@Model.SelectTerm</option>
                </select>
            </div>

            <div class="ml-3">
                <button type="button"
                        class="btn btn-sm ml-2 btn-pharus"
                        data-toggle="modal"
                        data-target="#columnModal"
                        name="showColumnSelection">
                    Column Choice
                </button>
            </div>

            <div class="el-switch-div ml-3">
                <label class="el-switch el-switch-sm mt-1">
                    <input type="checkbox"
                           asp-for="IsActive"
                           id="activeCheckBox">
                    <span class="el-switch-style"></span>
                    <span class="d-block">Show</span>
                    <span>Active</span>
                </label>
            </div>
            <div class="ml-3">
                <a class="btn btn-pharus btn-sm" asp-action="All">
                    Reset
                </a>
            </div>

            <div class="vertical mx-3"></div>

            <div>
                <input type="date"
                       id="date-pharus"
                       asp-for="Date"
                       min="2018-01-01">
                <input type="submit"
                       class="btn btn-pharus btn-sm mb-2p"
                       name="Command"
                       value="Update Table"></>
            </div>

            <partial name="AllEntities/_ModalSelect" />
        </form>

        <div class="vertical mx-3"></div>

        <div>
            <form method="post" id="extract-form"></form>

            <button class="btn btn-sm btn-pharus"
                    id="btn-extract-excel"
                    type="button"
                    value="Excel">
                Excel
            </button>

            <button class="btn btn-sm btn-pharus ml-4"
                    id="btn-extract-pdf"
                    type="button"
                    value="PDF">
                PDF
            </button>
        </div>

        <div class="vertical mx-3"></div>

    </div>
    <span asp-validation-for="Date" class="text-danger"></span>
</div>