@model DataGate.Web.ViewModels.Entities.EntitiesOverviewViewModel

<div>
    <div class="d-flex h-70">
        <div style="margin-top:-0.2%">
            <input type="date"
                   id="date-pharus"
                   asp-for="Date"
                   min="2018-01-01">
            <input type="submit"
                   class="btn btn-primary btn-sm" style="margin-bottom:2%"
                   name="Command"
                   value="Update Table"></>
        </div>
    </div>
    <span asp-validation-for="Date" class="text-danger"></span>
</div>

<div class="vertical mx-3"></div>