@model DataGate.Web.ViewModels.Entities.EntitiesViewModel

<div>
    <div class="d-flex h-70">
        <div style="margin-top:-0.2%">
            <input type="date"
                   id="date-pharus"
                   asp-for="ChosenDate"
                   min="2018-01-01">

            <input type="submit"
                   class="btn btn-primary btn-sm" style="margin-bottom:2%"
                   asp-for="Command"
                   value="Update Table"></>
        </div>
    </div>
</div>

<div class="vertical mx-3"></div>