@using DataGate.Common
@model DataGate.Web.ViewModels.Entities.EntitiesViewModel

@{
    var controller = this.ViewContext.RouteData.Values[GlobalConstants.ControllerRouteDataValue].ToString();
    var targetRoute = string.Empty;

    if (controller == GlobalConstants.FundsControllerName)
    {
        targetRoute = "f";
    }

    var entityId = string.Empty;
}
<div class="table-responsive border-0 mx-auto" id="tableDoubleScroll">
    <table class="table table-hover text-nowrap" name="Entities">
        <thead>
            <tr>
                @foreach (var row in Model.Headers)
                {
                    foreach (var col in row)
                    {
                        <th class="text-white pr-3 tableHeaderPharus">
                            @col
                        </th>
                    }
                }

                @*@for (int row = 0; row < 1; row++)
                {
                    @for (int col = 0; col < Model.Entities[row].Length; col++)
                    {
                        <th class="text-white pr-3 tableHeaderPharus">
                            @Model.Entities[row][col]
                        </th>
                    }
                }*@
            </tr>
        </thead>
        <tbody>
            @*@for (int row = 1; row < Model.Entities.Count; row++)
            {
                entityId = Model.Entities[row][2];

                <tr class="">
                    @for (int col = 0; col < Model.Entities[row].Length; col++)
                    {
                        if (Model.Entities[0][col].Contains("NAME"))
                        {
                            <td class="p-1 tableCellPharus" onclick="document.location ='/@targetRoute/@entityId/@Model.Date'">
                                @Model.Entities[row][col]
                            </td>
                        }
                        else
                        {
                            <td class="p-1">
                                @Model.Entities[row][col]
                            </td>
                        }
                    }
                </tr>
            }*@
        </tbody>
    </table>
</div>
