version: 1.0.{build}
os: Visual Studio 2019
before_build:
- nuget install redis-64 -excludeversion
- redis-64\tools\redis-server.exe --service-install
- redis-64\tools\redis-server.exe --service-start --port 6379
- dotnet restore src\DataGate\DataGate.sln
build:
  project: src\DataGate\DataGate.sln
  verbosity: minimal

environment:
  APPVEYOR_RDP_PASSWORD: DataGate88!

on_finish:
  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
  
