@using DataGate.Common
@model DataGate.Web.ViewModels.Entities.SpecificEntityViewModel

@{
    ViewData["Title"] = GlobalConstants.FundsControllerName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-controller="FundSubEntities"
      class="justify-content-between"
      method="post"
      style="margin-top: -3.95rem">

    <partial name="SpecificEntity/_Toolbar" />

    @if (this.TempData[GlobalConstants.ParentInfoMessageDisplay] != null)
    {
        <div class="alert alert-success" id="parentInfoMessage">
            @this.TempData[GlobalConstants.ParentInfoMessageDisplay]
        </div>
    }

    <div class="justify-content-between" id="infoAndDocumentsView">
        <partial name="SpecificEntity/_Info" />
        <partial name="SpecificEntity/_Load_Documents" />
    </div>

    <hr class="bg-pharus hr-2" />

    <div class="row ml-3" id="div-select-addInfo">
        <label class="text-torshia m-1 pr-3">FUND ADDITIONAL INFORMATION</label>
        <select class="custom-select-lg select-pharus form-control input-sm"
                id="fundAdditionalInfSelect"
                asp-for="SelectAdditionalInf">
            <option value="" selected disabled>Select</option>
            <option value="SubFunds">Sub Funds</option>
            <option value="TimelineChanges">Timeline Changes</option>
            <option value="AllDocuments">All Documents</option>
            <option value="AllAgreements">All Agreements</option>
        </select>
    </div>

    <partial name="SpecificEntity/_AllDocuments" />
    <partial name="SpecificEntity/_AllAgreements" />
    <partial name="SpecificEntity/_Timeline" />

    <div id="subEntities" class="mt-4">
        <div>
            <div class="d-flex w-100 mb-2" id="toolbar-pharus">
                <partial name="SpecificEntity/SubEntities/_Select" />
                <partial name="SpecificEntity/SubEntities/_Extract" />
            </div>
        </div>
        @if (this.TempData[GlobalConstants.InfoMessageDisplay] != null)
        {
            <div class="alert alert-success" id="infoMessage">
                @this.TempData[GlobalConstants.InfoMessageDisplay]
            </div>
        }

        @if (this.TempData[GlobalConstants.ErrorMessageDisplay] != null)
        {
            <div class="alert alert-danger" id="errorMessage">
                @this.TempData[GlobalConstants.ErrorMessageDisplay]
            </div>
        }

        <partial name="SpecificEntity/SubEntities/_BindingTable" />
        <partial name="SpecificEntity/SubEntities/_ViewTable" />

        <partial name="SpecificEntity/SubEntities/_Modal" />
    </div>
</form>

<form asp-controller="FundSubEntities"
          asp-action="UploadProspectus"
          method="post"
          enctype="multipart/form-data">

        <partial name="SpecificEntity/_UploadPros" />
    </form>

    @*<form asp-controller="FundSubEntities"
          asp-action="UploadAgreement"
          enctype="multipart/form-data">

        <input asp-for="EntityId" type="text" hidden>
        <input asp-for="ChosenDate" type="date" hidden>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="modal"
             id="upAgrModal"
             role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body d-grid justify-content-center" id="agrModalBody">
                        @await Html.PartialAsync("SpecificEntity/_UploadAgr")
                    </div>
                </div>
            </div>
        </div>
    </form>*@

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="text/javascript" src="~/js/multiselect.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/double-scroll/jquery.doubleScroll.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/setDates.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/delete/deleteAgreement.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/select2/select2-entity-subentity.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/select-additional-info/select-fund-addInfo.js" asp-append-version="true"></script>

    <script>
        window.onload = () => {
            manageSideNavBar();
            manageDropdowns();
            setDates();
        }

        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }

        // Fade timeout for tempdata messages
        setTimeout(function () {
            $('#parentInfoMessage').fadeOut();
            $('#infoMessage').fadeOut();
            $('#errorMessage').fadeOut();
        }, 3000);

        $(document).ready(function () {

            // ________________________________________________________
            //
            // Delete selected row from agreements table by confirming

            const urlDel = "/FundSubEntities/DeleteAgreement";

            passAgrUrlToDelete(urlDel);

            // ________________________________________________________
            //
            // Automatic Scroll if selected value

            const JumpTo = document.getElementById('fundAdditionalInfSelect');
            if (JumpTo.value == "SubFunds") {
                $(this).scrollTop($(JumpTo).position().top);
            }

            // ________________________________________________________
            //
            // Modal multiselect for column selection

            $(".multiselect").multiselect();

            // ________________________________________________________
            //
            // Autocomplete search

            const urlACS = "/FundSubEntities/AutoCompleteSubFundList";
            const entityId = @Model.EntityId;

            passUrlAndEntityToSelect(urlACS, entityId);

            // ________________________________________________________
            //
            // Double top scroll for table

            $('.double-scroll').doubleScroll();
            $('#tableDoubleScroll').doubleScroll({ resetOnWindowResize: true });
        });
    </script>
}