USE [master]
GO
CREATE DATABASE [DataGate_Test]
GO
USE [DataGate_Test]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_historyFund](
	[f_id] [int] NOT NULL,
	[f_initial_date] [datetime] NOT NULL,
	[f_end_date] [datetime] NULL,
	[f_status] [int] NULL,
	[f_registration_number] [nvarchar](100) NULL,
	[f_official_fund_name] [nvarchar](100) NULL,
	[f_short_fund_name] [nvarchar](100) NULL,
	[f_lei_code] [nvarchar](100) NULL,
	[f_cssf_code] [nvarchar](100) NULL,
	[f_fa_code] [nvarchar](100) NULL,
	[f_dep_code] [nvarchar](100) NULL,
	[f_ta_code] [nvarchar](100) NULL,
	[f_legal_form] [int] NULL,
	[f_legal_type] [int] NULL,
	[f_legal_vehicle] [int] NULL,
	[f_company_type] [int] NULL,
	[f_tin_number] [nvarchar](100) NULL,
	[f_change_comment] [nvarchar](max) NULL,
	[f_comment_title] [nvarchar](50) NULL,
	[f_vat_registration_number] [nvarchar](100) NULL,
	[f_vat_identification_number] [nvarchar](100) NULL,
	[f_ibic_number] [nvarchar](100) NULL,
	[f_fund_admin] [int] NULL,
 CONSTRAINT [PK_tb_fund] PRIMARY KEY CLUSTERED 
(
	[f_id] ASC,
	[f_initial_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_timeline_fund]
(	
		@id_fund int
)
RETURNS TABLE 
AS
RETURN 
(
	 select 
         f_id [ID],
	 convert(varchar,f_initial_date, 103) [INITIAL DATE],
	 convert(varchar,f_end_date, 103) [END DATE], 
	 f_comment_title [COMMENT TITLE],
	 f_change_comment [COMMENT]
	 from tb_historyFund hf 
	 where hf.f_id=@id_fund
)
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_dom_company_type](
	[ct_id] [int] NOT NULL,
	[ct_desc] [varchar](100) NOT NULL,
	[ct_acronym] [varchar](100) NOT NULL,
 CONSTRAINT [PK_tb_dom_companyType] PRIMARY KEY CLUSTERED 
(
	[ct_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_dom_f_status](
	[st_f_id] [int] NOT NULL,
	[st_f_desc] [nvarchar](100) NULL,
 CONSTRAINT [PK_tb_dom_f_status] PRIMARY KEY CLUSTERED 
(
	[st_f_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_dom_legal_form](
	[lf_id] [int] NOT NULL,
	[lf_acronym] [varchar](100) NOT NULL,
 CONSTRAINT [PK_tb_dom_legal_form] PRIMARY KEY CLUSTERED 
(
	[lf_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_dom_legal_vehicle](
	[lv_id] [int] NOT NULL,
	[lv_acronym] [varchar](100) NOT NULL,
	[lv_fk_legal_type] [int] NOT NULL,
 CONSTRAINT [PK_tb_dom_legal_vehicle] PRIMARY KEY CLUSTERED 
(
	[lv_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_dom_fund_admin_type](
	[fat_id] [int] IDENTITY(1,1) NOT NULL,
	[fat_desc] [varchar](100) NOT NULL,
	[fat_acronym] [nchar](5) NOT NULL,
 CONSTRAINT [PK__tb_dom_fund_admin_type] PRIMARY KEY CLUSTERED 
(
	[fat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_dom_legal_type](
	[lt_id] [int] NOT NULL,
	[lt_acronym] [varchar](100) NOT NULL,
 CONSTRAINT [PK_tb_dom_legalType] PRIMARY KEY CLUSTERED 
(
	[lt_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_fund_id]
(	
		@report_date date,
		@fundid as int
)
RETURNS TABLE 
AS
RETURN 
(

select 
[FUND ID],
[VALID FROM],
	case
	when [VALID UNTIL] is null then 'STILL VALID'
	else [VALID UNTIL] end as [VALID UNTIL] ,
[FUND NAME],
[STATUS],
[CSSF CODE],
[LEGAL FORM],
[LEGAL VEHICLE],
[LEGAL TYPE],
[FUND ADMIN CODE],
[DEP. CODE],
[TRANSFER AGENT CODE],
[COMPANY DESCRIPTION],
[COMPANY TYPE],
[TIN NUMBER],
[LEI CODE],
[REG. NUMBER],
[VAT REG. NUMBER],
[VAT IDENT. NUMBER],
[I.B.I.C. NUMBER]
from (

SELECT 
 convert(varchar, f.f_initial_date, 103)[VALID FROM],
			convert(varchar, f.f_end_date, 103) [VALID UNTIL],
			f.f_id [FUND ID],
			f.f_official_fund_name [FUND NAME],  
			f.f_cssf_code [CSSF CODE],  
			ft.st_f_desc [STATUS], 
			lf.lf_acronym [LEGAL FORM],  
			lv.lv_acronym [LEGAL VEHICLE], 
			lt.lt_acronym [LEGAL TYPE], 
			CONCAT(fat.fat_acronym, '- ',  f_fa_code ) [FUND ADMIN CODE],
			f_dep_code [DEP. CODE],
			f_ta_code [TRANSFER AGENT CODE],
			ct.ct_desc [COMPANY DESCRIPTION],  
			CT.ct_acronym [COMPANY TYPE], 
			f.f_tin_number [TIN NUMBER], 
			f.f_lei_code [LEI CODE],
			f.f_registration_number [REG. NUMBER],
                        f.f_vat_registration_number [VAT REG. NUMBER],
                        f.f_vat_Identification_number [VAT IDENT. NUMBER],
                        f.f_ibic_number [I.B.I.C. NUMBER]
	
	FROM tb_historyFund f
				left join tb_dom_f_status ft  on ft.st_f_id=f.f_status
				left join tb_dom_legal_form lf on lf.lf_id=f.f_legal_form
				left join tb_dom_legal_vehicle lv on lv.lv_id=f.f_legal_vehicle
				left join tb_dom_legal_type lt on lt.lt_id=f.f_legal_type
				left join tb_dom_company_type ct on ct.ct_id=f.f_company_type
                                left join tb_dom_fund_admin_type fat on fat.fat_id=f.f_fund_admin


	Where (@fundid = f.f_id) AND (@report_date between f.f_initial_date and f.f_end_date  OR (@report_date >= f.f_initial_date and f.f_end_date is null))
	)tb2
)
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_fundSubFund](
	[sf_id] [int] NOT NULL,
	[f_id] [int] NOT NULL,
	[fsf_startConnection] [datetime] NOT NULL,
	[fsf_endConnection] [datetime] NULL,
 CONSTRAINT [PK_tb_fundSubFund] PRIMARY KEY CLUSTERED 
(
	[sf_id] ASC,
	[fsf_startConnection] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_historySubFund](
	[sf_id] [int] NOT NULL,
	[sf_initialDate] [datetime] NOT NULL,
	[sf_endDate] [datetime] NULL,
	[sf_officialSubFundName] [nvarchar](100) NULL,
	[sf_shortSubFundName] [nvarchar](100) NULL,
	[sf_cssfCode] [nvarchar](100) NULL,
	[sf_faCode] [nvarchar](100) NULL,
	[sf_depCode] [nvarchar](100) NULL,
	[sf_taCode] [nvarchar](100) NULL,
	[sf_firstNavDate] [datetime] NULL,
	[sf_lastNavDate] [datetime] NULL,
	[sf_cssfAuthDate] [datetime] NULL,
	[sf_expDate] [datetime] NULL,
	[sf_status] [int] NULL,
	[sf_leiCode] [nvarchar](100) NULL,
	[sf_cesrClass] [int] NULL,
	[sf_cssf_geographical_focus] [int] NULL,
	[sf_globalExposure] [int] NULL,
	[sf_currency] [nchar](3) NULL,
	[sf_navFrequency] [int] NULL,
	[sf_valutationDate] [int] NULL,
	[sf_calculationDate] [int] NULL,
	[sf_derivatives] [bit] NULL,
	[sf_derivMarket] [int] NULL,
	[sf_derivPurpose] [int] NULL,
	[sf_lastProspectus] [datetime] NULL,
	[sf_lastProspectusDate] [datetime] NULL,
	[sf_principal_asset_class] [int] NULL,
	[sf_type_of_market] [int] NULL,
	[sf_principal_investment_strategy] [int] NULL,
	[sf_clearing_code] [nvarchar](100) NULL,
	[sf_cat_morningstar] [int] NULL,
	[sf_category_six] [int] NULL,
	[sf_category_bloomberg] [int] NULL,
	[sf_change_comment] [nvarchar](max) NULL,
	[sf_comment_title] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_historySubFund] PRIMARY KEY CLUSTERED 
(
	[sf_id] ASC,
	[sf_initialDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_dom_navFrequency](
	[nf_id] [int] NOT NULL,
	[nf_desc] [nvarchar](100) NULL,
 CONSTRAINT [PK_tb_dom_navFrequency] PRIMARY KEY CLUSTERED 
(
	[nf_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_dom_sf_status](
	[st_id] [int] NOT NULL,
	[st_desc] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_tb_dom_sf_status] PRIMARY KEY CLUSTERED 
(
	[st_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_dom_calculationDate](
	[cd_id] [int] NOT NULL,
	[cd_desc] [nvarchar](100) NULL,
 CONSTRAINT [PK_tb_dom_calculationDate] PRIMARY KEY CLUSTERED 
(
	[cd_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_dom_cesrClass](
	[cc_id] [int] NOT NULL,
	[c_desc] [nvarchar](100) NULL,
 CONSTRAINT [PK_tb_dom_cesrClass] PRIMARY KEY CLUSTERED 
(
	[cc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_dom_cssf_geographical_focus](
	[gf_id] [int] NOT NULL,
	[gf_desc] [nvarchar](100) NULL,
 CONSTRAINT [PK_tb_dom_cssf_geographical_focus] PRIMARY KEY CLUSTERED 
(
	[gf_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_dom_cssf_principal_asset_class](
	[pac_id] [int] NOT NULL,
	[pac_desc] [nvarchar](100) NULL,
 CONSTRAINT [PK_tb_dom_cssf_principal_asset_class] PRIMARY KEY CLUSTERED 
(
	[pac_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_dom_derivMarket](
	[dm_id] [int] NOT NULL,
	[dm_desc] [nvarchar](100) NULL,
 CONSTRAINT [PK_tb_dom_derivMarket] PRIMARY KEY CLUSTERED 
(
	[dm_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_dom_derivPurpose](
	[dp_id] [int] NOT NULL,
	[dp_desc] [nvarchar](100) NULL,
 CONSTRAINT [PK_tb_dom_derivPurpose] PRIMARY KEY CLUSTERED 
(
	[dp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_dom_globalExposure](
	[ge_id] [int] NOT NULL,
	[ge_desc] [nvarchar](100) NULL,
 CONSTRAINT [PK_tb_dom_globalExposure] PRIMARY KEY CLUSTERED 
(
	[ge_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_dom_principal_investment_strategy](
	[pis_id] [int] NOT NULL,
	[pis_desc] [nvarchar](100) NULL,
 CONSTRAINT [PK_tb_dom_principal_investment_strategy] PRIMARY KEY CLUSTERED 
(
	[pis_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_dom_sf_cat_bloomberg](
	[cat_bloomberg_id] [int] NOT NULL,
	[cat_bloomberg_Desc] [nvarchar](100) NULL,
	[cat_bloomberg_Desc_expl] [nvarchar](max) NULL,
 CONSTRAINT [PK_tb_dom_sf_cat_bloomberg] PRIMARY KEY CLUSTERED 
(
	[cat_bloomberg_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_dom_sf_cat_morningstar](
	[c_morningstar_id] [int] NOT NULL,
	[c_morningstar_desc] [nvarchar](100) NULL,
 CONSTRAINT [PK_tb_dom_sf_cat_morningstar] PRIMARY KEY CLUSTERED 
(
	[c_morningstar_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_dom_sf_cat_six](
	[cat_six_id] [int] NOT NULL,
	[cat_six_desc] [nvarchar](100) NULL,
 CONSTRAINT [PK_tb_dom_sf_cat_six] PRIMARY KEY CLUSTERED 
(
	[cat_six_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_dom_type_of_market](
	[tom_id] [int] NOT NULL,
	[tom_desc] [nvarchar](100) NULL,
 CONSTRAINT [PK_tb_dom_type_of_market] PRIMARY KEY CLUSTERED 
(
	[tom_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_dom_valutationDate](
	[vd_id] [int] NOT NULL,
	[vd_desc] [nvarchar](100) NULL,
 CONSTRAINT [PK_tb_dom_valutationDate] PRIMARY KEY CLUSTERED 
(
	[vd_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_serviceAgreement_fund](
	[file_id] [int] NOT NULL,
	[file_name] [nvarchar](max) NOT NULL,
	[file_extension] [nvarchar](5) NOT NULL,
	[sa_fundId] [int] NOT NULL,
	[sa_activityType] [int] NOT NULL,
	[sa_contractDate] [datetime] NOT NULL,
	[sa_activationDate] [datetime] NOT NULL,
	[sa_expirationDate] [datetime] NULL,
	[sa_status] [int] NOT NULL,
	[sa_company] [int] NOT NULL,
 CONSTRAINT [PK__tb_serviceAgreement_fund] PRIMARY KEY CLUSTERED 
(
	[file_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_all_subfund]
(	
		@report_date date 
)
RETURNS TABLE 
AS
RETURN 
(

SELECT top(1000)

 [ID]
,[VALID FROM]
, case
	when [VALID UNTIL] is null then 'STILL VALID'
	else [VALID UNTIL] end as [VALID UNTIL]
, [NAME]
, [STATUS]
, [CSSF CODE]
, [ADMIN CODE]
, [DEPOSITARY BANK CODE]
, [TRANSFER AGENT CODE]
, [FIRST NAV DATE]
, [LAST NAV DATE]
, [CSSF AUTH. DATE]
, [EXPIRY DATE]
,[LEI CODE]
,[CESR CLASS]
,[GEO FOCUS]
,[GLOBAL EXPOSURE]
,[CURRENCY]
,[FREQUENCY]
,[VALUATION DATE]
,[CALCULATION DATE]
,[DERIVATIVES]
,[DERIV. MARKET]
,[DERIV. PURPOSE]
,[PRINCIPAL ASSET CLASS]
,[MARKET TYPE]
,[PRINCIPAL INVESTMENT STRATEGY]
,[CLEARING CODE]
,[MORNINGSTAR CATEGORY]
,[SIX CATEGORY]
,[BLOOMBERG CATEGORY]	
FROM
(
select 

 sf_id [ID]
,convert(varchar,sf_initialDate, 103) [VALID FROM]
,convert(varchar,sf_endDate, 103) [VALID UNTIL]
,sf_officialSubFundName [NAME]
,sfstat.st_desc [STATUS]
,sf_cssfCode [CSSF CODE]
,sf_faCode [ADMIN CODE]
,sf_depCode [DEPOSITARY BANK CODE]
,sf_taCode [TRANSFER AGENT CODE]
,convert(varchar,sf_firstNavDate, 103) [FIRST NAV DATE]
,convert(varchar,sf_lastNavDate, 103) [LAST NAV DATE]
,convert(varchar,sf_cssfAuthDate, 103) [CSSF AUTH. DATE]
,convert(varchar,sf_expDate, 103) [EXPIRY DATE]
,sf_leiCode [LEI CODE]
,sfcesr.c_desc [CESR CLASS]
,sfgeo.gf_desc [GEO FOCUS]
,sfge.ge_desc [GLOBAL EXPOSURE]
,sf_currency [CURRENCY]
,nfreq.nf_desc [FREQUENCY]
,vdate.vd_desc [VALUATION DATE]
,cdate.cd_desc [CALCULATION DATE]
,case 
	when sf_derivatives=1 then 'Yes'
	when sf_derivatives=0 then 'No'
	else NULL
	END as [DERIVATIVES]
,dmar.dm_desc [DERIV. MARKET]
,dpur.dp_desc [DERIV. PURPOSE]
,pac.pac_desc [PRINCIPAL ASSET CLASS]
,tom.tom_desc [MARKET TYPE]
,pis.pis_desc [PRINCIPAL INVESTMENT STRATEGY]
,sf_clearing_code [CLEARING CODE]
,cms.c_morningstar_desc [MORNINGSTAR CATEGORY]
,cs.cat_six_desc [SIX CATEGORY]
,cb.cat_bloomberg_Desc [BLOOMBERG CATEGORY]	
	
	
	FROM tb_historySubFund sf
				left join tb_dom_sf_status sfstat on sfstat.st_id=sf.sf_status
				left join tb_dom_cesrClass sfcesr on sfcesr.cc_id=sf.sf_cesrClass
				left join tb_dom_cssf_geographical_focus sfgeo on sfgeo.gf_id=sf.sf_cssf_geographical_focus
				left join tb_dom_globalExposure sfge on sfge.ge_id=sf.sf_globalExposure
				left join tb_dom_navFrequency nfreq on nfreq.nf_id=sf.sf_navFrequency
				left join tb_dom_valutationDate vdate on vdate.vd_id=sf.sf_valutationDate
				left join tb_dom_calculationDate cdate on cdate.cd_id=sf.sf_calculationDate
				left join tb_dom_derivMarket dmar on dmar.dm_id=sf.sf_derivMarket
				left join tb_dom_derivPurpose dpur on dpur.dp_id=sf.sf_derivPurpose
				left join tb_dom_cssf_principal_asset_class pac on pac.pac_id=sf.sf_principal_asset_class
				left join tb_dom_type_of_market tom on tom.tom_id=sf.sf_type_of_market
				left join tb_dom_principal_investment_strategy pis on pis.pis_id=sf.sf_principal_investment_strategy
				left join tb_dom_sf_cat_morningstar cms on cms.c_morningstar_id=sf.sf_cat_morningstar
				left join tb_dom_sf_cat_six cs on cs.cat_six_id=sf.sf_category_six
				left join tb_dom_sf_cat_bloomberg cb on cb.cat_bloomberg_id=sf.sf_category_bloomberg


	Where (	@report_date between sf.sf_initialDate and sf.sf_endDate  OR (@report_date > sf.sf_initialDate and sf.sf_endDate is null))
) t2 
ORDER BY t2.[NAME]
) 
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_country_distribution_shares](
	[share_id] [int] NOT NULL,
	[iso_country_2] [nchar](2) NOT NULL,
	[local_representative] [int] NULL,
	[paying_agent] [int] NULL,
	[legal_support] [int] NULL,
	[language] [nchar](3) NOT NULL,
 CONSTRAINT [PK_tb_country_distribution_shares] PRIMARY KEY CLUSTERED 
(
	[share_id] ASC,
	[iso_country_2] ASC,
	[language] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_companies](
	[c_id] [int] NOT NULL,
	[c_name] [nvarchar](max) NOT NULL,
	[c_iso3_acronym] [varchar](3) NULL,
 CONSTRAINT [PK_tb_company] PRIMARY KEY CLUSTERED 
(
	[c_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_get_share_distribution_countries]
(	
 @shareID as int
)
RETURNS TABLE 
AS
RETURN 
(
  select
		tcd.share_id,
		tcd.iso_country_2 [COUNTRY],
		tcd.[language] [LANGUAGE], 
		comLR.c_name [LOCAL REPRESENTATIVE],
		comPA.c_name [PAYING AGENT],
		comLS.c_name [LEGAL SUPPORT]
 
 from [tb_country_distribution_shares] tcd
  left  join  tb_companies comLR on comLR.c_id=tcd.local_representative
  left  join  tb_companies comPA on comPA.c_id=tcd.paying_agent
  left  join  tb_companies comLS on comLS.c_id=tcd.legal_support

  where tcd.share_id=@shareID
)
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_all_fund]
(	
		@report_date date 
)
RETURNS TABLE 
AS
RETURN 
(

select top(1000)
[ID],
[VALID FROM],
	case
	when [VALID UNTIL] is null then 'STILL VALID'
	else [VALID UNTIL] end as [VALID UNTIL],
[NAME],
[STATUS],
[CSSF CODE],
[LEGAL FORM],
[LEGAL VEHICLE],
[LEGAL TYPE],
[FUND ADMIN CODE],
[DEP. CODE],
[TRANSFER AGENT CODE],
[COMPANY DESCRIPTION],
[COMPANY TYPE],
[TIN NUMBER],
[LEI CODE],
[REG. NUMBER],
[VAT REG. NUMBER],
[VAT IDENT. NUMBER],
[I.B.I.C. NUMBER]
from (

SELECT 
                        convert(varchar, f.f_initial_date, 103)[VALID FROM],
			convert(varchar, f.f_end_date, 103) [VALID UNTIL],
			f.f_id [ID],
			f.f_official_fund_name [NAME],  
			f.f_cssf_code [CSSF CODE],  
			ft.st_f_desc [STATUS], 
			lf.lf_acronym [LEGAL FORM],  
			lv.lv_acronym [LEGAL VEHICLE], 
			lt.lt_acronym [LEGAL TYPE], 
			CONCAT(tb_comp_fund.c_iso3_acronym, '- ',  f_fa_code ) [FUND ADMIN CODE],
			f_dep_code [DEP. CODE],
			f_ta_code [TRANSFER AGENT CODE],
			ct.ct_desc [COMPANY DESCRIPTION],  
			CT.ct_acronym [COMPANY TYPE], 
			f.f_tin_number [TIN NUMBER], 
			f.f_lei_code [LEI CODE],
			f.f_registration_number [REG. NUMBER],
                        f.f_vat_registration_number [VAT REG. NUMBER],
                        f.f_vat_Identification_number [VAT IDENT. NUMBER],
                        f.f_ibic_number [I.B.I.C. NUMBER]
	
	FROM tb_historyFund f
				left join tb_dom_f_status ft  on ft.st_f_id=f.f_status
				left join tb_dom_legal_form lf on lf.lf_id=f.f_legal_form
				left join tb_dom_legal_vehicle lv on lv.lv_id=f.f_legal_vehicle
				left join tb_dom_legal_type lt on lt.lt_id=f.f_legal_type
				left join tb_dom_company_type ct on ct.ct_id=f.f_company_type
					left join (select tc.c_id, tc.c_name, tc.c_iso3_acronym, sa_fundId from tb_serviceAgreement_fund saf 
								join tb_companies tc on tc.c_id=saf.sa_company
								where sa_activityType=8 
								and (@report_date >= saf.sa_activationDate and (saf.sa_expirationDate>@report_date or saf.sa_expirationDate is null) and sa_status=1)
								)tb_comp_fund  on sa_fundId=f.f_id


	Where (@report_date between f.f_initial_date and f.f_end_date  OR (@report_date >= f.f_initial_date and f.f_end_date is null))
	)tb2
)
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_historyShareClass](
	[sc_id] [int] NOT NULL,
	[sc_initialDate] [datetime] NOT NULL,
	[sc_endDate] [datetime] NULL,
	[sc_officialShareClassName] [nvarchar](100) NULL,
	[sc_shortShareClassName] [nvarchar](100) NULL,
	[sc_investorType] [int] NULL,
	[sc_shareType] [int] NULL,
	[sc_currency] [nchar](3) NULL,
	[sc_countryIssue] [nchar](2) NULL,
	[sc_ultimateParentCountryRisk] [nchar](2) NULL,
	[sc_emissionDate] [datetime] NULL,
	[sc_inceptionDate] [datetime] NULL,
	[sc_lastNav] [datetime] NULL,
	[sc_expiryDate] [datetime] NULL,
	[sc_status] [int] NULL,
	[sc_initialPrice] [float] NULL,
	[sc_accountingCode] [nvarchar](100) NULL,
	[sc_hedged] [bit] NULL,
	[sc_listed] [bit] NULL,
	[sc_bloomberMarket] [nvarchar](100) NULL,
	[sc_bloombedCode] [nvarchar](100) NULL,
	[sc_bloombedId] [nvarchar](100) NULL,
	[sc_isinCode] [nchar](12) NULL,
	[sc_valorCode] [nvarchar](100) NULL,
	[sc_faCode] [nvarchar](100) NULL,
	[sc_taCode] [nvarchar](100) NULL,
	[sc_WKN] [nvarchar](100) NULL,
	[sc_date_business_year] [datetime] NULL,
	[sc_prospectus_code] [nvarchar](100) NULL,
	[sc_change_comment] [nvarchar](max) NULL,
	[sc_comment_title] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_historyShareClass] PRIMARY KEY CLUSTERED 
(
	[sc_id] ASC,
	[sc_initialDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_dom_investor_type](
	[it_id] [int] NOT NULL,
	[it_desc] [nvarchar](100) NULL,
 CONSTRAINT [PK_tb_dom_investor_type] PRIMARY KEY CLUSTERED 
(
	[it_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_dom_share_status](
	[sc_s_id] [int] NOT NULL,
	[sc_s_desc] [nvarchar](100) NULL,
 CONSTRAINT [PK_tb_dom_share_status] PRIMARY KEY CLUSTERED 
(
	[sc_s_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_dom_share_type](
	[st_id] [int] NOT NULL,
	[st_desc] [nvarchar](100) NULL,
 CONSTRAINT [PK_tb_dom_share_type] PRIMARY KEY CLUSTERED 
(
	[st_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_all_shareclass]
(	
		@report_date date 
)
RETURNS TABLE 
AS
RETURN 
(

SELECT TOP(1000) 

 [ID]	
,[VALID FROM]
,case
	when [VALID UNTIL] is null then 'STILL VALID'
	else [VALID UNTIL] end as [VALID UNTIL]
,[NAME]
,[STATUS]
,[ISIN]
,[INVESTOR TYPE]
,[SHARE TYPE]
,[CCY]
,[COUNTRY ISSUE]
,[ULT PARENT COUNTRY OF RISK]
,[EMISSION DATE]
,[INCEPTION DATE]
,[LAST NAV]
,[EXPIRY DATE]
,[INITIAL PRICE]
,[ACCOUNTING CODE]
,[HEDGED]
,[LISTED]
,[BLOOMBERG MARKET]
,[BLOOMBERG CODE]
,[BLOOMBERG ID]
,[VALOR CODE]
,[FUND ADMIN. CODE]
,[TRASFER AGENT CODE]
,[WKN CODE]
,[BUSINESS YEAR]
,[PROSPECTUS CODE]	
FROM 
( 

SELECT

 sc_id [ID]	
,convert(varchar, sc_initialDate, 103) [VALID FROM]
,convert(varchar, sc_endDate, 103) [VALID UNTIL]
,sc_officialShareClassName [NAME]
,stat.sc_s_desc [STATUS]
,intype.it_desc [INVESTOR TYPE]
,sharetype.st_desc [SHARE TYPE]
,sc_currency [CCY]
,sc_countryIssue [COUNTRY ISSUE]
,sc_ultimateParentCountryRisk [ULT PARENT COUNTRY OF RISK]
,convert(varchar, sc_emissionDate, 103) [EMISSION DATE]
,convert(varchar, sc_inceptionDate, 103) [INCEPTION DATE]
,convert(varchar, sc_lastNav, 103) [LAST NAV]
,convert(varchar, sc_expiryDate, 103) [EXPIRY DATE]
,sc_initialPrice [INITIAL PRICE]
,sc_accountingCode [ACCOUNTING CODE]
,case 
	when sc_hedged=1 then 'Yes'
	when sc_hedged=0 then 'No'
	else NULL
	END as [HEDGED]
,case 
	when sc_listed=1 then 'Yes'
	when sc_listed=0 then 'No'
	else NULL
	END as  [LISTED]
,sc_bloomberMarket [BLOOMBERG MARKET]
,sc_bloombedCode [BLOOMBERG CODE]
,sc_bloombedId [BLOOMBERG ID]
,sc_isinCode [ISIN]
,sc_valorCode [VALOR CODE]
,sc_faCode [FUND ADMIN. CODE]
,sc_taCode [TRASFER AGENT CODE]
,sc_WKN [WKN CODE]
,convert(varchar, sc_date_business_year, 103)  [BUSINESS YEAR]
,sc_prospectus_code [PROSPECTUS CODE]	
	
	FROM tb_historyShareClass sc
	left join tb_dom_investor_type intype on intype.it_id=sc.sc_investorType
	left join tb_dom_share_type sharetype on sharetype.st_id= sc.sc_shareType
	left join tb_dom_share_status stat on stat.sc_s_id=sc.sc_status
		
	Where (
		@report_date between sc.sc_initialDate and sc.sc_endDate  OR (@report_date > sc.sc_initialDate and sc.sc_endDate is null)
					 
	)
) t2
 ORDER BY t2.[NAME]
)
GO
CREATE FUNCTION [dbo].[fn_shareclass_id]
(	
		@report_date date,
                @shareclass_id as int
)
RETURNS TABLE 
AS
RETURN 
(

SELECT TOP(1) 

[ISIN CODE]
,[VALID FROM]
,case
	when [VALID UNTIL] is null then 'STILL VALID'
	else [VALID UNTIL] end as [VALID UNTIL]
,[SHARE CLASS NAME]
,[STATUS]
,[INVESTOR TYPE]
,[SHARE TYPE]
,[CCY]
,[COUNTRY ISSUE]
,[ULT PARENT COUNTRY OF RISK]
,[EMISSION DATE]
,[INCEPTION DATE]
,[LAST NAV]
,[EXPIRY DATE]
,[INITIAL PRICE]
,[ACCOUNTING CODE]
,[HEDGED]
,[LISTED]
,[BLOOMBERG MARKET]
,[BLOOMBERG CODE]
,[BLOOMBERG ID]
,[VALOR CODE]
,[FUND ADMIN. CODE]
,[TRASFER AGENT CODE]
,[WKN CODE]
,[BUSINESS YEAR]
,[PROSPECTUS CODE]	
,[SHARE CLASS ID]
FROM 
( 

SELECT

 sc_id [SHARE CLASS ID]	
,convert(varchar, sc_initialDate, 103) [VALID FROM]
,convert(varchar, sc_endDate, 103) [VALID UNTIL]
,sc_officialShareClassName [SHARE CLASS NAME]
,stat.sc_s_desc [STATUS]
,intype.it_desc [INVESTOR TYPE]
,sharetype.st_desc [SHARE TYPE]
,sc_currency [CCY]
,sc_countryIssue [COUNTRY ISSUE]
,sc_ultimateParentCountryRisk [ULT PARENT COUNTRY OF RISK]
,convert(varchar, sc_emissionDate, 103) [EMISSION DATE]
,convert(varchar, sc_inceptionDate, 103) [INCEPTION DATE]
,convert(varchar, sc_lastNav, 103) [LAST NAV]
,convert(varchar, sc_expiryDate, 103) [EXPIRY DATE]
,sc_initialPrice [INITIAL PRICE]
,sc_accountingCode [ACCOUNTING CODE]
,case 
	when sc_hedged=1 then 'Yes'
	when sc_hedged=0 then 'No'
	else NULL
	END as [HEDGED]
,case 
	when sc_listed=1 then 'Yes'
	when sc_listed=0 then 'No'
	else NULL
	END as  [LISTED]
,sc_bloomberMarket [BLOOMBERG MARKET]
,sc_bloombedCode [BLOOMBERG CODE]
,sc_bloombedId [BLOOMBERG ID]
,sc_isinCode [ISIN CODE]
,sc_valorCode [VALOR CODE]
,sc_faCode [FUND ADMIN. CODE]
,sc_taCode [TRASFER AGENT CODE]
,sc_WKN [WKN CODE]
,convert(varchar, sc_date_business_year, 103)  [BUSINESS YEAR]
,sc_prospectus_code [PROSPECTUS CODE]	
	
	FROM tb_historyShareClass sc
	left join tb_dom_investor_type intype on intype.it_id=sc.sc_investorType
	left join tb_dom_share_type sharetype on sharetype.st_id= sc.sc_shareType
	left join tb_dom_share_status stat on stat.sc_s_id=sc.sc_status
		
	Where  (@shareclass_id = sc.sc_id) AND (
		@report_date between sc.sc_initialDate and sc.sc_endDate  OR (@report_date > sc.sc_initialDate and sc.sc_endDate is null)
					 
	)
) t2
 ORDER BY t2.[SHARE CLASS NAME]
)
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_dom_activityType](
	[at_id] [int] NOT NULL,
	[at_desc] [nvarchar](100) NULL,
	[at_entity] [int] NOT NULL,
 CONSTRAINT [PK_tb_dom_activityType] PRIMARY KEY CLUSTERED 
(
	[at_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_view_agreements_all_funds]
(	
		@input_date date
)
RETURNS TABLE 
AS
RETURN 
(
select 
	   ROW_NUMBER() OVER(ORDER BY [File Description] ASC) AS [#],	
	   [File Description],
	   [Company Name],
	   [Contract Date],
	   [Activation Date],
	case 
		when [Expiration Date]>'29990101' then 'ACTIVE'
		else [Expiration Date]

	end as [Expiration Date]
	,[File Name]
        ,[File Id]
	
	from 
	(
	select  
	act.at_desc [File Description],
	comp.c_name [Company Name], 
	convert(varchar, saf.sa_contractDate, 103) [Contract Date],
	convert(varchar, saf.sa_activationDate, 103) [Activation Date],
	convert(varchar, saf.sa_expirationDate, 103) [Expiration Date],
	saf.[file_name] [File Name],
        saf.[file_id] [File Id]

	from [tb_serviceAgreement_fund] saf 	
	join tb_dom_activityType act on act.at_id=saf.sa_activityType
	join tb_companies comp on comp.c_id=saf.sa_company
	)tb1
	
)
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_view_country_distibution_shareclass]
(		
		@id_shareclass int
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT
cds.share_id [ID],
cds.iso_country_2 [Country of Distribution],
cds.paying_agent [Paying Agent],
cds.legal_support [Legal Support], --
cds.language [Language]

	FROM [dbo].[tb_country_distribution_shares] cds
	
	WHERE cds.share_id=@id_shareclass
)
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_contract](
	[id_contract] [int] NOT NULL,
 CONSTRAINT [PK_tb_contract] PRIMARY KEY CLUSTERED 
(
	[id_contract] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_dom_agreement_status](
	[a_s_id] [int] IDENTITY(1,1) NOT NULL,
	[a_s_desc] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tb_dom_agreement_status] PRIMARY KEY CLUSTERED 
(
	[a_s_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_dom_entity](
	[entity_id] [int] IDENTITY(1,1) NOT NULL,
	[entity_desc] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_tb_dom_entity] PRIMARY KEY CLUSTERED 
(
	[entity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_dom_fee](
	[fee_id] [int] NOT NULL,
	[fee_desc] [nvarchar](100) NULL,
 CONSTRAINT [PK__tb_dom_fee] PRIMARY KEY CLUSTERED 
(
	[fee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_dom_fee_frequency](
	[ff_id] [int] NOT NULL,
	[ff_desc] [nvarchar](100) NULL,
 CONSTRAINT [PK__tb_dom_fee_frequency] PRIMARY KEY CLUSTERED 
(
	[ff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_dom_fee_type](
	[ft_id] [int] NOT NULL,
	[ft_desc] [nvarchar](50) NULL,
 CONSTRAINT [PK__tb_dom_feeType] PRIMARY KEY CLUSTERED 
(
	[ft_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_dom_file_type](
	[filetype_id] [int] IDENTITY(1,1) NOT NULL,
	[filetype_desc] [nvarchar](max) NOT NULL,
	[filetype_entity] [int] NOT NULL,
 CONSTRAINT [PK_tb_dom_file_type] PRIMARY KEY CLUSTERED 
(
	[filetype_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_dom_iso_country](
	[iso_country_iso_2] [nchar](2) NOT NULL,
	[iso_country_desc] [nvarchar](100) NULL,
	[iso_country_3] [nchar](3) NULL,
 CONSTRAINT [PK_tb_dom_iso_country] PRIMARY KEY CLUSTERED 
(
	[iso_country_iso_2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_dom_iso_currency](
	[iso_ccy_code] [nchar](3) NOT NULL,
	[iso_ccy_desc] [nvarchar](100) NULL,
	[iso_ccy_desc_entity] [nvarchar](100) NULL,
	[iso_ccy_numeric] [int] NULL,
 CONSTRAINT [PK_tb_dom_iso_currency] PRIMARY KEY CLUSTERED 
(
	[iso_ccy_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_dom_languages](
	[language_iso_3] [nchar](3) NOT NULL,
	[language_desc] [nvarchar](30) NULL,
 CONSTRAINT [PK_tb_dom_languages] PRIMARY KEY CLUSTERED 
(
	[language_iso_3] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_fund](
	[f_id] [int] NOT NULL,
 CONSTRAINT [PK_tb_fund_1] PRIMARY KEY CLUSTERED 
(
	[f_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_historyContract](
	[id_contract] [int] NOT NULL,
	[d_initialDateContr] [datetime] NOT NULL,
	[d_endDateInvContr] [datetime] NULL,
	[s_typeContr] [nvarchar](255) NULL,
	[s_subtypeContr] [nvarchar](255) NULL,
	[id_compContractor1] [int] NOT NULL,
	[id_compContractor2] [int] NOT NULL,
	[id_compMediator] [int] NULL,
 CONSTRAINT [PK_tb_historyContract] PRIMARY KEY CLUSTERED 
(
	[id_contract] ASC,
	[d_initialDateContr] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_historyInvAccount](
	[id_invAccount] [int] NOT NULL,
	[d_initialDateInvAcc] [datetime] NOT NULL,
	[d_endDateInvAcc] [datetime] NULL,
	[id_idInvAcc] [nvarchar](100) NOT NULL,
	[s_officialNameInvAcc] [nvarchar](255) NULL,
 CONSTRAINT [PK_tb_historyInvAccount] PRIMARY KEY CLUSTERED 
(
	[id_invAccount] ASC,
	[d_initialDateInvAcc] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_historyInvestor](
	[id_inv] [int] NOT NULL,
	[d_initialDateInv] [datetime] NOT NULL,
	[d_endDateInv] [datetime] NULL,
	[id_idInv] [nvarchar](100) NOT NULL,
	[s_officialNameInv] [nvarchar](255) NULL,
 CONSTRAINT [PK_tb_historyInvestor] PRIMARY KEY CLUSTERED 
(
	[id_inv] ASC,
	[d_initialDateInv] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_investor](
	[id_inv] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_inv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_investorAccount](
	[id_invAccount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_invAccount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_invInvAccount](
	[id_inv] [int] NOT NULL,
	[id_invAccount] [int] NOT NULL,
	[d_startConnectionInvInvAcc] [datetime] NOT NULL,
	[d_endConnectionInvInvAcc] [datetime] NULL,
 CONSTRAINT [PK_tb_invInvAccount] PRIMARY KEY CLUSTERED 
(
	[id_invAccount] ASC,
	[id_inv] ASC,
	[d_startConnectionInvInvAcc] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_invInvAccShareClass](
	[id_inv] [int] NOT NULL,
	[id_invAccount] [int] NOT NULL,
	[id_shareClass] [int] NOT NULL,
	[d_startConnectionInvInvAcc] [datetime] NOT NULL,
	[d_endConnectionInvInvAcc] [datetime] NULL,
 CONSTRAINT [PK_tb_invInvAccShareClass] PRIMARY KEY CLUSTERED 
(
	[id_invAccount] ASC,
	[id_inv] ASC,
	[id_shareClass] ASC,
	[d_startConnectionInvInvAcc] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_shareClass](
	[id_sc] [int] NOT NULL,
 CONSTRAINT [PK_tb_shareClass_1] PRIMARY KEY CLUSTERED 
(
	[id_sc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_subFund](
	[id_subFund] [int] NOT NULL,
 CONSTRAINT [PK_tb_subFund_1] PRIMARY KEY CLUSTERED 
(
	[id_subFund] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[tb_companies] ([c_id], [c_name], [c_iso3_acronym]) VALUES (1, N'Pharus Management Lux SA', N'PML')
INSERT [dbo].[tb_companies] ([c_id], [c_name], [c_iso3_acronym]) VALUES (2, N'Edmond de Rothschild Asset Management (Luxembourg)', N'EDR')
INSERT [dbo].[tb_companies] ([c_id], [c_name], [c_iso3_acronym]) VALUES (3, N'UBS Fund Services (Luxembourg) S.A.', N'UBS')
GO
INSERT [dbo].[tb_country_distribution_shares] ([share_id], [iso_country_2], [local_representative], [paying_agent], [legal_support], [language]) VALUES (94, N'IT', NULL, NULL, NULL, N'ITA')
INSERT [dbo].[tb_country_distribution_shares] ([share_id], [iso_country_2], [local_representative], [paying_agent], [legal_support], [language]) VALUES (94, N'LU', NULL, NULL, NULL, N'ENG')
INSERT [dbo].[tb_country_distribution_shares] ([share_id], [iso_country_2], [local_representative], [paying_agent], [legal_support], [language]) VALUES (95, N'IT', NULL, NULL, NULL, N'ITA')
GO
INSERT [dbo].[tb_dom_activityType] ([at_id], [at_desc], [at_entity]) VALUES (1, N'Management Company Agreement', 1)
INSERT [dbo].[tb_dom_activityType] ([at_id], [at_desc], [at_entity]) VALUES (2, N'Investment Management Agreement', 2)
INSERT [dbo].[tb_dom_activityType] ([at_id], [at_desc], [at_entity]) VALUES (3, N'Distribution Agreeement', 3)
GO
SET IDENTITY_INSERT [dbo].[tb_dom_agreement_status] ON 

INSERT [dbo].[tb_dom_agreement_status] ([a_s_id], [a_s_desc]) VALUES (1, N'Active')
INSERT [dbo].[tb_dom_agreement_status] ([a_s_id], [a_s_desc]) VALUES (2, N'Inactive')
SET IDENTITY_INSERT [dbo].[tb_dom_agreement_status] OFF
GO
INSERT [dbo].[tb_dom_calculationDate] ([cd_id], [cd_desc]) VALUES (1, N'Prior')
INSERT [dbo].[tb_dom_calculationDate] ([cd_id], [cd_desc]) VALUES (2, N'Current')
GO
INSERT [dbo].[tb_dom_cesrClass] ([cc_id], [c_desc]) VALUES (1, N'Market Fund')
INSERT [dbo].[tb_dom_cesrClass] ([cc_id], [c_desc]) VALUES (2, N'Absolute Return')
INSERT [dbo].[tb_dom_cesrClass] ([cc_id], [c_desc]) VALUES (3, N'Total Return')
GO
INSERT [dbo].[tb_dom_company_type] ([ct_id], [ct_desc], [ct_acronym]) VALUES (1, N'Public limited company', N'S.A.')
INSERT [dbo].[tb_dom_company_type] ([ct_id], [ct_desc], [ct_acronym]) VALUES (2, N'European company', N'S.E.')
INSERT [dbo].[tb_dom_company_type] ([ct_id], [ct_desc], [ct_acronym]) VALUES (3, N'Private limited liability company', N'S.à r.l.')
GO
INSERT [dbo].[tb_dom_cssf_geographical_focus] ([gf_id], [gf_desc]) VALUES (1, N'Africa')
INSERT [dbo].[tb_dom_cssf_geographical_focus] ([gf_id], [gf_desc]) VALUES (2, N'Asia & Pacific')
INSERT [dbo].[tb_dom_cssf_geographical_focus] ([gf_id], [gf_desc]) VALUES (3, N'Europe')
GO
INSERT [dbo].[tb_dom_cssf_principal_asset_class] ([pac_id], [pac_desc]) VALUES (1, N'Equity')
INSERT [dbo].[tb_dom_cssf_principal_asset_class] ([pac_id], [pac_desc]) VALUES (2, N'IG Bond')
INSERT [dbo].[tb_dom_cssf_principal_asset_class] ([pac_id], [pac_desc]) VALUES (3, N'HY Bond')
GO
INSERT [dbo].[tb_dom_derivMarket] ([dm_id], [dm_desc]) VALUES (1, N'OTC')
INSERT [dbo].[tb_dom_derivMarket] ([dm_id], [dm_desc]) VALUES (2, N'Listed')
INSERT [dbo].[tb_dom_derivMarket] ([dm_id], [dm_desc]) VALUES (3, N'Both')
GO
INSERT [dbo].[tb_dom_derivPurpose] ([dp_id], [dp_desc]) VALUES (1, N'Hedging')
INSERT [dbo].[tb_dom_derivPurpose] ([dp_id], [dp_desc]) VALUES (2, N'Speculation')
INSERT [dbo].[tb_dom_derivPurpose] ([dp_id], [dp_desc]) VALUES (3, N'Both')
GO
SET IDENTITY_INSERT [dbo].[tb_dom_entity] ON 

INSERT [dbo].[tb_dom_entity] ([entity_id], [entity_desc]) VALUES (1, N'Fund')
INSERT [dbo].[tb_dom_entity] ([entity_id], [entity_desc]) VALUES (2, N'Subfund')
INSERT [dbo].[tb_dom_entity] ([entity_id], [entity_desc]) VALUES (3, N'Shareclass')
SET IDENTITY_INSERT [dbo].[tb_dom_entity] OFF
GO
INSERT [dbo].[tb_dom_f_status] ([st_f_id], [st_f_desc]) VALUES (1, N'Active')
INSERT [dbo].[tb_dom_f_status] ([st_f_id], [st_f_desc]) VALUES (2, N'Inactive - Liquidated')
INSERT [dbo].[tb_dom_f_status] ([st_f_id], [st_f_desc]) VALUES (3, N'Inactive - Closed')
GO
INSERT [dbo].[tb_dom_fee] ([fee_id], [fee_desc]) VALUES (1, N'Risk')
INSERT [dbo].[tb_dom_fee] ([fee_id], [fee_desc]) VALUES (2, N'Management Company')
GO
INSERT [dbo].[tb_dom_fee_frequency] ([ff_id], [ff_desc]) VALUES (1, N'Daily')
INSERT [dbo].[tb_dom_fee_frequency] ([ff_id], [ff_desc]) VALUES (2, N'Weekly')
INSERT [dbo].[tb_dom_fee_frequency] ([ff_id], [ff_desc]) VALUES (3, N'Weekly and last Monthly nav')
GO
INSERT [dbo].[tb_dom_fee_type] ([ft_id], [ft_desc]) VALUES (1, N'Fixed Amount')
INSERT [dbo].[tb_dom_fee_type] ([ft_id], [ft_desc]) VALUES (2, N'% AuM')
GO
SET IDENTITY_INSERT [dbo].[tb_dom_file_type] ON 

INSERT [dbo].[tb_dom_file_type] ([filetype_id], [filetype_desc], [filetype_entity]) VALUES (2, N'Prospectus', 1)
INSERT [dbo].[tb_dom_file_type] ([filetype_id], [filetype_desc], [filetype_entity]) VALUES (3, N'KIID - ENG', 3)
INSERT [dbo].[tb_dom_file_type] ([filetype_id], [filetype_desc], [filetype_entity]) VALUES (4, N'Pricing Policy', 1)
SET IDENTITY_INSERT [dbo].[tb_dom_file_type] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_dom_fund_admin_type] ON 

INSERT [dbo].[tb_dom_fund_admin_type] ([fat_id], [fat_desc], [fat_acronym]) VALUES (1, N'CACEIS', N'CAC  ')
INSERT [dbo].[tb_dom_fund_admin_type] ([fat_id], [fat_desc], [fat_acronym]) VALUES (2, N'Northern Trust', N'UBS  ')
INSERT [dbo].[tb_dom_fund_admin_type] ([fat_id], [fat_desc], [fat_acronym]) VALUES (3, N'Edmond de Rothschild', N'ROT  ')
SET IDENTITY_INSERT [dbo].[tb_dom_fund_admin_type] OFF
GO
INSERT [dbo].[tb_dom_globalExposure] ([ge_id], [ge_desc]) VALUES (1, N'VaR Absolute')
INSERT [dbo].[tb_dom_globalExposure] ([ge_id], [ge_desc]) VALUES (2, N'Var Relative')
INSERT [dbo].[tb_dom_globalExposure] ([ge_id], [ge_desc]) VALUES (3, N'Commitment')
GO
INSERT [dbo].[tb_dom_investor_type] ([it_id], [it_desc]) VALUES (1, N'Retail')
INSERT [dbo].[tb_dom_investor_type] ([it_id], [it_desc]) VALUES (2, N'Qualified')
INSERT [dbo].[tb_dom_investor_type] ([it_id], [it_desc]) VALUES (3, N'Professional')
GO
INSERT [dbo].[tb_dom_iso_country] ([iso_country_iso_2], [iso_country_desc], [iso_country_3]) VALUES (N'IT', N'ITALY                                                                                               ', N'ITA')
INSERT [dbo].[tb_dom_iso_country] ([iso_country_iso_2], [iso_country_desc], [iso_country_3]) VALUES (N'LU', N'LUXEMBOURG                                                                                          ', N'ZWE')
GO

INSERT [dbo].[tb_dom_iso_currency] ([iso_ccy_code], [iso_ccy_desc], [iso_ccy_desc_entity], [iso_ccy_numeric]) VALUES (N'EUR', N'Euro                                                                                                ', N'EUROPEAN MONETARY UNION                                                                             ', 978)
INSERT [dbo].[tb_dom_iso_currency] ([iso_ccy_code], [iso_ccy_desc], [iso_ccy_desc_entity], [iso_ccy_numeric]) VALUES (N'USD', N'US Dollar                                                                                           ', N'UNITED STATES                                                                                       ', 840)

GO
INSERT [dbo].[tb_dom_languages] ([language_iso_3], [language_desc]) VALUES (N'DEU', N'German')
INSERT [dbo].[tb_dom_languages] ([language_iso_3], [language_desc]) VALUES (N'ENG', N'English')
INSERT [dbo].[tb_dom_languages] ([language_iso_3], [language_desc]) VALUES (N'FRA', N'French')
GO
INSERT [dbo].[tb_dom_legal_form] ([lf_id], [lf_acronym]) VALUES (1, N'FCP')
INSERT [dbo].[tb_dom_legal_form] ([lf_id], [lf_acronym]) VALUES (2, N'SICAV')
INSERT [dbo].[tb_dom_legal_form] ([lf_id], [lf_acronym]) VALUES (3, N'SICAF')
GO
INSERT [dbo].[tb_dom_legal_type] ([lt_id], [lt_acronym]) VALUES (1, N'UCITS')
INSERT [dbo].[tb_dom_legal_type] ([lt_id], [lt_acronym]) VALUES (2, N'AIF')
INSERT [dbo].[tb_dom_legal_type] ([lt_id], [lt_acronym]) VALUES (3, N'OTHERS')
GO
INSERT [dbo].[tb_dom_legal_vehicle] ([lv_id], [lv_acronym], [lv_fk_legal_type]) VALUES (1, N'UCITS', 1)
INSERT [dbo].[tb_dom_legal_vehicle] ([lv_id], [lv_acronym], [lv_fk_legal_type]) VALUES (2, N'SIF', 2)
INSERT [dbo].[tb_dom_legal_vehicle] ([lv_id], [lv_acronym], [lv_fk_legal_type]) VALUES (3, N'UCI - Part II', 2)
GO
INSERT [dbo].[tb_dom_navFrequency] ([nf_id], [nf_desc]) VALUES (1, N'Daily')
INSERT [dbo].[tb_dom_navFrequency] ([nf_id], [nf_desc]) VALUES (2, N'Weekly')
INSERT [dbo].[tb_dom_navFrequency] ([nf_id], [nf_desc]) VALUES (3, N'Weekly and last Monthly nav')
GO
INSERT [dbo].[tb_dom_principal_investment_strategy] ([pis_id], [pis_desc]) VALUES (1, N'Long                                                                                                ')
INSERT [dbo].[tb_dom_principal_investment_strategy] ([pis_id], [pis_desc]) VALUES (2, N'Short                                                                                               ')
INSERT [dbo].[tb_dom_principal_investment_strategy] ([pis_id], [pis_desc]) VALUES (3, N'Long Short                                                                                          ')
GO
INSERT [dbo].[tb_dom_sf_status] ([st_id], [st_desc]) VALUES (1, N'Active')
INSERT [dbo].[tb_dom_sf_status] ([st_id], [st_desc]) VALUES (2, N'Inactive - Liquidated')
INSERT [dbo].[tb_dom_sf_status] ([st_id], [st_desc]) VALUES (3, N'Inactive - Closed')
GO
INSERT [dbo].[tb_dom_share_status] ([sc_s_id], [sc_s_desc]) VALUES (1, N'Active')
INSERT [dbo].[tb_dom_share_status] ([sc_s_id], [sc_s_desc]) VALUES (2, N'Inactive - Liquidated')
INSERT [dbo].[tb_dom_share_status] ([sc_s_id], [sc_s_desc]) VALUES (3, N'Inactive - Closed')
GO
INSERT [dbo].[tb_dom_share_type] ([st_id], [st_desc]) VALUES (1, N'Accumulation                                                                                        ')
INSERT [dbo].[tb_dom_share_type] ([st_id], [st_desc]) VALUES (2, N'Distribution                                                                                        ')
GO
INSERT [dbo].[tb_dom_type_of_market] ([tom_id], [tom_desc]) VALUES (1, N'Developed                                                                                           ')
INSERT [dbo].[tb_dom_type_of_market] ([tom_id], [tom_desc]) VALUES (2, N'Emerging                                                                                            ')
INSERT [dbo].[tb_dom_type_of_market] ([tom_id], [tom_desc]) VALUES (3, N'Mixed                                                                                               ')
GO
INSERT [dbo].[tb_dom_valutationDate] ([vd_id], [vd_desc]) VALUES (1, N'Monday')
INSERT [dbo].[tb_dom_valutationDate] ([vd_id], [vd_desc]) VALUES (2, N'Tuesday')
INSERT [dbo].[tb_dom_valutationDate] ([vd_id], [vd_desc]) VALUES (3, N'Wednesday')
GO
INSERT [dbo].[tb_fund] ([f_id]) VALUES (1)
INSERT [dbo].[tb_fund] ([f_id]) VALUES (2)
INSERT [dbo].[tb_fund] ([f_id]) VALUES (3)
GO
INSERT [dbo].[tb_shareClass] ([id_sc]) VALUES (1)
INSERT [dbo].[tb_shareClass] ([id_sc]) VALUES (2)
INSERT [dbo].[tb_shareClass] ([id_sc]) VALUES (3)
GO
INSERT [dbo].[tb_subFund] ([id_subFund]) VALUES (1)
INSERT [dbo].[tb_subFund] ([id_subFund]) VALUES (2)
INSERT [dbo].[tb_subFund] ([id_subFund]) VALUES (3)
GO
ALTER TABLE [dbo].[tb_country_distribution_shares]  WITH CHECK ADD  CONSTRAINT [FK_tb_country_distribution_shares_tb_dom_iso_country] FOREIGN KEY([iso_country_2])
REFERENCES [dbo].[tb_dom_iso_country] ([iso_country_iso_2])
GO
ALTER TABLE [dbo].[tb_country_distribution_shares] CHECK CONSTRAINT [FK_tb_country_distribution_shares_tb_dom_iso_country]
GO
ALTER TABLE [dbo].[tb_country_distribution_shares]  WITH CHECK ADD  CONSTRAINT [FK_tb_country_distribution_shares_tb_dom_languages] FOREIGN KEY([language])
REFERENCES [dbo].[tb_dom_languages] ([language_iso_3])
GO
ALTER TABLE [dbo].[tb_country_distribution_shares] CHECK CONSTRAINT [FK_tb_country_distribution_shares_tb_dom_languages]
GO
ALTER TABLE [dbo].[tb_country_distribution_shares]  WITH CHECK ADD  CONSTRAINT [FK_tb_country_distribution_shares_tb_shareClass] FOREIGN KEY([share_id])
REFERENCES [dbo].[tb_shareClass] ([id_sc])
GO
ALTER TABLE [dbo].[tb_country_distribution_shares] CHECK CONSTRAINT [FK_tb_country_distribution_shares_tb_shareClass]
GO
ALTER TABLE [dbo].[tb_dom_activityType]  WITH CHECK ADD  CONSTRAINT [FK_tb_dom_activityType_tb_dom_entity] FOREIGN KEY([at_entity])
REFERENCES [dbo].[tb_dom_entity] ([entity_id])
GO
ALTER TABLE [dbo].[tb_dom_activityType] CHECK CONSTRAINT [FK_tb_dom_activityType_tb_dom_entity]
GO
ALTER TABLE [dbo].[tb_dom_file_type]  WITH CHECK ADD  CONSTRAINT [FK_tb_dom_file_type_tb_dom_entity] FOREIGN KEY([filetype_entity])
REFERENCES [dbo].[tb_dom_entity] ([entity_id])
GO
ALTER TABLE [dbo].[tb_dom_file_type] CHECK CONSTRAINT [FK_tb_dom_file_type_tb_dom_entity]
GO
ALTER TABLE [dbo].[tb_dom_legal_vehicle]  WITH CHECK ADD  CONSTRAINT [FK_tb_dom_legal_vehicle_tb_dom_legalType] FOREIGN KEY([lv_fk_legal_type])
REFERENCES [dbo].[tb_dom_legal_type] ([lt_id])
GO
ALTER TABLE [dbo].[tb_dom_legal_vehicle] CHECK CONSTRAINT [FK_tb_dom_legal_vehicle_tb_dom_legalType]
GO
ALTER TABLE [dbo].[tb_fundSubFund]  WITH CHECK ADD  CONSTRAINT [FK_tb_fundSubFund_tb_fund] FOREIGN KEY([f_id])
REFERENCES [dbo].[tb_fund] ([f_id])
GO
ALTER TABLE [dbo].[tb_fundSubFund] CHECK CONSTRAINT [FK_tb_fundSubFund_tb_fund]
GO
ALTER TABLE [dbo].[tb_fundSubFund]  WITH CHECK ADD  CONSTRAINT [FK_tb_fundSubFund_tb_subFund] FOREIGN KEY([sf_id])
REFERENCES [dbo].[tb_subFund] ([id_subFund])
GO
ALTER TABLE [dbo].[tb_fundSubFund] CHECK CONSTRAINT [FK_tb_fundSubFund_tb_subFund]
GO
ALTER TABLE [dbo].[tb_historyContract]  WITH CHECK ADD  CONSTRAINT [FK1_tb_historyContract] FOREIGN KEY([id_contract])
REFERENCES [dbo].[tb_contract] ([id_contract])
GO
ALTER TABLE [dbo].[tb_historyContract] CHECK CONSTRAINT [FK1_tb_historyContract]
GO
ALTER TABLE [dbo].[tb_historyFund]  WITH CHECK ADD  CONSTRAINT [FK_tb_historyFund_tb_dom_companyType] FOREIGN KEY([f_company_type])
REFERENCES [dbo].[tb_dom_company_type] ([ct_id])
GO
ALTER TABLE [dbo].[tb_historyFund] CHECK CONSTRAINT [FK_tb_historyFund_tb_dom_companyType]
GO
ALTER TABLE [dbo].[tb_historyFund]  WITH CHECK ADD  CONSTRAINT [FK_tb_historyFund_tb_dom_f_status] FOREIGN KEY([f_status])
REFERENCES [dbo].[tb_dom_f_status] ([st_f_id])
GO
ALTER TABLE [dbo].[tb_historyFund] CHECK CONSTRAINT [FK_tb_historyFund_tb_dom_f_status]
GO
ALTER TABLE [dbo].[tb_historyFund]  WITH CHECK ADD  CONSTRAINT [FK_tb_historyFund_tb_dom_fund_admin_type] FOREIGN KEY([f_fund_admin])
REFERENCES [dbo].[tb_dom_fund_admin_type] ([fat_id])
GO
ALTER TABLE [dbo].[tb_historyFund] CHECK CONSTRAINT [FK_tb_historyFund_tb_dom_fund_admin_type]
GO
ALTER TABLE [dbo].[tb_historyFund]  WITH CHECK ADD  CONSTRAINT [FK_tb_historyFund_tb_dom_legal_form] FOREIGN KEY([f_legal_form])
REFERENCES [dbo].[tb_dom_legal_form] ([lf_id])
GO
ALTER TABLE [dbo].[tb_historyFund] CHECK CONSTRAINT [FK_tb_historyFund_tb_dom_legal_form]
GO
ALTER TABLE [dbo].[tb_historyFund]  WITH CHECK ADD  CONSTRAINT [FK_tb_historyFund_tb_dom_legal_vehicle] FOREIGN KEY([f_legal_vehicle])
REFERENCES [dbo].[tb_dom_legal_vehicle] ([lv_id])
GO
ALTER TABLE [dbo].[tb_historyFund] CHECK CONSTRAINT [FK_tb_historyFund_tb_dom_legal_vehicle]
GO
ALTER TABLE [dbo].[tb_historyFund]  WITH CHECK ADD  CONSTRAINT [FK_tb_historyFund_tb_fund] FOREIGN KEY([f_id])
REFERENCES [dbo].[tb_fund] ([f_id])
GO
ALTER TABLE [dbo].[tb_historyFund] CHECK CONSTRAINT [FK_tb_historyFund_tb_fund]
GO
ALTER TABLE [dbo].[tb_historyInvAccount]  WITH CHECK ADD  CONSTRAINT [FK1_tb_historyInvAccount] FOREIGN KEY([id_invAccount])
REFERENCES [dbo].[tb_investorAccount] ([id_invAccount])
GO
ALTER TABLE [dbo].[tb_historyInvAccount] CHECK CONSTRAINT [FK1_tb_historyInvAccount]
GO
ALTER TABLE [dbo].[tb_historyInvestor]  WITH CHECK ADD  CONSTRAINT [FK1_tb_historyInvestor] FOREIGN KEY([id_inv])
REFERENCES [dbo].[tb_investor] ([id_inv])
GO
ALTER TABLE [dbo].[tb_historyInvestor] CHECK CONSTRAINT [FK1_tb_historyInvestor]
GO
ALTER TABLE [dbo].[tb_historyShareClass]  WITH CHECK ADD  CONSTRAINT [FK_tb_historyShareClass_tb_dom_investor_type] FOREIGN KEY([sc_investorType])
REFERENCES [dbo].[tb_dom_investor_type] ([it_id])
GO
ALTER TABLE [dbo].[tb_historyShareClass] CHECK CONSTRAINT [FK_tb_historyShareClass_tb_dom_investor_type]
GO
ALTER TABLE [dbo].[tb_historyShareClass]  WITH CHECK ADD  CONSTRAINT [FK_tb_historyShareClass_tb_dom_iso_country] FOREIGN KEY([sc_countryIssue])
REFERENCES [dbo].[tb_dom_iso_country] ([iso_country_iso_2])
GO
ALTER TABLE [dbo].[tb_historyShareClass] CHECK CONSTRAINT [FK_tb_historyShareClass_tb_dom_iso_country]
GO
ALTER TABLE [dbo].[tb_historyShareClass]  WITH CHECK ADD  CONSTRAINT [FK_tb_historyShareClass_tb_dom_share_status] FOREIGN KEY([sc_status])
REFERENCES [dbo].[tb_dom_share_status] ([sc_s_id])
GO
ALTER TABLE [dbo].[tb_historyShareClass] CHECK CONSTRAINT [FK_tb_historyShareClass_tb_dom_share_status]
GO
ALTER TABLE [dbo].[tb_historyShareClass]  WITH CHECK ADD  CONSTRAINT [FK_tb_historyShareClass_tb_dom_share_type] FOREIGN KEY([sc_shareType])
REFERENCES [dbo].[tb_dom_share_type] ([st_id])
GO
ALTER TABLE [dbo].[tb_historyShareClass] CHECK CONSTRAINT [FK_tb_historyShareClass_tb_dom_share_type]
GO
ALTER TABLE [dbo].[tb_historyShareClass]  WITH CHECK ADD  CONSTRAINT [FK_tb_historyShareClass_tb_shareClass] FOREIGN KEY([sc_id])
REFERENCES [dbo].[tb_shareClass] ([id_sc])
GO
ALTER TABLE [dbo].[tb_historyShareClass] CHECK CONSTRAINT [FK_tb_historyShareClass_tb_shareClass]
GO
ALTER TABLE [dbo].[tb_historySubFund]  WITH CHECK ADD  CONSTRAINT [FK_tb_historySubFund_tb_dom_calculationDate] FOREIGN KEY([sf_calculationDate])
REFERENCES [dbo].[tb_dom_calculationDate] ([cd_id])
GO
ALTER TABLE [dbo].[tb_historySubFund] CHECK CONSTRAINT [FK_tb_historySubFund_tb_dom_calculationDate]
GO
ALTER TABLE [dbo].[tb_historySubFund]  WITH CHECK ADD  CONSTRAINT [FK_tb_historySubFund_tb_dom_cesrClass] FOREIGN KEY([sf_cesrClass])
REFERENCES [dbo].[tb_dom_cesrClass] ([cc_id])
GO
ALTER TABLE [dbo].[tb_historySubFund] CHECK CONSTRAINT [FK_tb_historySubFund_tb_dom_cesrClass]
GO
ALTER TABLE [dbo].[tb_historySubFund]  WITH CHECK ADD  CONSTRAINT [FK_tb_historySubFund_tb_dom_cssf_geographical_focus] FOREIGN KEY([sf_cssf_geographical_focus])
REFERENCES [dbo].[tb_dom_cssf_geographical_focus] ([gf_id])
GO
ALTER TABLE [dbo].[tb_historySubFund] CHECK CONSTRAINT [FK_tb_historySubFund_tb_dom_cssf_geographical_focus]
GO
ALTER TABLE [dbo].[tb_historySubFund]  WITH CHECK ADD  CONSTRAINT [FK_tb_historySubFund_tb_dom_cssf_principal_asset_class] FOREIGN KEY([sf_principal_asset_class])
REFERENCES [dbo].[tb_dom_cssf_principal_asset_class] ([pac_id])
GO
ALTER TABLE [dbo].[tb_historySubFund] CHECK CONSTRAINT [FK_tb_historySubFund_tb_dom_cssf_principal_asset_class]
GO
ALTER TABLE [dbo].[tb_historySubFund]  WITH CHECK ADD  CONSTRAINT [FK_tb_historySubFund_tb_dom_derivMarket] FOREIGN KEY([sf_derivMarket])
REFERENCES [dbo].[tb_dom_derivMarket] ([dm_id])
GO
ALTER TABLE [dbo].[tb_historySubFund] CHECK CONSTRAINT [FK_tb_historySubFund_tb_dom_derivMarket]
GO
ALTER TABLE [dbo].[tb_historySubFund]  WITH CHECK ADD  CONSTRAINT [FK_tb_historySubFund_tb_dom_derivPurpose] FOREIGN KEY([sf_derivPurpose])
REFERENCES [dbo].[tb_dom_derivPurpose] ([dp_id])
GO
ALTER TABLE [dbo].[tb_historySubFund] CHECK CONSTRAINT [FK_tb_historySubFund_tb_dom_derivPurpose]
GO
ALTER TABLE [dbo].[tb_historySubFund]  WITH CHECK ADD  CONSTRAINT [FK_tb_historySubFund_tb_dom_globalExposure] FOREIGN KEY([sf_globalExposure])
REFERENCES [dbo].[tb_dom_globalExposure] ([ge_id])
GO
ALTER TABLE [dbo].[tb_historySubFund] CHECK CONSTRAINT [FK_tb_historySubFund_tb_dom_globalExposure]
GO
ALTER TABLE [dbo].[tb_historySubFund]  WITH CHECK ADD  CONSTRAINT [FK_tb_historySubFund_tb_dom_navFrequency] FOREIGN KEY([sf_navFrequency])
REFERENCES [dbo].[tb_dom_navFrequency] ([nf_id])
GO
ALTER TABLE [dbo].[tb_historySubFund] CHECK CONSTRAINT [FK_tb_historySubFund_tb_dom_navFrequency]
GO
ALTER TABLE [dbo].[tb_historySubFund]  WITH CHECK ADD  CONSTRAINT [FK_tb_historySubFund_tb_dom_principal_investment_strategy] FOREIGN KEY([sf_principal_investment_strategy])
REFERENCES [dbo].[tb_dom_principal_investment_strategy] ([pis_id])
GO
ALTER TABLE [dbo].[tb_historySubFund] CHECK CONSTRAINT [FK_tb_historySubFund_tb_dom_principal_investment_strategy]
GO
ALTER TABLE [dbo].[tb_historySubFund]  WITH CHECK ADD  CONSTRAINT [FK_tb_historySubFund_tb_dom_type_of_market] FOREIGN KEY([sf_type_of_market])
REFERENCES [dbo].[tb_dom_type_of_market] ([tom_id])
GO
ALTER TABLE [dbo].[tb_historySubFund] CHECK CONSTRAINT [FK_tb_historySubFund_tb_dom_type_of_market]
GO
ALTER TABLE [dbo].[tb_historySubFund]  WITH CHECK ADD  CONSTRAINT [FK_tb_historySubFund_tb_dom_valutationDate] FOREIGN KEY([sf_valutationDate])
REFERENCES [dbo].[tb_dom_valutationDate] ([vd_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[tb_historySubFund] CHECK CONSTRAINT [FK_tb_historySubFund_tb_dom_valutationDate]
GO
ALTER TABLE [dbo].[tb_historySubFund]  WITH CHECK ADD  CONSTRAINT [FK_tb_historySubFund_tb_subFund] FOREIGN KEY([sf_status])
REFERENCES [dbo].[tb_dom_sf_status] ([st_id])
GO
ALTER TABLE [dbo].[tb_historySubFund] CHECK CONSTRAINT [FK_tb_historySubFund_tb_subFund]
GO
ALTER TABLE [dbo].[tb_historySubFund]  WITH CHECK ADD  CONSTRAINT [FK_tb_historySubFund_tb_subFund1] FOREIGN KEY([sf_id])
REFERENCES [dbo].[tb_subFund] ([id_subFund])
GO
ALTER TABLE [dbo].[tb_historySubFund] CHECK CONSTRAINT [FK_tb_historySubFund_tb_subFund1]
GO
ALTER TABLE [dbo].[tb_invInvAccount]  WITH CHECK ADD  CONSTRAINT [FK1_tb_invInvAccount] FOREIGN KEY([id_inv])
REFERENCES [dbo].[tb_investor] ([id_inv])
GO
ALTER TABLE [dbo].[tb_invInvAccount] CHECK CONSTRAINT [FK1_tb_invInvAccount]
GO
ALTER TABLE [dbo].[tb_invInvAccount]  WITH CHECK ADD  CONSTRAINT [FK2_tb_invInvAccount] FOREIGN KEY([id_invAccount])
REFERENCES [dbo].[tb_investorAccount] ([id_invAccount])
GO
ALTER TABLE [dbo].[tb_invInvAccount] CHECK CONSTRAINT [FK2_tb_invInvAccount]
GO
ALTER TABLE [dbo].[tb_invInvAccShareClass]  WITH CHECK ADD  CONSTRAINT [FK1_tb_invInvAccShareClass] FOREIGN KEY([id_inv])
REFERENCES [dbo].[tb_investor] ([id_inv])
GO
ALTER TABLE [dbo].[tb_invInvAccShareClass] CHECK CONSTRAINT [FK1_tb_invInvAccShareClass]
GO
ALTER TABLE [dbo].[tb_invInvAccShareClass]  WITH CHECK ADD  CONSTRAINT [FK2_invInvAccShareClass] FOREIGN KEY([id_invAccount])
REFERENCES [dbo].[tb_investorAccount] ([id_invAccount])
GO
ALTER TABLE [dbo].[tb_invInvAccShareClass] CHECK CONSTRAINT [FK2_invInvAccShareClass]
GO
ALTER TABLE [dbo].[tb_invInvAccShareClass]  WITH CHECK ADD  CONSTRAINT [FK3_invInvAccShareClass] FOREIGN KEY([id_shareClass])
REFERENCES [dbo].[tb_shareClass] ([id_sc])
GO
ALTER TABLE [dbo].[tb_invInvAccShareClass] CHECK CONSTRAINT [FK3_invInvAccShareClass]
GO
