@using DataGate.Common

<div class="row login-footer">

    <div class="col-12 col-lg-6 col-md-6 col-sm-12 footer-text d-inline">
        <div>
            <a class="a-underline mr-1" asp-area="" asp-controller="Legal" asp-action="Privacy">Privacy Policy</a>
            <a class="a-underline mr-1" asp-area="" asp-controller="Legal" asp-action="Cookie">Cookie Policy</a>
            <a class="a-underline mr-1" asp-area="" asp-controller="Legal" asp-action="Copyright">Copyright Policy</a>
            <a class="a-underline mr-1" asp-area="" asp-controller="Legal" asp-action="UserAgreement">User Agreement</a>
        </div>
        <div>
            &copy; @DateTime.Now.Year @GlobalConstants.DataGateFooterDisplay
        </div>
    </div>
    <div class="col-12 col-md-6 col-sm-12 social-icons d-none d-md-block d-lg-block">
        <div><a href="https://www.linkedin.com/company/pharus-management-lux-sa/about/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>        </div>
        <div><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>         </div>
        <div><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>    </div>

    </div>
</div>