<div class="login-redirect-language">
    <div>
        <a asp-area="Identity" asp-page="/Account/Login">
            <img src="~/images/Logo_Pharus_small.jpg" />
        </a>
    </div>
    <div class="wrapper-language-bar">
        <partial name="_SelectLanguagePartial" />
    </div>
</div>