<div class="login-redirect-language">
    <div>
        <a href="/">
            <img src="~/images/Logo_Pharus_small.jpg" alt="@GlobalConstants.AppName" />
        </a>
    </div>
    <div class="wrapper-language-bar">
        <partial name="_SelectLanguagePartial" />
    </div>
</div>