@model DataGate.Web.ViewModels.Files.UploadDocumentViewModel

<div class="form-group">
    <select class="form-control maxw-270" asp-for="DocumentType" required>
        <option selected disabled value="">-- Choose File Type --</option>
        @foreach (var type in (List<string>)ViewData["DocumentFileTypes"])
        {
            <option value="@type">@type</option>
        }
    </select>
    <span asp-validation-for="DocumentType" class="text-danger"></span>
</div>

<div class="form-group">
    <input asp-for="FileToUpload"
           type="file"
           accept="application/pdf"
           required>
</div>
<span asp-validation-for="FileToUpload" class="text-danger"></span>

<button type="submit"
        class="btn bg-pharus text-white">
    Upload Document
</button>