@model DataGate.Web.ViewModels.Entities.SpecificEntityViewModel

<input asp-for="EntityId" type="text" hidden>
<input asp-for="StartConnection" type="text" hidden>
<input asp-for="EndConnection" type="text" hidden>
<input asp-for="ChosenDate" type="date" hidden>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div class="modal"
     id="upDocModal"
     role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body d-grid justify-content-center">
                <div class="form-group">
                    <select class="form-control maxw-270" asp-for="UploadEntityFileModel.DocumentType" required>
                        <option selected disabled value="">-- Choose File Type --</option>
                        @foreach (var type in (List<string>)ViewData["ProspectusFileTypes"])
                        {
                            <option value="@type">@type</option>
                        }
                    </select>
                    <span asp-validation-for="UploadEntityFileModel.DocumentType" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input asp-for="UploadEntityFileModel.FileToUpload"
                           type="file"
                           accept="application/pdf"
                           required>
                </div>
                <span asp-validation-for="UploadEntityFileModel.FileToUpload" class="text-danger"></span>

                <button type="submit"
                        class="btn bg-pharus text-white">
                    Upload Document
                </button>
            </div>
        </div>
    </div>
</div>