@using DataGate.Common
@model DataGate.Web.ViewModels.Entities.SpecificEntityViewModel

@{
    var controller = this.ViewContext.RouteData.Values["controller"].ToString();
    var route = string.Empty;

    if (controller == GlobalConstants.FundDetailsControllerName)
    {
        route = $"/f/{Model.Id}/{Model.Date}";
    }
}

<div>
    <div class="d-flex justify-content-between h-70">
        <div>
            <button class="btn btn-sm btn-primary"
                    type="submit"
                    asp-area=""
                    asp-controller="Media"
                    asp-action="Download"
                    name="Command"
                    value="Excel">
                Excel
            </button>
        </div>

        <div class="ml-4">
            <button class="btn btn-sm btn-primary"
                    type="submit"
                    asp-area=""
                    asp-controller="Media"
                    asp-action="Download"
                    name="Command"
                    value="PDF">
                PDF
            </button>
        </div>
    </div>

    <input type="hidden" name="ControllerName" value="@controller" />
    <input type="hidden" name="RouteName" value="@route" />

    <div class="text-center">
        <label class="lbl-toolbar-pharus">Extract</label>
    </div>
</div>

<div class="vertical mx-3"></div>