@model Pharus.App.Models.ViewModels.Entities.EntitiesViewModel

<label class="el-switch el-switch-sm d-flex mt-3">
    <input type="checkbox"
           asp-for="IsActive"
           id="activeCheckBox">
    <span class="el-switch-style mr-2"></span>
    Show only active
</label>