@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<button class="btn-extract-pharus"
        type="submit"
        formaction="/@controllerName/ExtractExcelEntities"
        name="extract_Excel">
    <img src="~/images/Icon_Excel.ico"
         width="35"
         height="35" />
</button>

<button class="btn-extract-pharus mr-5"
        type="submit"
        formaction="/@controllerName/ExtractPdfEntities"
        name="extract_Pdf">
    <img src="~/images/Icon_Pdf.ico"
         width="35"
         height="35" />
</button>