@model Pharus.App.Models.ViewModels.Entities.EntitiesViewModel

<div class="w-30">
    <div class="d-flex h-80">
        <div>
            <select asp-for="SelectTerm"
                    id="SelectTerm"
                    class="form-control input-sm">
                <option value=@Model.SelectTerm selected>@Model.SelectTerm</option>
            </select>
        </div>

        <div>
            <button type="button"
                    class="btn btn-sm ml-2 btn-modal-pharus"
                    data-toggle="modal"
                    data-target="#columnModal"
                    name="showColumnSelection">
                <img src="~/images/ColumnSelection_Pharus.jpg"
                     width="35"
                     height="35" />
                <span class="d-block">Choose</span>
                <span>Columns</span>
            </button>
        </div>

        <div class="ml-2 d-flex">
            <div class="mr-2">
                <button type="button"
                        class="btn btn-primary btn-sm"
                        id="btnRedirect">
                    Show All
                </button>
            </div>

            <div class="el-switch-div">
                <label class="el-switch el-switch-sm mt-1">
                    <input type="checkbox"
                           asp-for="IsActive"
                           id="activeCheckBox">
                    <span class="el-switch-style mr-2"></span>
                    <span class="d-block">Show</span>
                    <span>Active</span>
                </label>
            </div>
        </div>
    </div>

    <div class="text-center">
        <label class="lbl-toolbar-pharus">Select</label>
    </div>
</div>

<div class="vertical mx-3"></div>