@model Pharus.App.Models.ViewModels.Entities.EntitiesViewModel

<div>
    <input type="date"
           id="fundDatetime"
           asp-for="ChosenDate"
           min="2018-01-01"
           max=@DateTime.Today.ToString("yyyy-MM-dd")>

    <input type="submit"
           class="btn btn-primary btn-sm mb-1"
           asp-for="Command"
           value="Update Table"></>
</div>