@model Pharus.App.Models.ViewModels.Entities.EntitiesViewModel

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" />

    <style>
        body {
            background-image: none;
        }
    </style>
}

<form asp-controller="SubFunds"
      class="justify-content-between"
      method="post"
      id="entity-form-pharus">
    <div>
        <div>
            <hr class="mt-0 mb-auto" />
            <div class="d-flex w-100" id="toolbar-pharus">
                <partial name="AllEntities/Select_Partial" />
                <partial name="AllEntities/Update_Partial" />
                <partial name="AllEntities/Extract_Partial" />
                <partial name="AllEntities/Search_Partial" />
                <div>
                    <h2 class="text-center text-torshia ml-5" id="entityName">All Sub Funds</h2>
                </div>
            </div>
            <hr class="mt-1 mb-0" />
        </div>

        <partial name="AllEntities/Modal_Partial" />
        <partial name="AllEntities/BindingTable_Partial" />
        <partial name="AllEntities/ViewTable_Partial" />
    </div>
</form>

@section Scripts{
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <script src="~/js/submitForm.js"></script>
    <script src="~/js/multiselect.js"></script>
    <script src="~/js/buttonRedirect.js"></script>
    <script src="~/lib/jquery/dist/jquery.doubleScroll.js"></script>

    <script>
        window.onload = () => {
            manageSideNavBar();
            manageDropdowns();
            submitForm();
            buttonRedirect();
        }

        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }

        $(document).ready(function () {
            // ________________________________________________________
            //
            // Modal multiselect for column selection

            $(".multiselect").multiselect();

            // ________________________________________________________
            //
            // Autocomplete search

            $("#SelectTerm").select2({
                placeholder: "Quick Select",
                theme: "classic",
                ajax: {
                    url: "/SubFunds/AutoCompleteSubFundList",
                    dataType: "json",
                    delay: 250,
                    data: function (params) {
                        return { selectTerm: params.term };
                    },
                    processResults: function (data) {
                        return { results: data }
                    }
                }
            });

            // ________________________________________________________
            //
            // Double top scroll for table
            $('.double-scroll').doubleScroll();
            $('#tableDoubleScroll').doubleScroll({ resetOnWindowResize: true });
        });
    </script>
}