@model List<string[]>

@{
    ViewData["Title"] = "All";
    DateTime? date = null;
}
<h2 class="text-center text-torshia">All Active SubFunds</h2>

<form class="d-inline" method="post">
    <div>
        <label for="datetime" class="text-torshia">SELECT DATE:</label>
        <input type="date" name="chosenDate" id="fundDatetime" value="@DateTime.Today.ToString("yyyy-MM-dd")">
        <button class="btn bg-pharus text-white" onclick="updateTableWithChosenDate(@date)">Update Table</button>
    </div>
</form>

<hr class="bg-pharus hr-2" />
<div class="table-responsive border-0 mx-auto">
    <table class="table table-hover" id="tableFunds">
        <thead>
            @for (int row = 0; row < 1; row++)
            {
                <tr>
                    @for (int col = 0; col < Model[row].Length; col++)
                    {
                        <th class="text-secondary text-center"><h5>@Model[row][col]</h5></th>
                    }
                </tr>
            }
        </thead>
        <tbody>
            @for (int row = 1; row < Model.Count; row++)
            {
                <tr>
                    @for (int col = 0; col < Model[row].Length; col++)
                    {
                        <td>@Model[row][col]</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>