@model Pharus.App.Models.BindingModels.SubFunds.EditSubFundBindingModel
@using Pharus.Domain.Enums.Funds;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Create New SubFund</h4>

<form asp-action="NewSubFund" method="post" class="d-inline">
    <div class="d-inline">
        @for (int row = 0; row < 1; row++)
        {
            @for (int col = 0; col < Model.EntityProperties[row].Length; col++)
            {
                <div>
                    <label class="control-label text-secondary">
                        @*@Html.TextBoxFor(m => Model[0][col], new { @class = "", @style = "border:0" })*@
                        @Model.EntityProperties[0][col]
                    </label>

                    <input type="text"
                           class="form-control maxw-270" />
                    @*@Html.TextBoxFor(m => Model[row][col], new { @class = "form-control" })*@

                </div>
            }
        }
    </div>

    <div class="button-holder mt-4">
        <button type="submit"
                class="btn bg-pharus text-white"
                name="update_button"
                style="margin-right:40px"
                onclick="return confirm('Are you sure you want to create this?')">
            Create Fund
        </button>
    </div>
</form>

<div>
    <a asp-action="All">Back to List</a>
</div>