@model Pharus.App.Models.ViewModels.Entities.SpecificEntityViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

@section Styles{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" />
    <style>
        body {
            background-image: none;
        }
    </style>
}

<form asp-controller="SubFunds"
      class="justify-content-between"
      method="post">

    <div class="d-flex mt-2 pr-3">
        <p>FUND CONTAINER: </p>
        <a href="/Funds/ViewEntitySE/@Model.BaseEntityId/@Model.ChosenDate"
           class="text-torshia font-weight-bold ml-1">
             @Model.BaseEntityName
        </a>
    </div>

    <partial name="SpecificEntity/Toolbar_Partial" />
    <div class="d-flex justify-content-between">
        <partial name="SpecificEntity/Info_Partial" />
        <partial name="SpecificEntity/Load_Documents_Partial" />
    </div>

    <hr class="bg-pharus hr-2" />

    <div class="row w-25 ml-3">
        <label class="text-torshia m-1 pr-3">SUB FUND ADDITIONAL INFORMATION</label>
        <select class="custom-select-lg pharus-select form-control input-sm"
                id="subFundAdditionalInfSelect"
                asp-for="SelectAdditionalInf">
            <option value="" selected disabled>Select</option>
            <option value="ShareClasses">Share Classes</option>
            <option value="TimelineChanges">Timeline Changes</option>
            <option value="AllDocuments">All Documents</option>
        </select>
    </div>

    <partial name="SpecificEntity/AllDocuments_Partial" />
    <partial name="SpecificEntity/TimeLine_Partial" />

    <div id="subEntities" class="mt-4">
        <div>
            <div class="d-flex w-100 mb-2" id="toolbar-pharus">
                <partial name="SpecificEntity/SubEntities/Select_Partial" />
                <partial name="SpecificEntity/SubEntities/Extract_Partial" />
            </div>
        </div>
        <partial name="SpecificEntity/SubEntities/ViewTable_Partial" />
        <partial name="SpecificEntity/SubEntities/BindingTable_Partial" />

        <partial name="SpecificEntity/SubEntities/Modal_Partial" />
    </div>
</form>

<form asp-controller="SubFunds"
      asp-action="UploadProspectus"
      method="post"
      enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <partial name="SpecificEntity/UploadPros_Partial" />
</form>

<form asp-controller="SubFunds"
      asp-action="UploadAgreement"
      method="post"
      enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <partial name="SpecificEntity/UploadAgr_Partial" />
</form>

@section Scripts{
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <script src="~/js/multiselect.js"></script>
    <script src="~/lib/jquery/Chart.js/utils.js"></script>
    <script src="~/lib/jquery/Chart.js/Chart.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.doubleScroll.js"></script>

    <script>
        window.onload = () => {
            manageSideNavBar();
            manageDropdowns();
        }

        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }

        // ________________________________________________________
        //
        // Chart JS Implementation

        @*const ctx = document.getElementById('aumF_Canvas').getContext('2d');
        const config = {
            type: 'line',
            data: {
                labels: @valDatesLabel,
                datasets: [
                    {
                    label: 'Fund Admin EUR',
                    backgroundColor: window.chartColors.red,
                    borderColor: window.chartColors.red,
                    data: @dataProviderFundAdminEUR,
                    fill: false,
                    }]
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'AUM For Funds'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    x: {
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Month'
                        }
                    },
                    y: {
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        }
                    }
                }
            }
        };*@

        $(document).ready(function () {

             // ________________________________________________________
            //
            // Modal multiselect for column selection

            $(".multiselect").multiselect();

            // ________________________________________________________
            //
            // Autocomplete search

            const url = "/SubFunds/AutoCompleteShareClassesList";
            const entityId = @Model.EntityId;

            $("#SelectTerm").select2({
                placeholder: "Select Share Classes",
                theme: "classic",
                ajax: {
                    url: url,
                    dataType: "json",
                    delay: 250,
                    data: function (params) {
                        return {
                            selectTerm: params.term,
                            entityId: entityId
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        }
                    }
                }
            });

            // ________________________________________________________
            //
            // Double top scroll for table

            $('.double-scroll').doubleScroll();
            $('#tableDoubleScroll').doubleScroll({ resetOnWindowResize: true });

            // ________________________________________________________
            //
            // Select menu for fund additional information -
            // subentities, timeline changes, all documents
            // Get selected value and keep select option open

            $('#subFundAdditionalInfSelect option').each(function () {
                if (this.selected) {
                const dropdownvalue = $("#subFundAdditionalInfSelect option:selected").val();
                    if (dropdownvalue == 'ShareClasses') {
                        $("#subEntities").css('visibility', 'visible');
                        $("#timelineChanges").css('visibility', 'hidden');
                        $("#allDocuments").addClass('d-none');

                    } else if (dropdownvalue == 'TimelineChanges') {
                        $("#timelineChanges").css('visibility', 'visible');
                        $("#subEntities").css('visibility', 'hidden');
                        $("#allDocuments").addClass('d-none');

                    } else if (dropdownvalue == 'AllDocuments') {
                        $("#allDocuments").removeClass('d-none');
                        $("#timelineChanges").css('visibility', 'hidden');
                        $("#subEntities").css('visibility', 'hidden');
                    } else {
                        $("#subEntities").css('visibility', 'hidden');
                        $("#timelineChanges").css('visibility', 'hidden');
                        $("#allDocuments").addClass('d-none');
                    }
                }
            });

            // ________________________________________________________
            //
            // Select menu for fund additional information -
            // subentities, timeline changes, all documents -
            // On change event for selected value

            $("#subFundAdditionalInfSelect").on('change', function () {
                const dropdownvalue = $("#subFundAdditionalInfSelect option:selected").val();
                if (dropdownvalue == 'ShareClasses') {
                    $("#subEntities").css('visibility', 'visible');
                    $("#timelineChanges").css('visibility', 'hidden');
                    $("#allDocuments").addClass('d-none');
                } else if (dropdownvalue == 'TimelineChanges') {
                    $("#timelineChanges").css('visibility', 'visible');
                    $("#subEntities").css('visibility', 'hidden');
                    $("#allDocuments").addClass('d-none');
                } else if (dropdownvalue == 'AllDocuments') {
                    $("#allDocuments").removeClass('d-none');
                    $("#timelineChanges").css('visibility', 'hidden');
                    $("#subEntities").css('visibility', 'hidden');
                } else {
                    $("#subEntities").css('visibility', 'hidden');
                    $("#timelineChanges").css('visibility', 'hidden');
                    $("#allDocuments").addClass('d-none');
                }
            });
        });
    </script>
}