@model Pharus.App.Models.ViewModels.Entities.SpecificEntityViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="justify-content-between" method="post">

    <partial name="SpecificEntityUpdatePartial"/>

    <div class="d-flex justify-content-between">

        <partial name="SpecificEntityInfoPartial"/>
        <div class="w-35 float-right">
            <partial name="SpecificEntityDocumentsPartial"/>

            @if (this.User.IsInRole("Admin"))
            {
                <div class="mt-5">
                    <a href="/SubFunds/EditSubFund/@Model.EntityId" class="btn bg-pharus text-white">Edit SubFund</a>
                </div>
                <div class="mt-5">
                    <a href="" class="btn bg-pharus text-white">Edit SubFund Connection</a>
                </div>
            }
        </div>
    </div>

    <partial name="SpecificEntitySearchPartial"/>
</form>

<form asp-controller="SubFunds" method="post">

    <partial name="ExtractSubEntitiesViewPartial"/>

    <hr class="bg-pharus hr-2" />

    <div class="dropdown pt-5">
        <button type="button" class="dropdown-btn maxw-270">
            ShareClasses<i class="fa fa-caret-down"></i>
        </button>
        <div id="myDropdown" class="dropdown-container">

            <partial name="SpecificEntityBindingTablePartial"/>

            <div class="table-responsive border-0 mx-auto" id="tableDoubleScroll">
                <table class="table table-hover" name="AESubEntities">
                    <thead>
                        <tr>
                            @for (int row = 0; row < 1; row++)
                            {
                                @for (int col = 0; col < Model.AESubEntities[row].Length; col++)
                                {
                                    <th class="text-secondary p-1">
                                        <h5>
                                            @Model.AESubEntities[row][col]
                                        </h5>
                                    </th>
                                }
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @for (int row = 1; row < Model.AESubEntities.Count; row++)
                        {
                            <tr class="tableRowPharus" onclick="document.location = '/ShareClasses/ViewEntitySE/@Model.AESubEntities[row][2]'">
                                @for (int col = 0; col < Model.AESubEntities[row].Length; col++)
                                {
                                    <td class="p-1">
                                        @Model.AESubEntities[row][col]
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>

@section Scripts
            {
    <script type="text/javascript" src="~/js/jquery.doubleScroll.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.double-scroll').doubleScroll();
            $('#tableDoubleScroll').doubleScroll({ resetOnWindowResize: true });
        });
    </script>
}