@using Pharus.Domain.Models.Users
@model Pharus.App.Models.BindingModels.Users.UserCreateBindingModel
@{
    ViewData["Title"] = "Create User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-torshia">Create User</h2>
<div>
    <a class="btn bg-pharus text-white mt-2" asp-action="Index">Back to Panel</a>
</div>
<hr />
<form class="d-inline" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label for="Username" class="text-torshia">Username</label><br>
        <input type="text"
               class="form-control maxw-270"
               id="username"
               placeholder="Username..."
               autocomplete="username"
               asp-for="Username">
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Password" class="text-torshia">Password</label><br>
        <input type="password"
               class="form-control maxw-270"
               id="password"
               placeholder="Password..."
               autocomplete="new-password"
               asp-for="Password">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="ConfirmPassword" class="text-torshia">Confirm Password</label><br>
        <input type="password"
               class="form-control maxw-270"
               id="confirmPassword"
               placeholder="Confirm Password..."
               autocomplete="new-password"
               asp-for="ConfirmPassword">
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Email" class="text-torshia">Email</label><br>
        <input type="email"
               class="form-control maxw-270"
               id="email"
               placeholder="Email..."
               asp-for="Email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="RoleType" class="text-torshia">Role</label><br>
        <select class="form-control maxw-270" id="roletype" asp-for="RoleType">
            <option selected disabled>-- Choose Role --</option>
            @foreach (var role in (List<PharusRole>)ViewData["Roles"])
            {
                <option value="@role.Name">@role</option>
            }
        </select>
        <span asp-validation-for="RoleType" class="text-danger"></span>
    </div>
    <div class="button-holder d-flex">
        <button type="submit"
                class="btn bg-pharus text-white"
                id="confirmCreateBtn">
            Create
        </button>
    </div>
</form>

@section Scripts {
    <script type="text/javascript" src="~/js/confirmCreate.js"></script>

    <script>
        window.onload = () => {
            manageSideNavBar();
            manageDropdowns();
            confirmCreate();
        }
    </script>
}