@model Pharus.App.Models.BindingModels.Users.EditUserBindingModel

@{
    ViewData["Title"] = "Edit User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit User</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditUser" method="post" class="d-inline">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control maxw-270" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control maxw-270" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleType" class="control-label"></label>
                <input asp-for="RoleType" class="form-control maxw-270" />
                <span asp-validation-for="RoleType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordHash" class="control-label"></label>
                <input asp-for="PasswordHash" class="form-control maxw-270" />
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control maxw-270" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="button-holder">
                <button type="submit"
                        class="btn bg-pharus text-white"
                        name="save_button"
                        value="Update"
                        style="margin-right:40px">
                    Save changes
                </button>
                <button type="submit"
                        class="btn bg-pharus text-white"
                        id="confirmDelBtn"
                        name="delete_button"
                        value="Delete">
                    Delete User
                </button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ViewUsers">Back to List</a>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/confirmDelete.js"></script>

    <script>
        window.onload = () => {
            manageSideNavBar();
            manageDropdowns();
            confirmDelete();
        }
    </script>
}