@model List<Pharus.App.ViewModels.Users.UserViewModel>
@{
    ViewData["Title"] = "View User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center text-torshia">User List</h1>
<hr class="bg-pharus w-50 hr-2" />
<div class="d-flex justify-content-between">
    <table class="table table-hover table-bordered">
        <thead>
            <tr class="row">
                <th scope="col" class="col-lg-5 d-flex justify-content-center"><h3>Username</h3></th>
                <th scope="col" class="col-lg-2 d-flex justify-content-center"><h3>Roles</h3></th>
                <th scope="col" class="col-lg-2 d-flex justify-content-center"><h3>Last Login</h3></th>
                <th scope="col" class="col-lg-2 d-flex justify-content-center"><h3>Logged</h3></th>
                <th scope="col" class="col-lg-1 d-flex justify-content-center"><h3>Actions</h3></th>
            </tr>
        </thead>
        <tbody>           
			@foreach (var user in Model)
            {
            <tr class="row">
                <th scope="row" class="col-lg-5 d-flex justify-content-center"><h5>@user.Username</h5></th>    
                <td class="col-lg-2 d-flex justify-content-center"><h5>@user.Role</h5></td>                
                <td class="col-lg-2 d-flex justify-content-center"><h5></h5></td>
                <td class="col-lg-2 d-flex justify-content-center"><h5></h5></td>    
                <td class="col-lg-1 d-flex justify-content-center">Edit</td>            
            </tr> 
			}
        </tbody>
    </table>
</div>


