@model List<Pharus.App.ViewModels.Users.UserViewModel>
@{
    ViewData["Title"] = "View User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center text-torshia">User List</h1>
<hr class="bg-pharus w-50 hr-2" />
<div class="table-responsive border-0">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"><h5>Username</h5></th>
                <th scope="col"><h5>Roles</h5></th>
                <th scope="col"><h5>Last Login</h5></th>
                <th scope="col"><h5>Logged</h5></th>
                <th scope="col"><h5>Actions</h5></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <th scope="row">@user.Username</th>
                    <td>@user.Role</td>
                    <td>@user.LastLogin</td>
                    <td></td>
                    <td>
                        <a href="/Admin/EditUser/@user.Username" class="btn bg-pharus text-white">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


