@model EntitiesViewModel
@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Share Classes"];
    Layout = "~/Views/Shared/_Layout.cshtml";

    var controller = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="container-all-funds justify-content-between">
    <div class="w-100">
        <div class="mobile-none">
            <hr class="mt-0 mb-auto" />
            <div class="w-100 toolbar-view-all">
                <div>
                    <div class="h-100 d-flex">
                        <partial name="AllEntities/_Toolbar" />
                        <div class="title-main">
                            <h2 class="text-torshia">@SharedLocalizer["Pharus Share Classes"]</h2>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mt-1 mb-0" />
        </div>
        <h2 class="text-center text-torshia title-responsive">
            @SharedLocalizer["Pharus Share Classes"]
        </h2>
        <partial name="_StatusMessage" />
        <partial name="AllEntities/_ViewTable" />
    </div>
</div>

@section Scripts{
    <partial name="_EntitiesScriptsPartial" />

    <script>
        let model = {
            Date: '@Model.Date',
            ControllerName: '@controller',
        };

        $(document).ready(function () {
            // ________________________________________________________
            //
            // Extract view as excel or pdf
            extract(model);
            submitForm();

            // ________________________________________________________
            //
            // Autocomplete search
            const controller = '@controller';
            const tokenUpdate = $('#update-form input[name=__RequestVerificationToken]').val();
            loadAutocomplete(tokenUpdate, controller, entityId = null);
        });
    </script>
}