
@import '../settings/breakpoints.scss';
$colorWhite: white;

body {
    background: url(../../images/Background_Home_New.png) no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

p {
    margin: 0;
}

h1 {
    line-height: unset;
}

img {
    max-width: 100%;
    height: auto;
}

/* Cookie Consent Styling*/

.container-cookie-consent {
    width: 100%;
}

.alert-dismissible .close-cookie-consent {
    top: 2px;
    right: unset;
    background: green;
    color: $colorWhite;
    text-shadow: none;
    border: none;

    .close-cookie-consent:hover {
        background: #004176;
    }
}

/* Main Styling */

.container-logo {
    position: absolute;
    top: 0;
    left: 0;

    img {
        @include for-phone-only {
            height: 55px;
            width: 55px;
        }

        @include for-tablet-portrait-up {
            height: 65px;
            width: 65px;
        }

        @include for-tablet-landscape-up {
            height: 80px;
            width: 80px;
        }

        @include for-desktop-up {
            height: 100px;
            width: 100px;
        }

        @include for-big-desktop-up {
            height: 120px;
            width: 120px;
        }
    }
}

.container-btn-login {

    img:after {
        width: 300px;
    }

    img:hover {
        opacity: 0.8;
    }

    img {
        @include for-phone-only {
            width: 240px;
        }

        @include for-tablet-portrait-up {
            width: 260px;
        }

        @include for-tablet-landscape-up {
            width: 280px;
        }

        @include for-desktop-up {
            width: 300px;
        }

        @include for-big-desktop-up {
            width: 320px;
        }
    }
}

.wrapper-language-bar {
    a {
        color: $colorWhite;
    }

    a:hover {
        text-decoration: underline;
        color: $colorWhite;
    }

    img {
        width: 30px;
        height: 30px;
    }
}

.container-home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
    justify-content: space-evenly;
}

.welcome-message {
    flex: 1 0 160px;
    align-items: flex-end;
}

.container-btn {
    align-items: flex-start;
    flex: 1 0 210px;
}

/* Footer Styling */

.footer-first, .footer-second {
    position: fixed;
}

.footer-first {
    bottom: 4%;
}

.footer-second {
    bottom: 0;
}
