/*
*
* ==========================================
* MEDIA QUERY - mobile
* ==========================================
*
*/

@media only screen and (max-width: 599px) {
    .footer-first {
        bottom: 8%;
    }

    .welcome-message {
        flex: 1 0 250px;
    }

    .div-text-pharus {
        margin-top: 20px;
    }

    .container-cookie-consent {
        position: initial;
    }

    .container-home {
        height: auto;
    }

    .inner {
        font-size: 12px;
    }
}
