*,
*::after,
*::before {
  box-sizing: border-box; }

body {
  background: url(../../images/Background_Home_New.png) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden; }

p {
  margin: 0; }

h1 {
  line-height: unset; }

img {
  max-width: 100%;
  height: auto; }

/* Cookie Consent Styling*/
.container-cookie-consent {
  width: 100%; }

.alert-dismissible .close-cookie-consent {
  top: 2px;
  right: unset;
  background: green;
  color: white;
  text-shadow: none;
  border: none; }
  .alert-dismissible .close-cookie-consent .close-cookie-consent:hover {
    background: #004176; }

/* Main Styling */
.container-logo {
  position: absolute;
  top: 0;
  left: 0; }
  @media (max-width: 599px) {
    .container-logo img {
      height: 55px;
      width: 55px; } }
  @media (min-width: 600px) {
    .container-logo img {
      height: 65px;
      width: 65px; } }
  @media (min-width: 900px) {
    .container-logo img {
      height: 80px;
      width: 80px; } }
  @media (min-width: 1200px) {
    .container-logo img {
      height: 100px;
      width: 100px; } }
  @media (min-width: 1800px) {
    .container-logo img {
      height: 120px;
      width: 120px; } }

.container-btn-login img:after {
  width: 300px; }

.container-btn-login img:hover {
  opacity: 0.8; }

@media (max-width: 599px) {
  .container-btn-login img {
    width: 240px; } }

@media (min-width: 600px) {
  .container-btn-login img {
    width: 260px; } }

@media (min-width: 900px) {
  .container-btn-login img {
    width: 280px; } }

@media (min-width: 1200px) {
  .container-btn-login img {
    width: 300px; } }

@media (min-width: 1800px) {
  .container-btn-login img {
    width: 320px; } }

.wrapper-language-bar a {
  color: white; }

.wrapper-language-bar a:hover {
  text-decoration: underline;
  color: white; }

.wrapper-language-bar img {
  width: 30px;
  height: 30px; }

.container-home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 800px;
  justify-content: space-evenly; }

.welcome-message {
  flex: 1 0 160px;
  align-items: flex-end; }

.container-btn {
  align-items: flex-start;
  flex: 1 0 210px; }

/* Footer Styling */
.footer-first, .footer-second {
  position: fixed; }

.footer-first {
  bottom: 4%; }

.footer-second {
  bottom: 0; }

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; }

.container-cookie-consent {
  font-size: 14px; }
  .container-cookie-consent a {
    text-decoration: underline; }

.wrapper-language-bar {
  margin: 3%; }

.wrapper-language-bar img {
  margin-left: 6px; }

.container-home {
  padding-right: 15px;
  padding-left: 15px; }

.inner {
  font-size: 14px;
  padding: 20px; }

@media (max-width: 599px) {
  .text-pharus {
    font-size: 26px; } }

@media (min-width: 600px) {
  .text-pharus {
    font-size: 32px; } }

@media (min-width: 900px) {
  .text-pharus {
    font-size: 34px; } }

@media (min-width: 1200px) {
  .text-pharus {
    font-size: 36px; } }

@media (min-width: 1800px) {
  .text-pharus {
    font-size: 40px; } }

/*
*
* ==========================================
* MEDIA QUERY - mobile
* ==========================================
*
*/
@media only screen and (max-width: 599px) {
  .footer-first {
    bottom: 8%; }
  .welcome-message {
    flex: 1 0 250px; }
  .div-text-pharus {
    margin-top: 20px; }
  .container-cookie-consent {
    position: initial; }
  .container-home {
    height: auto; }
  .inner {
    font-size: 12px; } }
