
@import '../settings/breakpoints.scss';

$fontSize: 14px;
$fontFamily: Arial,Helvetica,sans-serif;

body {
    font-family: $fontFamily;
    text-align: center;
}

.container-cookie-consent {
    font-size: $fontSize;

    a {
        text-decoration: underline;
    }
}

.wrapper-language-bar {
    margin: 3%;
}

.wrapper-language-bar img {
    margin-left: 6px;
}

.container-home {
    padding-right: 15px;
    padding-left: 15px;
}

.inner {
    font-size: $fontSize;
    padding: 20px;
}

.text-pharus {
    @include for-phone-only {
        font-size: 26px;
    }

    @include for-tablet-portrait-up {
        font-size: 32px;
    }

    @include for-tablet-landscape-up {
        font-size: 34px;
    }

    @include for-desktop-up {
        font-size: 36px;
    }

    @include for-big-desktop-up {
        font-size: 40px;
    }
}
