body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; }

.container-cookie-consent {
  font-size: 14px; }
  .container-cookie-consent a {
    text-decoration: underline; }

.wrapper-language-bar {
  margin: 3%; }

.wrapper-language-bar img {
  margin-left: 6px; }

.container-home {
  padding-right: 15px;
  padding-left: 15px; }

.inner {
  font-size: 14px;
  padding: 20px; }

@media (max-width: 599px) {
  .text-pharus {
    font-size: 26px; } }

@media (min-width: 600px) {
  .text-pharus {
    font-size: 32px; } }

@media (min-width: 900px) {
  .text-pharus {
    font-size: 34px; } }

@media (min-width: 1200px) {
  .text-pharus {
    font-size: 36px; } }

@media (min-width: 1800px) {
  .text-pharus {
    font-size: 40px; } }
