
<div id="background-login-pharus">
    <img src="~/images/Background_Login.png" width="1680" height="907">
</div>

<div class="d-flex justify-content-center">
    <a id="logo-login-pharus" href="/Home/Index">
        <img src="~/images/Logo_Pharus.jpg" width="60">
    </a>
</div>

<div>
    <text id="footer-login-pharus"
          class="text-footer-pharus text-color-grey-pharus">
        © Pharus Management Lux SA 16, Avenue de la Gare L- 1610 Luxembourg T. +352 28 55 69 - 1
    </text>
</div>