<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Pharus DataGate</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>

    <link rel="stylesheet" href="~/css/reset-css.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/custom.css"/>
    <link rel="stylesheet" href="~/css/style.css"/>
    <link href="http://cdn.syncfusion.com/17.3.0.9/js/web/flat-azure/ej.web.all.min.css"
          rel="stylesheet" />

</head>
<body>
    <div class="container-fluid justify-content-between mb-6">
        <header>
            @if (!this.User.Identity.IsAuthenticated)
            {
                <nav class="navbar navbar-expand-lg navbar-dark bg-pharus">
                    <a href="/Home/Index"><img src="/images/Logo_Pharus.jpg" class="img-responsive" width="50" height="50" alt="Pharus Management"></a>
                    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse" id="navbarNav">
                        <div id="intro" class="text-right">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link nav-link-white active" href="/Home/Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link nav-link-white active" href="/Identity/Account/Login">Login</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            }

            else
            {
                <nav class="navbar navbar-expand-lg navbar-dark bg-pharus">

                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <span style="cursor:pointer" onclick="openNav()"><img src="/images/Logo_Pharus.jpg" class="img-responsive" width="50" alt="Pharus Management"></span>

                            <ul id="mySidenav" class="sidenav">
                                <li>
                                    <a href="" class="closebtn" onclick="closeNav()">&times;</a>
                                </li>
                                <li class="dropdown pt-5">
                                    <button class="dropdown-btn">
                                        Funds<i class="fa fa-caret-down"></i>
                                    </button>
                                    <div id="myDropdown" class="dropdown-container">
                                        <a class="dropdown-item font-weight-light" href="/Funds/All">List</a>
                                        @if (this.User.IsInRole("Admin"))
                                        {
                                            <a class="dropdown-item font-weight-light" href="#">New</a>
                                        }

                                        <a class="dropdown-item font-weight-light" href="#">Report</a>
                                    </div>
                                </li>

                                <li class="dropdown">
                                    <button class="dropdown-btn">
                                        SubFunds<i class="fa fa-caret-down"></i>
                                    </button>
                                    <div id="myDropdown" class="dropdown-container">
                                        <a class="dropdown-item font-weight-light" href="/SubFunds/All">List</a>
                                        @if (this.User.IsInRole("Admin"))
                                        {
                                            <a class="dropdown-item font-weight-light" href="#">New</a>
                                        }

                                        <a class="dropdown-item font-weight-light" href="#">Report</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <button class="dropdown-btn">
                                        ShareClasses<i class="fa fa-caret-down"></i>
                                    </button>
                                    <div id="myDropdown" class="dropdown-container">
                                        <a class="dropdown-item font-weight-light" href="/ShareClasses/All">List</a>
                                        @if (this.User.IsInRole("Admin"))
                                        {
                                            <a class="dropdown-item font-weight-light" href="#">New</a>
                                        }

                                        <a class="dropdown-item font-weight-light" href="#">Report</a>
                                    </div>
                                </li>
                            </ul>

                        </li>
                    </ul>

                    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse collapse" id="navbarNav">
                        <div id="intro" class="text-right">
                            <ul class="navbar-nav">
                                @if (this.User.IsInRole("Admin"))
                                {
                                    <li class="nav-item active">
                                        <a class="nav-link nav-link-white active" href="/Admin/Index">Panel</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item active">
                                        <a class="nav-link nav-link-white active" href="/Home/Index">Home</a>
                                    </li>
                                }
                                <li class="nav-item">
                                    <a class="nav-link nav-link-white active" href="">View Calendar</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link nav-link-white active" href="/Identity/Account/Logout">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            }

        </header>

        <main>
            @RenderBody()
        </main>

        <footer>
            <div class="container-fluid bg-pharus">
                <div class="text-white p-2 text-center">&copy; Pharus Management Lux SA 16, Avenue de la Gare L- 1610 Luxembourg T. +352 28 55 69 - 1</div>
            </div>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js"></script>
        <script src="http://cdn.syncfusion.com/js/assets/external/jquery-1.11.3.min.js"></script>
        <script src="http://cdn.syncfusion.com/17.3.0.9/js/web/ej.web.all.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/javascript">
            $('#datepicker').datepicker({
                weekStart: 1,
                daysOfWeekHighlighted: "6,0",
                autoclose: true,
                todayHighlight: true,
            });
            $('#datepicker').datepicker("setDate", new Date());
        </script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>