@model Pharus.App.Models.ViewModels.Entities.ActiveEntitiesViewModel

<div class="w-100 d-flex justify-content-between my-5">
    <div>
        <label for="date"
               class="text-torshia m-1 pr-3">SELECT DATE:</label>
        <input type="date"
               id="fundDatetime"
               asp-for="ChosenDate"
               min="2018-01-01" max=@DateTime.Today.ToString("yyyy-MM-dd")>

        <input type="submit"
               class="bg-pharus text-white"
               asp-for="Command"
               value="Update Table"></>

        <div class="text-dark pr-3 bg-info w-20 d-inline">
            <label for="Status" class="pr-3">ACTIVE</label>
            @Html.CheckBoxFor(m => Model.IsActive)
        </div>
    </div>
    <div>
        <select name="SearchTerm" id="SearchTerm" class="form-control input-sm" style="width:300px"></select>

        <input type="submit"
               class="bg-pharus text-white"
               asp-for="Command"
               value="Search" />
    </div>
</div>