@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    var entityId = string.Empty;
}

<div class="table-responsive border-0 mx-auto" id="tableDoubleScroll">
    <table class="table table-hover text-nowrap">
        <thead>
            <tr>
                @for (int row = 0; row < 1; row++)
                {
                    @for (int col = 0; col < Model.Entities[row].Length; col++)
                    {
                        <th class="text-white pr-3 tableHeaderPharus">
                            <h5>
                                @Model.Entities[row][col]
                            </h5>
                        </th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @for (int row = 1; row < Model.Entities.Count; row++)
            {
                entityId = Model.Entities[row][2];

                <tr class="tableRowPharus" onclick="document.location ='/@controllerName/ViewEntitySE/@entityId/@Model.ChosenDate'">
                    @for (int col = 0; col < Model.Entities[row].Length; col++)
                    {
                        <td class="p-1">
                            @Model.Entities[row][col]
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>