@{ 
   var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="button-holder d-flex justify-content-center my-5">
    <button class="extractbtn"
            type="submit"
            formaction="/@controllerName/ExtractExcelEntities"
            name="extract_Excel">
        <img src="~/images/Icon_Excel.ico"
             width="35"
             height="35" />
    </button>

    <button class="extractbtn"
            type="submit"
            formaction="/@controllerName/ExtractPdfEntities"
            name="extract_Pdf">
        <img src="~/images/Icon_Pdf.ico"
             width="35"
             height="35" />
    </button>
</div>