@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

@section Styles{

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
}

<div>
    <u class="text-torshia">LIST OF PROSPECTUS</u><br>
    <button class="btn-link mt-3"
            formtarget="_blank"
            type="submit"
            formaction="/@controllerName/ReadPdfFile"
            name="read_Pdf">
        @Model.FileNameToDisplay
    </button>

    @*<div class="mt-2">
            <a href="/Funds/ModalUploadDocumentAction" class="btn bg-pharus text-white">Upload Document</a>
        </div>*@

        <button type="button" class="btn bg-pharus text-white" data-toggle="modal" data-target="#upDocModal">Upload Document</button>

        <div class="modal" id="upDocModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">                    
                    <div class="modal-body">
                        <p>Some text in the modal.</p>
                        <button type="button" class="btn bg-pharus text-white">Upload Document</button>
                    </div>                    
                </div>
            </div>
        </div>

    </div>

<div class="mt-4">
    <u class="text-torshia">LIST OF AGREEMENTS</u>
    <br>
    <a href="#bottomOfPage">Document manco offer</a>

    <div class="mt-2">
        <a href="/Funds/EditFund/@Model.EntityId" class="btn bg-pharus text-white">Upload Agreement</a>
    </div>
</div>

@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
}