@model Pharus.App.Models.ViewModels.Entities.SpecificEntityViewModel

<div>
    <input type="search"
           id="searchField"
           name="searchString"
           asp-for="SearchString"/>

    <input type="submit"
           class="bg-pharus text-white"
           asp-for="Command"
           value="Filter" />
</div>