@model Pharus.App.Models.ViewModels.Entities.SpecificEntityViewModel

<div>
    <select name="SearchTerm" 
            id="SearchTerm" 
            class="form-control input-sm" 
            style="width:300px"></select>

    <input type="submit"
           class="bg-pharus text-white"
           asp-for="Command"
           value="Search" />
</div>