@model Pharus.App.Models.ViewModels.Entities.SpecificEntityViewModel

    <div>
        <table class="table" name="AESubEntities" hidden>
            <thead>
                <tr>
                    @for (int row = 0; row < 1; row++)
                    {
                        @for (int col = 0; col < Model.AESubEntities[row].Length; col++)
                        {
                            <th>
                                <h5>
                                    @Html.TextBoxFor(af => Model.AESubEntities[row][col],
                                        new
                                             {
                                            @readonly = true
                                        })
                                </h5>
                            </th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                @for (int row = 1; row < Model.AESubEntities.Count; row++)
                {
                    <tr>
                        @for (int col = 0; col < Model.AESubEntities[row].Length; col++)
                        {
                            <td>
                                @Html.TextBoxFor(af => Model.AESubEntities[row][col],
                                    new
                                         {
                                        @readonly = true
                                    })
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>