<div class="table-responsive border-0 w-35">    
    <table class="table table-hover">
        <tbody>
            @for (int row = 1; row < Model.Entity.Count; row++)
            {
                @for (int col = 0; col < Model.Entity[row].Length; col++)
                {
                    <tr>
                        <th class="text-secondary p-1">
                            <h5>
                                @Model.Entity[0][col]
                            </h5>
                        </th>
                        <td class="p-1">
                            @Model.Entity[row][col]
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>