/*
*
* ==========================================
* TABLE
* ==========================================
*
*/
.table-view-pharus {
    white-space: nowrap !important;
}

    .table-view-pharus .th-name {
        min-width: 380px;
    }

    .table-view-pharus th {
        text-align: center;
        background-color: rgb(0, 65, 118);
        color: #fff !important;
        border-right: 2px solid #dee2e6;
        padding-right: 2rem !important;
    }

    .table-view-pharus th, .table-view-pharus td {
        font-size: 15px;
    }

    .table-view-pharus .td-name-link a {
        color: #0056b3;
        cursor: pointer;
    }

        .table-view-pharus .td-name-link a:hover {
            text-decoration: underline;
            color: #007bff;
        }

    .table-view-pharus tbody tr {
        height: 50px;
    }

        .table-view-pharus tbody tr:hover {
            background-color: #0041760d;
        }

        .table-view-pharus tbody tr td {
            vertical-align: middle;
            text-align: center;
        }

.help {
    cursor: help;
}

.inactive-entity {
    opacity: 0.5;
}

    .inactive-entity:hover {
        opacity: 1;
    }

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

.vertical {
    border-left: 1px ridge;
    /*height: 90px;*/
    margin-top: 4px;
}

.tbl-agreements tr td,
.tbl-documents tr td,
.tbl-reports tr td,
{
    vertical-align: middle;
}

a.a-underline:hover {
    text-decoration: underline;
}

.div-entity-container-wrapper {
    display: flex;
    margin-top: 5px;
    position: absolute;
    top: 67px;
    left: 18px;
}

    .div-entity-container-wrapper a {
        margin-left: 0.25rem !important;
        font-weight: 700 !important;
    }


.table-search-wrapper {
    text-align: center;
    margin-top: 67px;
}

#table-info-pharus {
    font-size: 15px;
}
