/*
*
* ==========================================
* TITLE
* ==========================================
*
*/
.title-main {
    width: 7%;
    text-align: center;
    margin-left: 115px;
    white-space: nowrap;
}

.title-responsive {
    line-height: 2.2;
}

@media only screen and (min-width: 990px) and (max-width: 1250px) {
    .title-main {
        display: none;
    }
}

@media only screen and (min-width: 1440px) {
    .title-main {
        width: 20%;
    }
}

@media only screen and (min-width: 1040px) {
    .title-responsive {
        display: none;
    }
}