/*
*
* ==========================================
* CARD COLUMN
* ==========================================
*
*/

.container-column-card {
    width: 55%;
    transform: translateX(-0.3%);
}

/* Float four columns side by side */
.column {
    float: left;
    width: 33.33%;
    padding: 0 10px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

    .column:hover, .column:focus, .column:active {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

/* Remove extra left and right margins, due to padding */
.row {
    margin: 0 -5px;
}

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column-add-info, .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 4px;
    text-align: center;
    height: 200px;
    background: rgba(255, 255, 255, 0.80);
}

.row .column .card a {
    font-size: 1.65rem;
    margin-bottom: auto !important;
    margin-top: auto !important;
    color: #0056b3;
}

    .row .column .card a:hover {
        text-decoration: none;
        color: rgb(0, 65, 118);
    }


.column-add-info {
    float: left;
    padding: 0 1px;
}

.card-add-info {
    display: grid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0px;
    background-color: #f8f9fa;
    height: 55px;
    width: 120px;
}

.column-add-info .card-add-info button {
    outline: none;
    border: none;
    background: none;
}

.column-add-info :hover {
    background-color: #0056b3;
    color: white;
}

.clicked-bg {
    background-color: #0056b3;
}

.clicked-color {
    color: white;
}
