
/*
*
* ==========================================
* NAVBAR
* ==========================================
*
*/
.header-datagate {
    top: 0;
    z-index: 1;
    position: fixed;
    width: 100%;
    background: rgb(1, 35, 63);
    height: 60px;
    display: flex;
}

    .header-datagate a {
        font-family: 'Overpass', 'Arial', 'sans-serif';
        font-size: 8px;
        text-transform: uppercase;
    }

.img-home-redirect {
    max-width: 50px;
    margin-left: 10px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.header-datagate-app-navbar a {
    margin-top: 2%;
    color: white;
    text-decoration: none;
}

.responsive-navbar {
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

.responsive-menu .responsive-menu-user {
    width: 0px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    right: -10%;
    top: 100%;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
}

.responsive-menu.open .responsive-menu-user {
    width: 180px;
    opacity: 1;
    visibility: visible;
    right: 0%;
}

.menu-user-container {
    width: 180px;
}

    .menu-user-container ul {
        background: #222;
        float: right;
        width: 100%;
        height: auto;
        border-top: 1px solid #333;
    }

        .menu-user-container ul li {
            float: right;
            width: 100%;
            height: auto;
            border-bottom: 1px solid #333;
        }

            .menu-user-container ul li a {
                float: right;
                width: 100%;
                height: 41px;
                padding: 10px 17px 12px 15px;
                position: relative;
                font-size: 15px;
                line-height: 19px;
                color: #fff;
                text-decoration: none;
                text-align: right;
                font-weight: bold;
                text-transform: uppercase;
                cursor: pointer;
            }

                .navbar a:hover,
                .sidenav-dropdown-btn:hover,
                .menu-user-container ul li a:hover {
                    color: #0056b3;
                }


.header-datagate-app-navbar a:hover {
    color: rgb(163, 214, 255);
}

.responsive-menu .open-responsive-menu::before {
    content: '';
    cursor: pointer;
    background: url(../../images/bars-solid.svg) no-repeat center center;
    background-position-x: center;
    background-position-y: center;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
    right: 1%;
    bottom: 22%;
    position: absolute;
    opacity: 1;
    width: 32px;
    height: 32px;
}

.responsive-menu .open-responsive-menu::after {
    content: '';
    cursor: pointer;
    background: url(../../images/times-solid.svg) no-repeat center center;
    background-position-x: center;
    background-position-y: center;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
    right: -2.5%;
    bottom: 22%;
    position: absolute;
    opacity: 0;
    width: 32px;
    height: 32px;
}

.responsive-menu.open .open-responsive-menu:before {
    opacity: 0;
    right: -2.5%;
}

.responsive-menu.open .open-responsive-menu:after {
    opacity: 1;
    right: 1%;
}

.wrapper-language-bar {
    margin-left: 110px !important;
}

    .wrapper-language-bar a {
        color: white;
    }

    .wrapper-language-bar img {
        width: 30px;
        height: 30px;
        margin-left: 6px;
        margin-top: -4px;
    }
