/*
*
* ==========================================
* SELECT MENU, TIMELINE, DOCUMENTS
* ==========================================
*
*/

#columnModal {
    top: 0%;
}

.modal-footer {
    align-items: initial;
}

    .modal-footer .btn-datagate {
        display: inline-block;
        color: white;
    }

a:not([href]):hover {
    color: white;
}

.modal-footer-save-btn-container {
    flex: 1
}
