/*
*
* ==========================================
* SELECT MENU, TIMELINE, DOCUMENTS
* ==========================================
*
*/

.select-div-pharus {
    margin-top: -0.4%
}

#columnModal {
    top: 0%;
}

.modal-footer-save-btn-container {
    width: 82%;
}

