@model EntitiesViewModel

@{
    ViewData["Title"] = GlobalConstants.SubFundsControllerName;
    Layout = "~/Views/Shared/_Layout.cshtml";

    var controller = this.ViewContext.RouteData.Values["controller"].ToString();
    var route = string.Empty;

    if (controller == GlobalConstants.FundsControllerName)
    {
        route = GlobalConstants.FundAllUrl;
    }
}

@section Styles{
    <link type="text/css" rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" asp-append-version="true">
    <link type="text/css" rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.min.css" asp-append-version="true">
    <link type="text/css" rel="stylesheet" href="~/lib/jqueryui/themes/smoothness/jquery-ui.min.css" asp-append-version="true" />
}

<div class="container-all-funds justify-content-between">
    <div class="w-100">
        <div class="mobile-none">
            <hr class="mt-0 mb-auto" />
            <div class="w-100 toolbar-view-all">
                <div>
                    <div class="h-100 d-flex">
                        <partial name="AllEntities/_Toolbar" />
                        <div class="title-main">
                            <h2 class="text-torshia">Pharus Sub Funds</h2>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mt-1 mb-0" />
        </div>
        <h2 class="text-center text-torshia title-responsive">Pharus Sub Funds</h2>
        <partial name="_StatusMessage" />
        <partial name="AllEntities/_ViewTable" />
    </div>
</div>

@section Scripts{
    <script src="~/lib/jqueryui/jquery-ui.min.js" asp-append-version="true"></script>
    <script src="~/lib/select2/dist/js/select2.min.js" asp-append-version="true"></script>
    <script src="~/js/controllers/entitiesController.js" asp-append-version="true"></script>
    <script src="~/js/plugins.js" asp-append-version="true"></script>

    <script>
        let model = {
            Date: '@Model.Date',
            ControllerName: '@controller',
            RouteName: '@route',
        };

        // ________________________________________________________
        //
        // Additional information about headers
        $(function () {
            $('[data-toggle="tooltip"]').tooltip({
                html: true
            })
        })

        //$('.student-name').tooltip({
        //    placement: 'top',
        //    title: 'Student profile is not activated',
        //    trigger: 'hover'
        //})

        $(document).ready(function () {
            // ________________________________________________________
            //
            // Extract view as excel or pdf
            extract(model);
            submitForm();

            // ________________________________________________________
            //
            // Autocomplete search
            const controller = '@controller';
            const tokenUpdate = $('#update-form input[name=__RequestVerificationToken]').val();
            loadAutocomplete(tokenUpdate, controller, entityId = null);

            // ________________________________________________________
            //
            // Modal multiselect for column selection
            $('.multiselect').multiselect();

            // ________________________________________________________
            //
            // Double top scroll for wide table
            $('.double-scroll').doubleScroll();
            $('.table-wrapper-double-scroll').doubleScroll({ resetOnWindowResize: true });
        });
    </script>
}