@model DataGate.Web.ViewModels.Entities.EntitiesViewModel

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link type="text/css" rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link type="text/css" rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" />
}

<form asp-controller="Funds"
      class="justify-content-between"
      method="post"
      id="entity-form-pharus">
    <div>
        <div>
            <hr class="mt-0 mb-auto" />
            <div class="w-100" id="toolbar-pharus">
                <partial name="AllEntities/_Select" />
                <partial name="AllEntities/_Update" />
                <partial name="AllEntities/_Extract" />
                <div class="justify-content-center w-35">
                    <h2 class="text-center text-torshia" id="entityName">All Funds</h2>
                </div>
            </div>
            <hr class="mt-1 mb-0" />
        </div>

        <partial name="AllEntities/_Modal" />
        <partial name="AllEntities/_BindingTable" />
        <partial name="AllEntities/_ViewTable" />
    </div>
</form>

@section Scripts{
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
            
    <script type="text/javascript" src="~/js/submitForm.js"></script>
    <script type="text/javascript" src="~/js/buttonRedirect.js"></script>
    <script type="text/javascript" src="~/js/multiselect.js"></script>
    <script type="text/javascript" src="~/js/select2/select2-entities.js"></script>
    <script type="text/javascript" src="~/lib/jquery/double-scroll/jquery.doubleScroll.js"></script>

    <script>
        window.onload = () => {
            manageSideNavBar();
            manageDropdowns();
            submitForm();
            buttonRedirect();
        }

        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }

        $(document).ready(function () {

            const url = "/Funds/AutoCompleteFundList";
            passUrlToSelect(url);

            // ________________________________________________________
            //
            // Modal multiselect for column selection

            $(".multiselect").multiselect();

            // ________________________________________________________
            //
            // Double top scroll for table

            $('.double-scroll').doubleScroll();
            $('#tableDoubleScroll').doubleScroll({ resetOnWindowResize: true });
        });
    </script>
}