@using DataGate.Common
@model DataGate.Web.ViewModels.Entities.EntitiesViewModel

@{
    ViewData["Title"] = GlobalConstants.FundsControllerName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-controller="Funds"
      class="justify-content-between"
      method="post"
      id="entity-form-pharus" style="margin-top: -2.9%;">
    <div>
        <div>
            <hr class="mt-0 mb-auto" />
            <div class="w-100" id="toolbar-pharus">
                <partial name="AllEntities/_Select" />
                <partial name="AllEntities/_Update" />
                <partial name="AllEntities/_Extract" />
                <div class="justify-content-center w-35">
                    <h2 class="text-center text-torshia" id="entityName">All Funds</h2>
                </div>
            </div>
            <hr class="mt-1 mb-0" />
        </div>

        <partial name="AllEntities/_Modal" />
        <partial name="AllEntities/_BindingTable" />
        <partial name="AllEntities/_ViewTable" />
    </div>
</form>

@section Scripts{
    <script type="text/javascript" src="~/js/submitForm.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/buttonRedirect.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/multiselect.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/select2/select2-entities.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/double-scroll/jquery.doubleScroll.js" asp-append-version="true"></script>

    <script>
        window.onload = () => {
            manageSideNavBar();
            manageDropdowns();
            submitForm();
            buttonRedirect();
        }

        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }

        $(document).ready(function () {

            const url = "/Funds/AutoCompleteFundList";
            passUrlToSelect(url);

            // ________________________________________________________
            //
            // Modal multiselect for column selection

            $(".multiselect").multiselect();

            // ________________________________________________________
            //
            // Double top scroll for wide table

            $('.double-scroll').doubleScroll();
            $('#tableDoubleScroll').doubleScroll({ resetOnWindowResize: true });
        });
    </script>
}