
.form-control-login-pharus{
    width: 270px;
    margin: 0 auto;
    text-align: center;
    display: block;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: 4px 8px;
}

.form-control-pharus{
    width: 270px;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: 4px 8px;
}

#btnLogin, #btnCreateUser{
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  
#btnLogin:hover {
    background-color: #555555;
    color: white;
  }

#btnCreateUser:hover {
    background-color: #555555;
    color: white;
  }