
/*#bg-one {
    background-image: url("../images/Background_Pharus.jpg");
    background-repeat: no-repeat;
    background-position: center; 
}*/

#btnLogin {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

    #btnLogin:hover {
        background-color: #555555;
        color: white;
    }

.navbar a:hover, .dropdown-btn:hover {
    background-color: deepskyblue;
}

/*SideNav*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f9f9f9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidenav a, .dropdown-btn {
        padding: 8px 8px 8px 12px;
        text-decoration: none;
        font-size: 20px;
        color: black;
        display: block;
        transition: 0.3s;
        margin-bottom: 5%;
        border: none;
        background: none;
        outline: none;
        width: 100%;
        text-align: left;
    }

    .sidenav .closebtn {
        position: absolute;
        top: -15px;
        font-size: 30px;
        margin-left: 206px;
    }

    .sidenav a.closebtn:hover {
        background-color: #f9f9f9;
    }

/*dropdown for sidebar nav*/

.dropdown-container {
    display: none;
    padding-left: 10px;
}

    .dropdown-container a {
        font-size: 17px;
    }

.show {
    display: block;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.w-10 {
    width: 10%;
}

.w-35 {
    width: 35%;
}

.w-40 {
    width: 40%;
}

.w-45 {
    width: 45%;
}

.w-60 {
    width: 60%;
}

.maxw-270 {
    max-width: 270px;
}

.maxw-160 {
    max-width: 160px;
}

.minw-160 {
    min-width: 160px;
}

.minh-100 {
    min-height: 100px;
}

.mb-6 {
    margin-bottom: 20%;
}

/*Media queries*/

@media only screen and (min-width: 768px) {
    #adminMainContainer {
        display: flex;
        justify-content: space-between;
    }

    #adminUserPanel {
        padding-left: 50px;
    }
}

@media only screen and (max-width: 600px) {
    #adminMainContainer {
        display: inline;
    }
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.textBoxHeaderPharus {
    border: none;
    outline: none;
    width: 200px;
    cursor: default;
}

.textBoxPharus {
    border: none;
    outline: none;
    width: 200px;
    cursor: pointer;
}

.tableRowPharus {
    cursor: pointer;
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

.extractbtn {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.pharusSearchDiv {
    top: 14%;
    right: 5%;
}

#searchField {
    padding: 4px;
    outline: none;
    border-radius: 15px;
}

#tableDoubleScroll {
    width: 100%;
}

.double-scroll {
    width: 40%;
}

.pharus-select {
    background-color: lightcyan;
    color: darkgrey;
    border: 0 none;
    border-radius: 20px;
    padding: 6px 20px;
    cursor: pointer;
}

#timelineChanges {
    visibility: hidden;
    position: absolute;
}

#allDocuments {
    visibility: hidden;
    position: absolute;
}

#upDocModal {
    top: 30%;
}

#upAgrModal {
    top: 30%;
}
/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
/* Timeline holder */
ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
}

    /* Timeline vertical line */
    ul.timeline:before {
        content: ' ';
        background: #fff;
        display: inline-block;
        position: absolute;
        left: 16px;
        width: 4px;
        height: 100%;
        z-index: 400;
        border-radius: 1rem;
    }

li.timeline-item {
    margin: 20px 0;
}

/* Timeline item arrow */
.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid #fff;
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
    content: ' ';
    background: #ddd;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    left: 11px;
    width: 14px;
    height: 14px;
    z-index: 400;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
