.bg-pharus {
    background-color: #202020;
}

.text-pharus {
    color: #202020;
}

form {
    margin-top: 0.05rem;
}

.border-pharus {
    border: 2px solid #d9d9d9;
    border-radius: 7px;
}

.nav-link-white {
    color: #FFFFFF;
}

.text-right {
    margin-left: auto;
}

.hr-2 {
    height: 2px;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.w-10 {
    width: 10%;
}

.w-35 {
    width: 35%;
}

.w-40 {
    width: 40%;
}

.w-45 {
    width: 45%;
}

.w-60 {
    width: 60%;
}

.h-70 {
    height: 70%;
}

.maxw-270 {
    max-width: 270px;
}

.maxw-160 {
    max-width: 160px;
}

.minw-160 {
    min-width: 160px;
}

.minh-100 {
    min-height: 100px;
}

.mb-6 {
    margin-bottom: 20%;
}

a {
    text-rendering: unset;
}

    a:hover {
        outline: none;
        text-decoration: none;
    }

tr {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

textarea {
    resize: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*body {
    background-image: url('../images/Background_Pharus.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}*/

.d-grid {
    display: grid;
}

#background-pharus-home {
    left: 0px;
    top: 0px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 1008px;
    overflow: hidden;
    z-index: 0;
}

#logo-pharus {
    left: 790px;
    top: 236px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

#WelcometoPharusManag {
    left: 497px;
    top: 585px;
    position: absolute;
    width: 925px;
    height: 125px;
    z-index: 6;
}

#RoundedRectangle2 {
    left: 768px;
    top: 782px;
    position: absolute;
    width: 341px;
    height: 62px;
    z-index: 4;
}

#LogintoPharusDataGat {
    left: 852px;
    top: 813px;
    position: absolute;
    width: 216px;
    height: 17px;
    z-index: 5;
}

#PharusManagement2020 {
    left: 631px;
    top: 975px;
    position: absolute;
    width: 197px;
    height: 15px;
    z-index: 3;
}
