.bg-pharus {
    background-color: #202020;
}

.text-pharus {
    color: #202020;
}

.border-pharus {
    border: 2px solid #d9d9d9;
    border-radius: 7px;
}

.nav-link-white {
    color: #FFFFFF;
}

.text-right {
    margin-left: auto;
}

.hr-2 {
    height: 2px;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.w-10 {
    width: 10%;
}

.w-35 {
    width: 35%;
}

.w-40 {
    width: 40%;
}

.w-45 {
    width: 45%;
}

.w-60 {
    width: 60%;
}

.maxw-270 {
    max-width: 270px;
}

.maxw-160 {
    max-width: 160px;
}

.minw-160 {
    min-width: 160px;
}

.minh-100 {
    min-height: 100px;
}

.mb-6 {
    margin-bottom: 20%;
}

a {
    text-rendering: unset;
}

    a:hover {
        outline: none;
        text-decoration: none;
    }

tr {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

textarea {
    resize: none;
}

footer {
    position: fixed;
    bottom: 0;
    border: 0;
    width: 98%;
}

/*body {
    background-image: url('../images/Background_Pharus.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}*/

.d-grid {
    display: grid;
}