
@import '../settings/breakpoints.scss';
@import 'button.scss';
$colorBlack: black;
$colorWhite: white;
$colorTheme: #005596;

h2,
h3,
h4 {
    color: $colorBlack;
}

a {
    color: $colorTheme;
}

/* Cookie Consent Styling*/

.alert-dismissible {
    .close-cookie-consent {
        background: green;
        color: white;
        text-shadow: none;
        border: none;
        outline: none;
    }

    .close-cookie-consent:hover {
        background: rgb(0, 65, 118);
    }
}

/* Header Styling */

.login-redirect-language {
    display: flex;
    align-items: center;
    width: 95%;
    justify-content: space-between;
}

.wrapper-language-bar img {
    width: 30px;
    height: 30px;
    margin-left: 6px;
}


/* Main Styling */


html, body, main {
    height: 100%;
}

main {
    background: linear-gradient(155deg, #ebeff3 0%,#ebeff3 50%,#193F7E 50.1%,#193F7E 51%,#005596 100%);
}

.icon-show-pass-container {
    position: relative;
}

#icon-show-pass {
    right: 6%;
    bottom: 0;
    cursor: pointer;
    color: $colorTheme;
    position: absolute;
    z-index: 1;
    transform: translateY(-100%);
}

.icon-svg-warning {
    background: url(/images/exclamation-triangle-solid.svg) no-repeat center center;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    margin-top: 2px;
}

.login-layout {
    display: flex;
    min-height: 100vh;
    align-items: center;

    @include for-tablet-landscape-up {
        padding: 15px;
    }

    @include for-desktop-up {
        padding: 0;
    }
}

.login-content-container {
    background-color: $colorWhite;
}

.login-brand {
    color: $colorBlack;
}

.login-title {
    color: $colorTheme;
}

.login-footer {
    background-color: $colorWhite;
}

.div-legal-text {
    overflow-y: scroll;
    height: 390px;
}

.extra-space-container {
    background-color: $colorWhite;

    @include for-tablet-landscape-up {
        display: none;
    }

    @include for-desktop-up {
        display: block;
    }
}

/* Right Image Styling */

.right-img-container {
    background-color: $colorWhite;

    .right-img {
        width: 100%;
        height: auto;
    }
}

/* Footer Styling */

.social-icons div {
    background-color: #edf2f6;
    width: 35px;
    height: 35px;
    display: inline-block;
}
