
/*
*
* ==========================================
* MEDIA QUERY - mobile, tablet, desktop
* ==========================================
*
*/
@media only screen and (max-width: 575px) {
    .login-layout ul.fxt-socials li {
        flex: 0 0 50%;
    }
}

@media only screen and (max-width: 320px) {
    .login-layout ul.fxt-socials li {
        flex: 0 0 100%;
    }
}

/*mobile*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .login-layout .login-layout-container {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
    }

    .login-layout .login-content-container {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .footer-text {
        margin-left: 0px;
        line-height: 18px;
        text-align: center;
    }
}

@media only screen and (min-width: 480px) and (max-width: 764px) {
    .login-layout .login-layout-container {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
    }

    .login-layout .login-content-container {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .footer-text {
        margin-left: 0px;
        line-height: 18px;
        text-align: center;
    }
}

@media only screen and (max-width: 1199px) {
    .login-layout .login-content {
        padding: 100px 35px 70px 50px;
    }

    h2 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 991px) {
    .login-layout {
        padding: 15px;
    }

    .right-img-container {
        display: none !important;
    }

    .login-layout .login-content {
        padding: 100px 70px 70px 70px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .login-layout .login-content {
        padding: 80px 50px 50px 50px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 18px;
    }
}

@media only screen and (max-width: 575px) {
    .login-layout .login-content {
        padding: 60px 30px 30px 30px;
    }
}

@media only screen and (max-width: 479px) {
    .login-layout .login-content {
        padding: 50px 20px 20px 20px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {

    .extra-space-container {
        display: none !important;
    }
}
