
@import '../settings/breakpoints.scss';

$fontSizeMain: 0.8em;
$fontSizeOthers: 1em;
$fontFamily: Arial,Helvetica,sans-serif;
$lineHeight: 1.5;
$lineHeightFooter: 3;
$borderRadius: 15px;

body {
    font: $fontSizeMain $fontFamily;
    line-height: $lineHeight;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

h2 {
    @include for-phone-only {
        font-size: 22px;
    }

    @include for-tablet-portrait-up {
        font-size: 24px;
    }

    @include for-tablet-landscape-up {
        font-size: 26px;
    }

    @include for-desktop-up {
        font-size: 28px;
    }

    @include for-big-desktop-up {
        font-size: 30px;
    }
}

h3 {
    @include for-phone-only {
        font-size: 16px;
    }

    @include for-tablet-portrait-up {
        font-size: 18px;
    }

    @include for-tablet-landscape-up {
        font-size: 20px;
    }

    @include for-desktop-up {
        font-size: 22px;
    }

    @include for-big-desktop-up {
        font-size: 24px;
    }
}

h2,
h3,
.text-danger {
    font-weight: bold;
}

/* Cookie Consent Styling*/
.alert-danger {
    font-size: $fontSizeOthers;
}

.container-cookie-consent {
    font-size: $fontSizeOthers;
    text-align: center;

    a {
        text-decoration: underline;
    }
}

.alert {
    margin-bottom: 0;
}

.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}
/* Main Styling */
input[type=text], input[type=password] {
    letter-spacing: 1px;
    font-size: 18px;
    border-width: 0 0 2px;
    border-color: rgb(0, 65, 118);
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #e7e7e7;
    padding-left: 10px;

    &:focus {
        box-shadow: none;
        border-color: #005596;
        outline: none;
    }
}

input::-webkit-input-placeholder {
    color: #a1a1a1;
    font-size: $fontSizeMain;
}

.login-content-container {
    padding: 0;
}

.login-layout-container {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);

    @include for-phone-only {
        margin: 2rem;
    }

    @include for-tablet-portrait-up {
        margin: 2rem 4rem;
    }

    @include for-tablet-landscape-up {
        margin: 3rem 6rem;
    }

    @include for-desktop-up {
        margin: 4rem 8rem;
    }
}

.login-content {
    width: 100%;
    height: 533px;

    @include for-phone-only {
        padding: 50px 25px 25px 25px;
    }

    @include for-tablet-portrait-up {
        padding: 60px 35px 35px 35px;
    }

    @include for-tablet-landscape-up {
        padding: 70px 45px 45px 45px;
    }
}

.form-group {
    padding-left: 0;
}

.login-brand {
    margin-top: 20px;
    letter-spacing: 1.5px;
}

.text-danger {
    font-size: $fontSizeOthers;
}

.forgot-password-text {
    text-decoration: underline;
    font-weight: bolder;
    font-size: $fontSizeOthers;
    margin-left: 3px;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: #004176;
    }
}

.right-img-container {
    margin: 0;
    padding: 0;
}

/* Footer Styling */

.login-footer {
    padding: 5px 25px;
}

.login-footer-social-icons {
    div {
        text-align: center;
        border-radius: 50%;
        line-height: $lineHeightFooter;
        margin-left: 10px;
    }

    @include for-phone-only {
        text-align: center;
    }

    @include for-tablet-portrait-up {
        text-align: center;
    }

    @include for-tablet-landscape-up {
        text-align: right;
    }

    @include for-desktop-up {
        text-align: right;
    }
}

.login-footer-container {
    padding: 5px 35px;
    display: flex;
    justify-content: space-between;

    @include for-phone-only {
        padding: 5px 15px;
    }

    @include for-tablet-portrait-up {
        padding: 5px 25px;
    }
}

.login-footer-legal {
    @include for-phone-only {
        font-size: 0.9em;
        margin-left: 0px;
        line-height: 1.5;
        text-align: center;
    }

    @include for-tablet-portrait-up {
        font-size: 0.9em;
        margin-left: 0px;
        line-height: 2;
        text-align: center;
    }

    @include for-tablet-landscape-up {
        font-size: 0.9em;
        margin-left: 0px;
        line-height: 2;
        text-align: unset;
    }

    @include for-desktop-up {
        font-size: $fontSizeOthers;
        line-height: $lineHeightFooter;
        text-align: unset;
    }
}
