@page
@model AccessDeniedModel

@{
    ViewData["Title"] = SharedLocalizer["Access denied"];
}

<h2 class="text-center text-danger my-4">@SharedLocalizer["You don't have access to this resource."]</h2>
