@page
@model AccessDeniedModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Access denied"];
}

<h2 class="text-center text-danger my-4">@Localizer["You don't have access to this resources"]</h2>
