@page
@model AccessDeniedModel

@{
    ViewData["Title"] = SharedLocalizer.GetHtmlString("Access Denied");
}

<h2 class="text-center text-danger my-4">@SharedLocalizer.GetHtmlString("You don't have access to this resource.")</h2>
