@page
@model ConfirmEmailModel

@{
    ViewData["Title"] = SharedLocalizer.GetHtmlString("Confirm email");
}

<section class="fxt-template-layout2">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-12 fxt-bg-color">
                <div class="fxt-content">
                    <partial name="Identity/_LoginRedirectPartial" />
                    <h3 class="login-brand">
                        @SharedLocalizer.GetHtmlString("Thank you for confirming your email.")
                    </h3>
                    <div class="fxt-form">
                    </div>
                    <partial name="Identity/_FooterMobile" />

                </div>
            </div>
            <div class="col-lg-2 col-md-2 d-none d-lg-block d-xl-block extra-space" style="background-color: #ffffff;"></div>
            <partial name="Identity/_LoginSideImagePartial" />
        </div>
        <partial name="Identity/_FooterPartial" />
    </div>
</section>