@page
@model ConfirmEmailModel

@{
    ViewData["Title"] = SharedLocalizer.GetHtmlString("Confirm email");
}

<section class="login-layout">
    <div class="container-fluid login-layout-container">
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-12 login-content-container">
                <div class="login-content">
                    <partial name="Identity/_HomeIcon" />
                    <h3 class="login-brand">
                        @SharedLocalizer.GetHtmlString("Thank you for confirming your email.")
                    </h3>
                    <div class="login-form">
                    </div>

                </div>
            </div>
            <div class="col-lg-2 col-md-2 extra-space-container"></div>
            <partial name="Identity/_SideImage" />
        </div>
        <partial name="Identity/_FooterIdentity" />
    </div>
</section>