@page
@{
    this.ViewData["Title"] = "Cookie Policy";
}

<section class="fxt-template-layout2">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-12 fxt-bg-color">
                <div class="fxt-content">
                    <partial name="_LoginRedirectPartial" />
                    <h3 class="login-brand">Cookie Policy</h3>
                    <div class="fxt-form">
                    </div>
                    <partial name="_FooterMobile" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2 d-none d-lg-block d-xl-block extra-space" style="background-color: #ffffff;"></div>
            <div class="col-lg-6 col-12 fxt-none-991 fxt-bg-img">
                <img class="img-fluid left-img float-right" alt="Responsive image" src="~/images/login-image.png" />
            </div>
        </div>
        <partial name="_FooterPartial" />
    </div>
</section>