@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = SharedLocalizer.GetHtmlString("Forgot Password");
}

<section class="login-layout">
    <div class="container-fluid login-layout-container">
        <partial name="Scripts/_CookieConsentPartial" />
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-12 login-content-container">
                <div class="login-content">
                    <partial name="Identity/_HomeIcon" />

                    <h3 class="login-brand">
                        @SharedLocalizer.GetHtmlString("Forgot Password")
                    </h3>
                    <div class="login-form">
                        <form method="POST">
                            <div class="form-group col-md-12">
                                <div>
                                    <input type="text"
                                           asp-for="Input.Email"
                                           autofocus
                                           class="form-control"
                                           placeholder=@SharedLocalizer.GetHtmlString("Enter your e-mail")>
                                    <span asp-validation-for="Input.Email" class="text-danger d-flex justify-content-center"></span>
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                <div>
                                    <button type="submit"
                                            class="btn">
                                        @SharedLocalizer.GetHtmlString("Reset password")
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 extra-space-container" style="background-color: #ffffff;"></div>
            <partial name="Identity/_SideImage" />
        </div>
        <partial name="Identity/_FooterIdentity" />
    </div>
</section>