@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<section class="fxt-template-layout2">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-12 fxt-bg-color">
                <div class="fxt-content">
                    <partial name="Identity/_LoginRedirectPartial" />

                    <h2 class="login-brand"> Forgotten Password</h2>
                    <div class="fxt-form">
                        <form method="POST">
                            <div class="form-group col-md-12">
                                <div class="fxt-transformY-50 fxt-transition-delay-1">
                                    <input type="text"
                                           asp-for="Input.Email"
                                           autofocus
                                           class="form-control"
                                           placeholder="Enter your email.">
                                    <span asp-validation-for="Input.Email" class="text-danger d-flex justify-content-center"></span>
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                <div class="fxt-transformY-50 fxt-transition-delay-4">
                                    <button type="submit"
                                            class="fxt-btn-fill">
                                        Reset Password
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <partial name="Identity/_FooterMobile" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2 d-none d-lg-block d-xl-block extra-space" style="background-color: #ffffff;"></div>
            <div class="col-lg-6 col-12 fxt-none-991 fxt-bg-img">
                <img class="img-fluid left-img float-right" alt="Responsive image" src="~/images/login-image.png" />
            </div>
        </div>
        <partial name="Identity/_FooterPartial" />
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}