@page
@model LoginModel
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

@{
    ViewData["Title"] = "Login";
}
<section class="fxt-template-layout2">
    <div class="container-fluid custom-container">
        <partial name="_CookieConsentPartial" />
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-12 fxt-bg-color">
                <div class="fxt-content">
                    <partial name="_LoginRedirectPartial" />
                    <h2 class="login-brand">Pharus DataGate </h2>
                    <h2 class="login-title">User Login</h2>
                    <div class="fxt-form">
                        <form method="POST">
                            <div class="form-group col-md-12">
                                <label>Username</label>
                                <div class="fxt-transformY-50 fxt-transition-delay-1">
                                    <input type="text"
                                           asp-for="Input.Username"
                                           autofocus
                                           autocomplete="username"
                                           class="form-control"
                                           id="username"
                                           placeholder="Username">
                                    <span asp-validation-for="Input.Username" class="text-danger d-flex justify-content-center"></span>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Password</label>
                                <div class="fxt-transformY-50 fxt-transition-delay-2">
                                    <input type="password"
                                           asp-for="Input.Password"
                                           autocomplete="new-password"
                                           class="form-control"
                                           id="password"
                                           placeholder="Password">
                                    <span asp-validation-for="Input.Password" class="text-danger d-flex justify-content-center"></span>
                                    <partial name="_ErrorMessage" model="Model.ErrorMessage" />
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="fxt-transformY-50 fxt-transition-delay-3">
                                    <div class="fxt-checkbox-area">
                                        <div class="checkbox">
                                            <input id="checkbox1" type="checkbox" asp-for="Input.RememberMe">
                                            <label for="checkbox1" asp-for="Input.RememberMe">Remember me?</label>
                                        </div>
                                        <a asp-area="Identity"
                                           asp-page="/Account/ForgotPassword"
                                           class="switcher-text">Forgot Password</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                <div class="fxt-transformY-50 fxt-transition-delay-4">
                                    <input type="hidden" id="RecaptchaValue" asp-for="Input.RecaptchaValue" />
                                    <button type="submit"
                                            class="fxt-btn-fill"
                                            asp-area="Identity"
                                            asp-page="/Account/Login">
                                        Login
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <partial name="_FooterMobile" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2 d-none d-lg-block d-xl-block extra-space" style="background-color: #ffffff;"></div>
            <div class="col-lg-6 col-12 fxt-none-991 fxt-bg-img">
                <img class="img-fluid left-img float-right" alt="Responsive image" src="~/images/login-image.png" />
            </div>
        </div>
        <partial name="_FooterPartial" />
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script src="https://www.google.com/recaptcha/api.js?render=@this.Configuration["GoogleReCaptcha:Key"]"></script>
    <script>
        grecaptcha.ready(async function () {
            await grecaptcha.execute('@this.Configuration["GoogleReCaptcha:Key"]', { action: 'login_form' }).then(async function (token) {
                document.getElementById("RecaptchaValue").value = token;
            });
        });
    </script>
}
