@page
@model LogoutModel
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Log out"];
}

<section class="fxt-template-layout2">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-12 fxt-bg-color">
                <div class="fxt-content">
                    <partial name="_LoginRedirectPartial" />
                    <h3 class="login-brand">@SharedLocalizer["You have successfully logged out of the application."]</h3>
                    <div class="fxt-form">
                    </div>
                    <partial name="_FooterMobile" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2 d-none d-lg-block d-xl-block extra-space" style="background-color: #ffffff;"></div>
            <partial name="_LoginSideImagePartial" />
        </div>
        <partial name="_FooterPartial" />
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}