@page
@model LogoutModel
@{
    ViewData["Title"] = "Log Out";
}

    <div>
        <partial name="_SharedData" />

        <div class="d-flex">
            <text id="login-text-pharus"
                  class="bold-text-pharus">
                You have successfully logged <br />
                out of the application.
            </text>
        </div>
    </div>