@model Pharus.App.Models.ViewModels.Entities.SpecificEntityViewModel
@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div id="allDocuments" class="mt-3 d-none">
    <table class="table table-bordered table-hover">
        <thead>
            @for (int row = 0; row < 1; row++)
            {
                <tr>
                    @for (int col = 0; col < Model.EntityDocuments[row].Length; col++)
                    {
                        <th class="text-secondary p-1">
                            @Model.EntityDocuments[row][col]
                        </th>
                    }
                </tr>
            }
        </thead>

        <tbody>
            @for (int row = 1; row < Model.EntityDocuments.Count; row++)
            {
                <tr>
                    @for (int col = 0; col < Model.EntityDocuments[row].Length; col++)
                    {
                    <td class="p-1">
                        @if (Model.EntityDocuments[0][col] == "File Name")
                        {
                            <button class="btn-link-pharus text-left"
                                    formtarget="_blank"
                                    type="submit"
                                    formaction="/@controllerName/ReadDocument"
                                    name="pdfValue"
                                    value="@Model.EntityDocuments[row][col]">
                                @System.IO.Path.GetFileNameWithoutExtension(Model.EntityDocuments[row][col])
                            </button>
                        }
                        else
                        {
                            @Model.EntityDocuments[row][col]
                        }
                    </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>