@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="w-50">
    <div class="my-5">
        @if (controllerName == "Funds")
        {
            <u class="text-torshia">PROSPECTUS</u><br>
        }
        else
        {
            <u class="text-torshia">DOCUMENTS</u><br>
        }

        @if (!string.IsNullOrEmpty(Model.ProspectusNameToDisplay))
        {
            <button class="btn-link-pharus mt-3"
                    formtarget="_blank"
                    type="submit"
                    formaction="/@controllerName/ReadPdfFile"
                    name="read_Pdf">
                @Model.ProspectusNameToDisplay
            </button>
        }
    </div>

    <div class="mb-5">
        <u class="text-torshia">AGREEMENTS</u><br>

        <div class="mt-3">
            <table class="table table-hover w-75">
                <thead>
                    @for (int row = 0; row < 1; row++)
                    {
                        <tr>
                            @for (int col = 0; col < Model.DistinctAgreementsNamesToDisplay[row].Length; col++)
                            {
                                <th class="text-secondary p-1">
                                    @Model.DistinctAgreementsNamesToDisplay[row][col]
                                </th>
                            }
                        </tr>
                    }
                </thead>

                <tbody>
                    @for (int row = 1; row < Model.DistinctAgreementsNamesToDisplay.Count; row++)
                    {
                        <tr>
                            @for (int col = 0; col < Model.DistinctAgreementsNamesToDisplay[row].Length; col++)
                            {
                                <td class="p-1">
                                    @if (Model.DistinctAgreementsNamesToDisplay[0][col] == "File Name")
                                    {
                                        <button class="btn-link-pharus"
                                                formtarget="_blank"
                                                type="submit"
                                                formaction="/@controllerName/ReadPdfFile"
                                                name="read_Pdf">
                                            @Model.DistinctAgreementsNamesToDisplay[row][col].Split(".")[0]
                                        </button>
                                    }
                                    else
                                    {
                                        @Model.DistinctAgreementsNamesToDisplay[row][col]
                                    }
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>