@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}
<div class="w-50">
    <div class="my-5">
        @if (controllerName == "Funds")
        {
            <u class="text-torshia">LIST OF PROSPECTUS</u><br>
        }
        else
        {
            <u class="text-torshia">LIST OF DOCUMENTS</u><br>
        }

        @if (!string.IsNullOrEmpty(Model.FileNameToDisplay))
        {
            <button class="btn-link-pharus mt-3"
                    formtarget="_blank"
                    type="submit"
                    formaction="/@controllerName/ReadPdfFile"
                    name="read_Pdf">
                @Model.FileNameToDisplay
            </button>
        }
    </div>

    @*<div class="mb-5">
            <u class="text-torshia">LIST OF AGREEMENTS</u><br>

            @if (!string.IsNullOrEmpty(Model.FileNameToDisplay))
            {
                <button class="btn-link-pharus mt-3"
                        formtarget="_blank"
                        type="submit"
                        formaction="/@controllerName/ReadPdfFile"
                        name="read_Pdf">
                    @Model.FileNameToDisplay
                </button>
            }
        </div>*@
</div>