@model Pharus.App.Models.ViewModels.Entities.SpecificEntityViewModel
@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="w-100 flex-wrap my-5">
    <input type="date"
           id="date-pharus"
           asp-for="ChosenDate"
           min="2018-01-01" max=@DateTime.Today.ToString("yyyy-MM-dd")>

    <input type="submit"
           class="btn btn-primary btn-sm mb-2"
           asp-for="Command"
           value="Update Table"></>

    <a href='/@controllerName/All'
       class="btn btn-primary btn-sm mb-2">
        Back To All
    </a>

    <button type="button"
            class="btn btn-primary btn-sm mb-2"
            data-toggle="modal"
            data-target="#upProspModal">
        Upload Prospectus
    </button>

    <button type="button"
            class="btn btn-primary btn-sm mb-2"
            data-toggle="modal"
            data-target="#upAgrModal">
        Upload Agreement
    </button>

    @if (this.User.IsInRole("Admin"))
    {
        <a href="/Funds/EditFund/@Model.EntityId/@Model.ChosenDate"
           class="btn btn-primary btn-sm mb-2">
            Edit Fund
        </a>
    }

    <input type="number"
           asp-for="EntityId" hidden>

    <input type="text"
           asp-for="FileNameToDisplay" hidden>
</div>