@model Pharus.App.Models.ViewModels.Entities.SpecificEntityViewModel

<div class="w-100 flex-wrap my-5">
    <label for="date"
           class="text-torshia m-1 pr-3">SELECT DATE:</label>
    <input type="date"
           id="date-pharus"
           asp-for="ChosenDate"
           min="2018-01-01" max=@DateTime.Today.ToString("yyyy-MM-dd")>

    <input type="submit"
           class="btn btn-primary btn-sm mb-2"
           asp-for="Command"
           value="Update Table"></>

    <a asp-action="All">Show All</a>

    <input type="number"
           asp-for="EntityId" hidden>

    <input type="text"
           asp-for="FileNameToDisplay" hidden>
</div>