@using DataGate.Common
@{
    ViewData["Title"] = "Panel";
}

<div class="push">
    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <h2 class="text-center">Hello, Administrator @this.User.Identity.Name!</h2>
    }
    else
    {
        <h2 class="text-center">Hello, @this.User.Identity.Name!</h2>
    }
    <hr class="hr-2 bg-pharus">
    <div class="w-100 d-flex justify-content-between flex-wrap">

        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <div class="bg-white d-inline-block minw-160 minh-100">
                <div class="border-pharus p-3">
                    <div class="p-2 d-flex justify-content-between">
                        <a asp-area="Admin" asp-controller="Admin" asp-action="CreateUser" class="btn btn-pharus text-white mr-4">Create User</a>
                    </div>
                </div>
            </div>
            <div class="bg-white d-inline-block minw-160 minh-100">
                <div class="border-pharus p-3">
                    <div class="p-2 d-flex justify-content-around">
                        <a asp-area="Admin" asp-controller="Admin" asp-action="ViewUsers" class="btn btn-pharus text-white">Users</a>
                    </div>
                </div>
            </div>
        }

        <div class="bg-white d-inline-block minw-160 minh-100">
            <div class="border-pharus p-3">
                <div class="p-2 d-flex justify-content-around">
                    <a href="" class="btn btn-pharus text-white">Reports</a>
                </div>
            </div>
        </div>
        <div class="bg-white d-inline-block minw-160 minh-100">
            <div class="border-pharus p-3">
                <div class="p-2 d-flex justify-content-around">
                    <a href="" class="btn btn-pharus text-white">Projects</a>
                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        window.onload = () => {
            manageSideNavBar();
            manageDropdowns();
        }
    </script>
}