@model DataGate.Web.ViewModels.Entities.EntitiesViewModel

@{
    var controller = this.ViewContext.RouteData.Values["controller"].ToString();
}
<form method="post" id="update-form">


    <input asp-for="Date" type="date" hidden>
    <input asp-for="Id" type="text" hidden>

    <div class="d-flex w-100 mb-2" id="toolbar-pharus">
        <partial name="SubEntities/_Select" />
        <partial name="SubEntities/_Extract" />
    </div>
    @*<partial name="SubEntities/_BindingTable" />*@
    <partial name="SubEntities/_ViewTable" />
    <partial name="SubEntities/_Modal" />
</form>

<script>
        $(document).ready(function () {

            const token = $("#update-form input[name=__RequestVerificationToken]").val();
            const controller = '@controller';
            const entityId = @Model.Id;

            //var myData = $('#myFormId').serialize();
            //$("#button").click(function () {
            //    $.ajax({
            //        url: "YourController/GetData",
            //        type: "get",
            //        data: $("form").serialize(), //if you need to post Model data, use this
            //        success: function (result) {
            //            $("#partial").html(result);
            //        }
            //    });
            //})

            // ________________________________________________________
            //
            // Modal multiselect for column selection

            $(".multiselect").multiselect();

            // ________________________________________________________
            //
            // Autocomplete search

            loadAutocomplete(token, controller, entityId);

            // ________________________________________________________
            //
            // Double top scroll for table

            $('.double-scroll').doubleScroll();
            $('#tableDoubleScroll').doubleScroll({ resetOnWindowResize: true });
        });
</script>

