@model DataGate.Web.ViewModels.Entities.SubEntitiesViewModel

<div class="w-30">
    <div class="d-flex h-70">
        <div class="select-div-pharus">
            <select asp-for="SelectTerm"
                    id="SelectTerm"
                    class="form-control input-sm"
                    onchange="this.form.submit()">
                <option value=@Model.SelectTerm selected>@Model.SelectTerm</option>
            </select>
        </div>

        <div>
            <button type="button"
                    class="btn btn-sm mx-2 btn-primary"
                    data-toggle="modal"
                    data-target="#columnModal"
                    name="showColumnSelection">
                Column Choice
            </button>
        </div>

        <div>
            <input type="submit"
                   asp-for="Command"
                   value="Reset"
                   class="btn btn-primary btn-sm" />
        </div>
    </div>
</div>

<div class="vertical mx-3"></div>