@using DataGate.Common
@model DataGate.Web.ViewModels.Entities.SubEntitiesViewModel

@{
    var controller = this.ViewContext.RouteData.Values[GlobalConstants.ControllerRouteDataValue].ToString();
    var targetRoute = string.Empty;

    if (controller == GlobalConstants.FundSubFundsControllerName)
    {
        targetRoute = "fundDetails";
    }
}

<div class="w-30">
    <div class="d-flex h-70">
        <div>
            <a class="btn btn-pharus btn-sm mr-2" asp-route="@targetRoute" asp-route-id="@Model.Id" asp-route-date="@Model.Date">
                Back to Container
            </a>
        </div>
        <div class="select-div-pharus">
            <select asp-for="SelectTerm"
                    id="SelectTerm"
                    class="form-control input-sm"
                    onchange="this.form.submit()">
                <option value=@Model.SelectTerm selected>@Model.SelectTerm</option>
            </select>
        </div>

        <div>
            <button type="button"
                    class="btn btn-sm mx-2 btn-pharus"
                    data-toggle="modal"
                    data-target="#columnModal"
                    name="showColumnSelection">
                Column Choice
            </button>
        </div>
        <div>
            <input type="submit"
                   asp-for="Command"
                   value="Reset"
                   class="btn btn-pharus btn-sm" />
        </div>
    </div>
</div>

<div class="vertical mx-3"></div>