/*
*
* ==========================================
* CUSTOM HOME PAGE
* ==========================================
*
*/
:root {
    font-size: 12px;
}

body {
    font-family: Arial,Helvetica,sans-serif;
    background: url(../images/Background_Home_New.png) no-repeat center center fixed;
    background-size: cover;
}

html {
    height: 100%;
}

p {
    margin: 0;
}

h1 {
    text-align: center;
    line-height: unset;
}

img {
    max-width: 100%;
    height: auto;
}

.inner {
    padding: 20px;
}

.footer-pharus {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-right: 30px;
}

.div-text-pharus {
    margin-top: 2%;
}

.text-pharus {
    color: #202020;
}

.container-cookie-consent {
    font-size: 15px;
    width: 100%;
    text-align: center;
}

    .container-cookie-consent a {
        text-decoration: underline;
    }

.alert-dismissible .close-cookie-consent {
    top: 2px;
    right: unset;
    background: green;
    color: white;
    text-shadow: none;
    border: none;
}

    .alert-dismissible .close-cookie-consent:hover {
        background: rgb(0, 65, 118);
    }

.container-logo {
    position: absolute;
    top: 0;
    left: 0;
}

.container-home {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
    justify-content:space-evenly;
}

.welcome-message {
    flex: 1 0 160px;
    align-items: flex-end;
}

.container-btn {
    align-items: flex-start;
    flex: 1 0 210px;
}

.row {
    /*    align-items: center;*/
}

.container-btn-login img:after {
    width: 300px;
}

.container-btn-login img:hover {
    opacity: 0.8;
}

.footer-pharus p {
    font: 12px/1.5 Arial,Helvetica,sans-serif;
}

.wrapper-language-bar {
    margin: 3%;
    text-align:center;
}

    .wrapper-language-bar a {
        color: white;
    }

        .wrapper-language-bar a:hover {
            text-decoration: underline;
            color: white;
        }

    .wrapper-language-bar img {
        width: 30px;
        height: 30px;
        margin-left: 6px;
    }


.footer-first, .footer-second {
    position: fixed;
}

.footer-first {
    bottom: 4%;
}

.footer-second {
    bottom: 0;
}
/*
*
* ==========================================
* MEDIA QUERY - mobile, tablet, desktop
* ==========================================
*
*/

@media only screen and (max-height:750px) {
    .footer-pharus {
        position: initial;
        margin-bottom: 0 !important;
        margin-top: 0 !important;
        padding-right: 0px;
    }
}

@media only screen and (max-width: 640px) {
    .text-pharus {
        font-size: 26px;
    }

    .footer-pharus {
        padding-right: 0px;
    }

    .footer-first {
        bottom: 8%;
    }

    .welcome-message {
        flex: 1 0 250px;
    }

    .div-text-pharus {
        margin-top: 20px;
    }

    .container-logo img {
        height: 55px;
        width: 55px;
    }

    .container-cookie-consent {
        position: initial;
    }

    .container-btn-login img {
        width: 275px;
    }

    .container-home {
        height: auto;
    }
}

@media only screen and (min-width: 640px) and (max-width: 1024px) {
    .text-pharus {
        font-size: 34px;
    }

    .container-logo img {
        height: 80px;
        width: 80px;
    }

    .footer-pharus {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .container-btn-login img {
        width: 300px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1539px) {
    .text-pharus {
        font-size: 36px;
    }

    .container-logo img {
        height: 100px;
        width: 100px;
    }

    .container-btn-login img {
        width: 300px;
    }
}

@media only screen and (min-width: 1540px) {
    .text-pharus {
        font-size: 40px;
    }

    .container-logo img {
        height: 120px;
        width: 120px;
    }

    .container-btn-login img {
        width: 325px;
    }
}
