/*
*
* ==========================================
* CUSTOM HOME PAGE
* ==========================================
*
*/
:root {
    font-size: 12px;
}

body {
    font-family: 'Share', 'Arial Narrow', 'Arial', 'sans-serif';
    background: url(../images/Background_Home.png) no-repeat center center fixed;
}

html {
    height: 100%;
}

p {
    margin: 0 0 20px 0;
}

h1 {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.container-btn-login img {
    width: 325px;
}

.pharus-btn {
    margin-top: 35px;
}

.inner {
    padding: 20px;
}

.footer-pharus {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.div-text-pharus {
    margin-top: 4%;
}

.text-pharus {
    color: #202020;
}

.container-cookie-consent {
    font-size: 15px;
    position: fixed;
    width: 100%;
    text-align: center;
}

    .container-cookie-consent a {
        text-decoration: underline;
    }

.alert-dismissible .close-cookie-consent {
    top: 2px;
    right: unset;
    background: green;
    color: white;
    text-shadow: none;
    border: none;
}

    .alert-dismissible .close-cookie-consent:hover {
        background: rgb(0, 65, 118);
    }

.container-logo {
    margin-top: 9%;
}

    .container-logo img {
        height: 180px;
        width: 180px;
    }

.container-btn-login img:after {
    width: 300px;
}

.container-btn-login img:hover {
    opacity: 0.8;
}
/*
*
* ==========================================
* MEDIA QUERY - mobile, tablet, desktop
* ==========================================
*
*/
@media only screen and (max-width: 640px) {
    .text-pharus {
        font-size: 26px;
    }

    .div-text-pharus {
        margin-top: 20px;
    }

    .pharus-btn {
        margin-top: 9%;
    }

    .container-logo img {
        height: 120px;
        width: 120px;
    }

    .container-cookie-consent {
        position: initial;
    }
}

@media only screen and (min-width: 640px) and (max-width: 1024px) {
    .text-pharus {
        font-size: 36px;
    }

    .footer-pharus {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}

@media only screen and (min-width: 1024px) {
    .text-pharus {
        font-size: 40px;
    }
}
