/*
*
* ==========================================
* MEDIA QUERY
* ==========================================
*
*/

@media only screen and (max-width: 991px) {
    .branch-background {
        overflow: scroll;
    }

    .container-not-found {
        width: 80vw;
        text-align: center;
        margin-top: 90px;
    }

        .container-not-found img {
            margin-bottom: 30px;
            margin-right: 0;
        }

    .toolbar-view-all, .toolbar-view-details {
        overflow-x: scroll;
    }

    h2 {
        font-size: 24px;
    }

    .logo-pharus img {
        height: 120px;
        width: 120px;
    }

    .column-form {
        width: 100%;
    }

    .mobile-none,
    .search-box-wrapper,
    .div-carousel-center,
    .slick-slider,
    .dataTables_wrapper .top,
    .dataTables_wrapper .bottom,
    .recent-container,
    #aumChart,
    footer {
        display: none;
    }

    #div-select-addInfo {
        width: 50%;
    }

    #infoAndDocumentsView {
        display: inline;
    }
}

@media only screen and (max-width: 1055px) {
    .mobile-none {
        display: none;
    }

    .push-mobile {
        margin-top: 60px;
    }
}

@media only screen and (max-width: 1200px) {

    .display-count[data-count]:after {
        padding: 4px 2px 0px 0px;
    }

    .div-entity-container-wrapper {
        display: none;
    }
}


@media only screen and (min-width: 990px) {

    .container-not-found {
        width: 1050px;
        display: flex;
        justify-content: space-evenly;
    }

    .toolbar-view-all {
        margin-top: 72px;
    }

    .toolbar-view-details {
        margin-top: 72px;
        display: flex;
    }

    .container-all-funds {
        display: flex;
    }

    .search-form-wrapper-responsive {
        display: none;
    }

    .push {
        margin-top: 72px;
    }

    #infoAndDocumentsView {
        display: flex;
    }

    #table-info-datagate {
        width: 33.6%;
    }

    #div-select-addInfo {
        width: 25%;
    }

    #aumChart {
        width: 70%
    }

    footer {
        position: fixed;
        bottom: 0;
        border: 0;
        margin: 0px auto;
        width: 100%;
    }
}

@media only screen and (min-width: 990px) and (max-width: 1250px) {
    .title-main {
        display: none;
    }
}

@media only screen and (min-width: 1540px) {
    .title-main {
        width: 20%;
    }

    .header-datagate a {
        font-size: 9px;
    }
}

@media only screen and (min-width: 1054px) {
    .title-responsive {
        display: none;
    }
}


@media (max-width: 767px) and (min-width: 320px){
    .container-not-found-links a {
        width: 100px;
        display: block;
        margin: 15px auto;
    }
}