/*
*
* ==========================================
* MEDIA QUERY
* ==========================================
*
*/

@media only screen and (min-width: 768px) {
    #toolbar-pharus {
        height: 80px;
        display: flex;
        margin-top: 3.3%;
    }

    .sidenav {
        top: 6.4%;
    }

    .push {
        margin-top: 3.6%;
    }

    #infoAndDocumentsView {
        display: flex;
    }

    #table-info-pharus {
        width: 35%;
    }

    #div-select-addInfo {
        width: 25%;
    }

    #canvas-aum-pharus {
        width: 70%
    }

    footer {
        position: fixed;
        bottom: 0;
        border: 0;
        margin: 0px auto;
        width: 100%;
    }

    #allselect-div-pharus {
        display: flex;
    }
}

@media only screen and (max-width: 640px) {
    #toolbar-pharus {
        overflow-x: scroll;
    }

    .logo-pharus img {
        height: 120px;
        width: 120px;
    }

    #canvas-aum-pharus,
    .mobile-none,
    #entityName
    {
        display: none;
    }

    .sidenav {
        top: 9.2%;
    }

    .push-mobile {
        margin-top: 16.6%;
    }

    #div-select-addInfo {
        width: 70%;
    }

    #infoAndDocumentsView {
        display: inline;
    }

    footer {
        display: none;
    }
}
