@{
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    returnUrl += Context.Request.QueryString.ToString();
    IRequestCultureFeature currentCulture = Context.Features.Get<IRequestCultureFeature>();
    var requestedCultureName = string.Empty;
    var flag = string.Empty;

    if (currentCulture.RequestCulture.Culture.Name == GlobalConstants.CurrentCultureInfo)
    {
        requestedCultureName = GlobalConstants.ItalianCultureInfo;
        flag = "flag-italy.svg";
    }
    else
    {
        requestedCultureName = GlobalConstants.CurrentCultureInfo;
        flag = "flag-usa.svg";
    }
}

<a asp-area=""
   asp-controller="Home"
   asp-action="SetLanguage"
   asp-route-culture="@requestedCultureName"
   asp-route-returnUrl="@returnUrl">
    @SharedLocalizer["Language"]
    <img src="~/images/@flag">
</a>
