@{
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    returnUrl += Context.Request.QueryString.ToString();
    IRequestCultureFeature currentCulture = Context.Features.Get<IRequestCultureFeature>();
    var requestedCultureName = string.Empty;
    var flag = string.Empty;

    if (currentCulture.RequestCulture.Culture.Name == GlobalConstants.DefaultCultureInfo)
    {
        requestedCultureName = GlobalConstants.ItalianCultureInfo;
        flag = "flag-italy.svg";
    }
    else
    {
        requestedCultureName = GlobalConstants.DefaultCultureInfo;
        flag = "flag-usa.svg";
    }
}

<a asp-area=""
   asp-controller="SetLanguage"
   asp-action="SetLanguage"
   asp-route-culture="@requestedCultureName"
   asp-route-returnUrl="@returnUrl"
   class="no-link">
    @SharedLocalizer.GetHtmlString("Language")
    <img src="~/images/@flag" alt="Current Culture Flag Language">
</a>
