@model IEnumerable<NotificationViewModel>

<div class="badge-notification-container">
    <a class="badge" data-count="" id="notification-badge">
    </a>
    <div class="notification-list">
        <ul>
            @foreach (var notification in Model)
            {
                <li>
                    <a>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
