@{
    this.ViewData["Title"] = SharedLocalizer.GetHtmlString("Access Denied");
}

<div class="access-denied">
    <p class="text-center ">
        @SharedLocalizer.GetHtmlString("You don't have access to this resource.") <br />
        @SharedLocalizer.GetHtmlString("Please contact your company administrator.") <br />
    </p>
</div>