@model Pharus.App.Models.ViewModels.Entities.ActiveEntitiesViewModel

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center text-torshia">All Active Funds</h2>

<form asp-controller="Funds" class="justify-content-between" method="post">
    <div>
        <partial name="ContainerActiveEntityPartial" />

        <partial name="ExtractEntitiesViewPartial" />

        <hr class="bg-pharus hr-2" />

        <partial name="EntitiesBindingTablePartial" />

    </div>
</form>

<div class="table-responsive border-0 mx-auto">
    <table class="table table-hover" name="ActiveEntities">
        <thead>
            <tr>
                @for (int row = 0; row < 1; row++)
                {
                    @for (int col = 0; col < Model.ActiveEntities[row].Length; col++)
                    {
                        <th class="text-secondary p-1">
                            <h5>
                                @Model.ActiveEntities[row][col]
                            </h5>
                        </th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @for (int row = 1; row < Model.ActiveEntities.Count; row++)
            {
                <tr onclick="document.location = '/Funds/ViewFundSF/@Model.ActiveEntities[row][0]'">
                    @for (int col = 0; col < Model.ActiveEntities[row].Length; col++)
                    {
                        <td class="p-1">
                            @Model.ActiveEntities[row][col]
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>