@model Pharus.App.Models.ViewModels.Funds.ActiveFundsViewModel

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center text-torshia">All Active Funds</h2>

<form asp-controller="Funds" asp-action="All" class="justify-content-between" method="post">
    <div>
        <div class="w-100 d-flex justify-content-between my-5">
            <div>
                <label for="date"
                       class="text-torshia m-1 pr-3">SELECT DATE:</label>
                <input type="date"
                       id="fundDatetime"
                       asp-for="ChosenDate"
                       min="2018-01-01" max=@DateTime.Today.ToString("yyyy-MM-dd")>

                <input type="submit"
                       class="bg-pharus text-white"
                       asp-for="Command"
                       value="Update Table"></>
            </div>

            <div>
                <input type="text"
                       name="searchString"
                       asp-for="SearchString" />

                <input type="submit"
                       class="bg-pharus text-white"
                       asp-for="Command"
                       value="Filter" />
            </div>
        </div>
    </div>
</form>

<form asp-controller="Funds" asp-action="ExtractUpload" method="post">
    <button type="submit"
            name="excel_button">
        <img src="~/images/Icon_Excel.ico"
             width="35"
             height="25" />
    </button>

    <button type="submit"
            name="excel_button">
        <img src="~/images/Icon_Pdf.ico"
             width="35"
             height="25" />
    </button>
</form>

<hr class="bg-pharus hr-2" />

@using (Html.BeginForm("View", "Funds", FormMethod.Get))
{
    <div class="table-responsive border-0 mx-auto">
        <table class="table table-hover">
            <thead>
                <tr>
                    @for (int row = 0; row < 1; row++)
                    {
                        @for (int col = 0; col < Model.ActiveFunds[row].Length; col++)
                        {
                            <th class="text-secondary p-1">
                                <h5>
                                    @Model.ActiveFunds[row][col]
                                </h5>
                            </th>
                        }
                    }
                </tr>
            </thead>

            <tbody>
                @for (int row = 1; row < Model.ActiveFunds.Count; row++)
                {
                    <tr onclick="document.location = '/Funds/View/@Model.ActiveFunds[row][0]'">
                        @for (int col = 0; col < Model.ActiveFunds[row].Length; col++)
                        {
                            <td class="p-1">
                                @Model.ActiveFunds[row][col]
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

