@model Pharus.App.Models.ViewModels.Entities.EntitiesViewModel

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center text-torshia">All Active Funds</h2>

@section Styles{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" />

    <style>
        body {
            background-image: none;
        }
    </style>
}

<form asp-controller="Funds"
      class="justify-content-between"
      method="post">
    <div>
        <partial name="All_Entities_Partial/EntitiesUpdateAndSearchPartial" />

        <div class="button-holder d-flex justify-content-center my-5 align-items-center">
            <partial name="All_Entities_Partial/EntitiesExtractViewPartial" />
            <partial name="All_Entities_Partial/EntitiesActiveSwitchPartial" />
            <partial name="All_Entities_Partial/EntitiesModalButtonPartial" />
        </div>

        <partial name="All_Entities_Partial/EntitiesModalPartial" />

        <hr class="bg-pharus hr-2" />

        <partial name="All_Entities_Partial/EntitiesBindingTablePartial" />

        <partial name="All_Entities_Partial/EntitiesViewTablePartial" />
    </div>
</form>

@section Scripts{
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <script src="~/js/checkboxRedirect.js"></script>
    <script src="~/js/ui.multiselect.js"></script>
    <script src="~/lib/jquery/dist/jquery.doubleScroll.js"></script>

    <script>
        window.onload = () => {
            manageSideNavBar();
            manageDropdowns();
            checkboxRedirect();
        }

        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }

        $(document).ready(function () {

            // ________________________________________________________
            //
            // Modal multiselect for column selection

            $(".multiselect").multiselect();

            // ________________________________________________________
            //
            // Autocomplete search

            $("#SearchTerm").select2({
                placeholder: "Select Funds",
                theme: "classic",
                ajax: {
                    url: "/Funds/AutoCompleteFundList",
                    dataType: "json",
                    delay: 250,
                    data: function (params) {
                        return { searchTerm: params.term };
                    },
                    processResults: function (data) {
                        return { results: data }
                    }
                }
            });

            
            // ________________________________________________________
            //
            // Double top scroll for table

             $('.double-scroll').doubleScroll();
            $('#tableDoubleScroll').doubleScroll({ resetOnWindowResize: true });
        });
    </script>
}