@model Pharus.App.Models.ViewModels.Funds.ActiveFundsViewModel

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<string[]> activeFunds = null;

    if (this.User.Identity.IsAuthenticated)
    {
        activeFunds = Model.ActiveFunds;
    }
}

<h2 class="text-center text-torshia">All Active Funds</h2>

<form asp-controller="Funds" asp-action="All" class="justify-content-between" method="post">
    <div>
        <div class="w-100 d-flex justify-content-between my-5">
            <div>
                <label for="date"
                       class="text-torshia m-1 pr-3">SELECT DATE:</label>
                <input type="date"
                       id="fundDatetime"
                       asp-for="ChosenDate"
                       min="2018-01-01" max=@DateTime.Today.ToString("yyyy-MM-dd")>

                <input type="submit"
                       class="bg-pharus text-white"
                       asp-for="Command"
                       value="Update Table"></>
            </div>

            <div>
                <input type="search"
                       name="searchString"
                       asp-for="SearchString" />

                <input type="submit"
                       class="bg-pharus text-white"
                       asp-for="Command"
                       value="Filter" />
            </div>
        </div>
    </div>
</form>

<form method="post">

    <div class="button-holder d-flex justify-content-center my-5">
        <button class="extractbtn"
                type="submit" ;
                formaction="/Funds/ExtractExcel"
                name="extract_Excel">
            <img src="~/images/Icon_Excel.ico"
                 width="35"
                 height="35" />
        </button>

        <button class="extractbtn"
                type="submit"
                formaction="/Funds/ExtractPdf"
                name="extract_Pdf">
            <img src="~/images/Icon_Pdf.ico"
                 width="35"
                 height="35" />
        </button>
    </div>

    <hr class="bg-pharus hr-2" />

    <div class="table-responsive">
        <table class="table" name="">
            <thead>
                <tr>
                    @for (int row = 0; row < 1; row++)
                    {
                        @for (int col = 0; col < activeFunds[row].Length; col++)
                        {
                            <th class="text-secondary">
                                <h5>
                                    @Html.TextBoxFor(af => activeFunds[row][col],
                                        new
                                             {
                                            @class = "textBoxHeaderPharus",
                                            @readonly = true
                                        })
                                </h5>
                            </th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                @for (int row = 1; row < Model.ActiveFunds.Count; row++)
                {
                    <tr class="tableRowPharus" onclick="document.location = '/Funds/ViewFundSF/@activeFunds[row][0]'">
                        @for (int col = 0; col < activeFunds[row].Length; col++)
                        {
                            <td class="">
                                @Html.TextBoxFor(af => activeFunds[row][col],
                                    new
                                         {
                                        @class = "textBoxPharus",
                                        @readonly = true
                                    })
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>