@model Pharus.App.Models.ViewModels.Entities.EntitiesViewModel

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center text-torshia">All Active Funds</h2>

@section Styles{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" />

    <link rel="stylesheet" href="~/css/checkbox.css">
    <link rel="stylesheet" href="~/css/ui.multiselect.css" />
    <style>
        body {
            background-image: none;
        }
    </style>
}

<form asp-controller="Funds"
      class="justify-content-between"
      method="post">
    <div>
        <partial name="ContainerEntityPartial" />

        <div class="button-holder d-flex justify-content-center my-5 align-items-center">
            <partial name="ExtractEntitiesViewPartial" />

            <label class="el-switch el-switch-sm d-flex mb-0">
                <input type="checkbox"
                       asp-for="IsActive"
                       id="activeCheckBox">
                <span class="el-switch-style mr-2"></span>
                Show only active
            </label>

            <button type="button"
                    class="btn btn-primary btn-sm ml-2"
                    data-toggle="modal"
                    data-target="#upDocModal"
                    name="showColumnSelection">
                <img src="~/images/ColumnSelection_Pharus.jpg"
                     width="35"
                     height="35" />
            </button>
        </div>

        <div class="modal"
             id="upDocModal"
             role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <div>
                            <h2 class="text-center">SELECT COLUMNS </h2>
                            @for (int row = 0; row < 1; row++)
                            {
                                <select class="multiselect" multiple="multiple" asp-for="SelectedColumns" style="width:60%">
                                    @for (int col = 0; col < Model.EntitiesHeaders[row].Length; col++)
                                    {
                                        <option value="@Model.EntitiesHeaders[row][col]">@Model.EntitiesHeaders[row][col]</option>
                                    }
                                </select>
                            }
                            <br />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit"
                               asp-for="Command"
                               value="Apply"
                               class="btn btn-primary btn-sm ml-2" />
                        <button type="button"
                                class="btn btn-default"
                                data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <hr class="bg-pharus hr-2" />

        <partial name="EntitiesBindingTablePartial" />

        <partial name="EntitiesViewTablePartial" />
    </div>
</form>

@section Scripts{
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <script src="~/js/checkboxRedirect.js"></script>
    <script src="~/js/ui.multiselect.js"></script>
    <script src="~/lib/jquery/dist/jquery.doubleScroll.js"></script>

    <script>
        window.onload = () => {
            manageSideNavBar();
            manageDropdowns();
            checkboxRedirect();
        }

        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }

        $(function () {
            // choose either the full version
            $(".multiselect").multiselect();
            // or disable some features
            $(".multiselect").multiselect({ sortable: false, searchable: false });
        });

        $(document).ready(function () {
            $("#SearchTerm").select2({
                placeholder: "Select Funds",
                theme: "classic",
                ajax: {
                    url: "/Funds/AutoCompleteFundList",
                    dataType: "json",
                    delay: 250,
                    data: function (params) {
                        return { searchTerm: params.term };
                    },
                    processResults: function (data) {
                        return { results: data }
                    }
                }
            });
        });

        $(document).ready(function () {
            $('.double-scroll').doubleScroll();
            $('#tableDoubleScroll').doubleScroll({ resetOnWindowResize: true });
        });

    </script>
}