@model List<string[]>

@{
    ViewData["Title"] = "All";
}
<h2 class="text-center text-torshia">All Active Funds</h2>

<h2 class="text-center text-torshia">Choose a Date</h2>

<hr class="bg-pharus hr-2" />
<div class="table-responsive border-0 mx-auto">
    <table class="table table-hover">
        <thead>
            @for (int row = 0; row < 1; row++)
            {
                <tr>
                    @for (int col = 0; col < Model[row].Length; col++)
                    {
                        <th class="text-secondary text-center"><h5>@Model[row][col]</h5></th>
                    }
                </tr>
            }
        </thead>
        <tbody>
            @for(int row = 1; row < Model.Count; row++)
            {
                <tr>
                    @for (int col = 0; col < Model[row].Length; col++)
                    {
                        <td>@Model[row][col]</td>
                    }                   
                </tr>
            }
        </tbody>
    </table>
</div>

