@model Pharus.App.Models.ViewModels.Entities.EntitiesViewModel

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center text-torshia">All Active Funds</h2>

@section Styles{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <style>
        body {
            background-color: antiquewhite;
            background-image: none;
        }
    </style>
}

<form asp-controller="Funds" class="justify-content-between" method="post">
    <div>
        <partial name="ContainerEntityPartial" />

        <div class="button-holder d-flex justify-content-center my-5">
            <partial name="ExtractEntitiesViewPartial" />

            <button type="button"
                    class="btn btn-info"
                    data-toggle="modal"
                    data-target="#myModal"
                    name="showColumnSelection">
                <img src="~/images/ColumnSelection_Pharus.jpg"
                     width="35"
                     height="35" />
            </button>
        </div>

        <hr class="bg-pharus hr-2" />

        <partial name="EntitiesBindingTablePartial" />

        <partial name="EntitiesViewTablePartial" />
    </div>
</form>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#SearchTerm").select2({
                placeholder: "Select Funds",
                theme: "classic",
                ajax: {
                    url: "/Funds/AutoCompleteFundList",
                    dataType: "json",
                    delay: 250,
                    data: function (params) {
                        return { searchTerm: params.term };
                    },
                    processResults: function (data) {
                        return { results: data }
                    }
                }
            });
        });
    </script>

    <script type="text/javascript" src="~/jquery/jquery.doubleScroll.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.double-scroll').doubleScroll();
            $('#tableDoubleScroll').doubleScroll({ resetOnWindowResize: true });
        });
    </script>

    <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>
}