@model Pharus.App.Models.ViewModels.Funds.ActiveFundsViewModel

<h3>Authors</h3>

<p>This section is used to display information about authors.</p>

<label for="date"
       class="text-torshia m-1 pr-3">SELECT DATE:</label>
<input type="date"
       name="chosenDate"
       id="fundDatetime"
       value="@DateTime.Today.ToString("yyyy-MM-dd")">

<input type="submit"
       class="bg-pharus text-white"
      
       value="Update Table"></>
