
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<form asp-controller="Funds" asp-action="ExtractUpload" method="post">
        <button type="submit"
                name="excel_button">
            <img src="~/images/Icon_Excel.ico"
                 width="35"
                 height="25" />
        </button>

        <button type="submit"
                name="excel_button">
            <img src="~/images/Icon_Pdf.ico"
                 width="35"
                 height="25" />
        </button>
</form>