@model Pharus.App.Models.ViewModels.Funds.SpecificFundViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-controller="Funds" asp-action="ViewFundSF" class="justify-content-between" method="post">
    <div class="w-100 flex-wrap my-5">
        <label for="date"
               class="text-torshia m-1 pr-3">SELECT DATE:</label>
        <input type="date"
               id="fundDatetime"
               asp-for="ChosenDate"
               min="2018-01-01" max=@DateTime.Today.ToString("yyyy-MM-dd")>

        <input type="submit"
               class="bg-pharus text-white"
               asp-for="Command"
               value="Update Table"></>
    </div>
</form>

<form>
    <div class="d-flex justify-content-between">
        <div class="table-responsive border-0 w-60">
            <table class="table table-hover">
                <tbody>
                    @for (int row = 1; row < Model.ActiveFund.Count; row++)
                    {
                        @for (int col = 0; col < Model.ActiveFund[row].Length; col++)
                        {
                            <tr>
                                <th class="text-secondary p-1">
                                    <h5>
                                        @Model.ActiveFund[0][col]
                                    </h5>
                                </th>
                                <td class="p-1">
                                    @Model.ActiveFund[row][col]
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <partial name="ListOfProspectusPartial" />

    </div>
</form>

<div class="w-50 d-flex justify-content-between">
    <form asp-controller="Funds" asp-action="ViewFundSF" class="pharusSearchForm my-5">
        <div>
            <input type="text"
                   name="searchString"
                   asp-for="SearchString" />

            <input type="submit"
                   class="bg-pharus text-white"
                   asp-for="Command"
                   value="Filter" />
        </div>
    </form>

    <form asp-controller="Funds" asp-action="ExtractUpload" method="post">
        <button type="submit"
                name="excel_button">
            <img src="~/images/Icon_Excel.ico"
                 width="35"
                 height="25" />
        </button>

        <button type="submit"
                name="excel_button">
            <img src="~/images/Icon_Pdf.ico"
                 width="35"
                 height="25" />
        </button>
    </form>
</div>

<hr class="bg-pharus hr-2" />

<div class="dropdown pt-5">
    <button class="dropdown-btn maxw-270" onfocus="openDropdown()">
        SubFunds<i class="fa fa-caret-down"></i>
    </button>
    <div id="myDropdown" class="dropdown-container">
        <div class="table-responsive border-0 mx-auto">
            <table class="table table-hover">
                <thead>
                    <tr>
                        @for (int row = 0; row < 1; row++)
                        {
                            @for (int col = 0; col < Model.AFSubFunds[row].Length; col++)
                            {
                                <th class="text-secondary p-1">
                                    <h5>
                                        @Model.AFSubFunds[row][col]
                                    </h5>
                                </th>
                            }
                        }
                    </tr>
                </thead>

                <tbody>
                    @for (int row = 1; row < Model.AFSubFunds.Count; row++)
                    {
                        <tr onclick="document.location = '/Funds/ViewSubfundSC/@Model.AFSubFunds[row][0]'">
                            @for (int col = 0; col < Model.AFSubFunds[row].Length; col++)
                            {
                                <td class="p-1">
                                    @Model.AFSubFunds[row][col]
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>