@model Pharus.App.Models.ViewModels.Entities.SpecificEntityViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

@section Styles{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <style>
        body {
            background-image: none;
        }
    </style>
}

<form asp-controller="Funds" class="justify-content-between" method="post">

    <partial name="Specific_Entity_Partial/SpecificEntityUpdatePartial" />

    <div class="d-flex justify-content-between">

        <partial name="Specific_Entity_Partial/SpecificEntityInfoPartial" />
        <div class="w-50 float-right">
            <partial name="Specific_Entity_Partial/SpecificEntityDocumentsPartial" />
            @if (this.User.IsInRole("Admin"))
            {
                <div class="mt-5">
                    <a href="/Funds/EditFund/@Model.EntityId" class="btn btn-primary btn-sm mb-2">Edit Fund</a>
                </div>
            }
        </div>
    </div>

    <hr class="bg-pharus hr-2" />

    <partial name="Specific_Entity_Partial/SubEntities_Partial/SubEntitiesSearchPartial" />
    <partial name="Specific_Entity_Partial/SubEntities_Partial/SubEntitiesExtractPartial" />
    <partial name="Specific_Entity_Partial/SubEntities_Partial/SubEntitiesBindingTablePartial" />

    <div class="row w-25 ml-3 mb-5">
        <label class="text-torshia m-1 pr-3">FUND ADDITIONAL INFORMATION</label>
        <select class="custom-select-lg pharus-select form-control input-sm"
                id="fundChoicesSelect"
                name="fundChoicesSelect">
            <option value="">Select</option>
            <option value="SubFunds">SubFunds</option>
            <option value="TimelineChanges">Timeline Changes</option>
            <option value="AllDocuments">All Documents</option>
        </select>
    </div>

    <partial name="Specific_Entity_Partial/SpecificEntityAllDocumentsPartial" />
    <partial name="Specific_Entity_Partial/SpecificEntityTimeLinePartial" />

    <div id="subEntities">
        <table class="table table-bordered table-hover table-responsive text-nowrap tableDoubleScroll">
            <thead>
                @for (int row = 0; row < 1; row++)
                {
                    <tr>
                        @for (int col = 0; col < Model.EntitySubEntities[row].Length; col++)
                        {
                            <th class="text-white p-1 tableHeaderPharus">
                                @Model.EntitySubEntities[row][col]
                            </th>
                        }
                    </tr>
                }
            </thead>

            <tbody>
                @for (int row = 1; row < Model.EntitySubEntities.Count; row++)
                {
                    var subfundId = Model.EntitySubEntities[row][2];

                    <tr class="tableRowPharus" onclick="document.location = '/SubFunds/ViewEntitySE/@subfundId/@Model.ChosenDate'">
                        @for (int col = 0; col < Model.EntitySubEntities[row].Length; col++)
                        {
                            <td class="p-1">
                                @Model.EntitySubEntities[row][col]
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>

<form asp-controller="Funds"
      asp-action="UploadFiles"
      method="post"
      enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <partial name="Specific_Entity_Partial/SpecificEntityUploadPartial" />   
</form>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {

            const url = "/Funds/AutoCompleteSubFundList";
            const entityId = @Model.EntityId;

            $("#SearchTerm").select2({
                placeholder: "Select Sub Funds",
                theme: "classic",
                ajax: {
                    url: url,
                    dataType: "json",
                    delay: 250,
                    data: function (params) {
                        return {
                            searchTerm: params.term,
                            entityId: entityId
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        }
                    }
                }
            });
        });
    </script>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.doubleScroll.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.double-scroll').doubleScroll();
            $('.tableDoubleScroll').doubleScroll({ resetOnWindowResize: true });

            $("#fundChoicesSelect").on('change', function () {
                let dropdownvalue = $("#fundChoicesSelect option:selected").val();
                if (dropdownvalue == 'SubFunds') {
                    $("#subEntities").css('visibility', 'visible');
                    $("#timelineChanges").css('visibility', 'hidden');
                    $("#allDocuments").css('visibility', 'hidden');
                }
                else if (dropdownvalue == 'TimelineChanges') {
                    $("#timelineChanges").css('visibility', 'visible');
                    $("#subEntities").css('visibility', 'hidden');
                    $("#allDocuments").css('visibility', 'hidden');
                }
                else if (dropdownvalue == 'AllDocuments') {
                    $("#allDocuments").css('visibility', 'visible');
                    $("#timelineChanges").css('visibility', 'hidden');
                    $("#subEntities").css('visibility', 'hidden');
                }
                else {
                    $("#subEntities").css('visibility', 'hidden');
                    $("#timelineChanges").css('visibility', 'hidden');
                    $("#allDocuments").css('visibility', 'hidden');
                }
            });
        });
    </script>

    <script type="text/javascript" src="~/js/manageSubEntitiesSelectMenu.js"></script>

    <script>
        window.onload = () => {
            manageSideNavBar();
            manageDropdowns();
            manageSESelectMenu();
        }
    </script>

    <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>
}