@model Pharus.App.Models.ViewModels.Entities.SpecificEntityViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
}

<form class="justify-content-between" method="post">

    <partial name="SpecificEntityUpdatePartial" />

    <div class="d-flex justify-content-between">

        <partial name="SpecificEntityInfoPartial" />
        <div class="w-35 float-right">
            <partial name="SpecificEntityDocumentsPartial" />

            @if (this.User.IsInRole("Admin"))
            {
                <div class="mt-5">
                    <a href="/Funds/EditFund/@Model.EntityId" class="btn bg-pharus text-white">Edit Fund</a>
                </div>
            }
        </div>
    </div>

    <partial name="SpecificEntitySearchPartial" />
</form>

<form asp-controller="Funds" method="post">

    <partial name="ExtractSubEntitiesViewPartial" />

    <hr class="bg-pharus hr-2" />

    <div class="dropdown pt-5">
        <button type="button" class="dropdown-btn maxw-270">
            SubFunds<i class="fa fa-caret-down"></i>
        </button>
        <div id="myDropdown" class="dropdown-container">

            <partial name="SpecificEntityBindingTablePartial" />

            <div class="table-responsive border-0 mx-auto" id="tableDoubleScroll">
                <table class="table table-hover" name="EntitySubEntities">
                    <thead>
                        <tr>
                            @for (int row = 0; row < 1; row++)
                            {
                                @for (int col = 0; col < Model.EntitySubEntities[row].Length; col++)
                                {
                                    <th class="text-secondary p-1">
                                        <h5>
                                            @Model.EntitySubEntities[row][col]
                                        </h5>
                                    </th>
                                }
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @for (int row = 1; row < Model.EntitySubEntities.Count; row++)
                        {
                            <tr class="tableRowPharus" onclick="document.location = '/SubFunds/ViewEntitySE/@Model.EntitySubEntities[row][2]'">
                                @for (int col = 0; col < Model.EntitySubEntities[row].Length; col++)
                                {
                                    <td class="p-1">
                                        @Model.EntitySubEntities[row][col]
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {

            let url = "/Funds/AutoCompleteSubFundList";
            let entityId = @Model.EntityId;

            console.log(entityId);

            $("#SearchTerm").select2({
                placeholder: "Select Sub Funds",
                theme: "classic",
                ajax: {
                    url: url,
                    dataType: "json",
                    delay: 250,
                    id: entityId,
                    data: function (params) {
                        return {
                            searchTerm: params.term
                            };
                    },
                    processResults: function (data) {
                        return {
                            results: $.map(data, function (val, item) {
                                return { id: val.id, text: val.Name }
                            })
                        }
                    }
                },
                minimumInputLength: 1
            });
        });
    </script>

    <script type="text/javascript" src="~/js/jquery.doubleScroll.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.double-scroll').doubleScroll();
            $('#tableDoubleScroll').doubleScroll({ resetOnWindowResize: true });
        });
    </script>
}