@model Pharus.App.Models.ViewModels.Entities.SpecificEntityViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();

    var timeseriesDates = @Html.Raw(Json.Serialize(Model.TSPriceDates));
    var timeseriesProviders = @Html.Raw(Json.Serialize(Model.TSTypeProviders));
}

@section Styles{
    <style>
        body {
            background-image: none;
        }
    </style>
}

<form asp-controller="ShareClasses"
      class="justify-content-between"
      method="post">

    <partial name="SpecificEntity/_Toolbar" />
    <div class="d-flex justify-content-between">
        <partial name="SpecificEntity/_Info" />
        <div class="w-60">
            <div style="width:90%;">
                <canvas id="aumSC_Canvas"></canvas>
            </div>
            <partial name="SpecificEntity/_Load_Documents" />
        </div>
    </div>

    <div class="row w-25 ml-3">
        <label class="text-torshia m-1 pr-3">SHARECLASS ADDITIONAL INFORMATION</label>
        <select class="custom-select-lg select-pharus form-control input-sm"
                id="shareClassAdditionalInfSelect"
                asp-for="SelectAdditionalInf">
            <option value="" selected disabled>Select</option>
            <option value="TimelineChanges">Timeline Changes</option>
            <option value="AllDocuments">All Documents</option>
        </select>
    </div>

    <partial name="SpecificEntity/_AllDocuments" />
    <partial name="SpecificEntity/_Timeline" />
</form>

<form asp-controller="ShareClasses"
      asp-action="UploadProspectus"
      method="post"
      enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <partial name="SpecificEntity/_UploadPros" />
</form>

<form asp-controller="ShareClasses"
      asp-action="UploadAgreement"
      method="post"
      enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <partial name="SpecificEntity/_UploadAgr" />
</form>

@section Scripts{
    <script src="~/lib/jquery/Chart.js/Chart.min.js"></script>
    <script src="~/lib/jquery/Chart.js/utils.js"></script>

    <script>
        window.onload = function () {
            let ctx = document.getElementById('aumSC_Canvas').getContext('2d');
            window.myLine = new Chart(ctx, config);
            manageSideNavBar();
            manageDropdowns();
        };

        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }

        // ________________________________________________________
        //
        // Select menu for fund additional information -
        // subentities, timeline changes, all documents
        // Get selected value and keep select option open

        $('#shareClassAdditionalInfSelect option').each(function () {
            if (this.selected) {
                const dropdownvalue = $("#shareClassAdditionalInfSelect option:selected").val();
                if (dropdownvalue == 'TimelineChanges') {
                    $("#timelineChanges").css('visibility', 'visible');
                    $("#allDocuments").addClass('d-none');
                } else if (dropdownvalue == 'AllDocuments') {
                    $("#allDocuments").removeClass('d-none');
                    $("#timelineChanges").css('visibility', 'hidden');
                } else {
                    $("#timelineChanges").css('visibility', 'hidden');
                    $("#allDocuments").addClass('d-none');
                }
            }
        });

        // ________________________________________________________
        //
        // Select menu for fund additional information -
        // subentities, timeline changes, all documents -
        // On change event for selected value

        $("#shareClassAdditionalInfSelect").on('change', function () {
            const dropdownvalue = $("#shareClassAdditionalInfSelect option:selected").val();
            if (dropdownvalue == 'TimelineChanges') {
                $("#timelineChanges").css('visibility', 'visible');
                $("#allDocuments").addClass('d-none');
            } else if (dropdownvalue == 'AllDocuments') {
                $("#allDocuments").removeClass('d-none');
                $("#timelineChanges").css('visibility', 'hidden');
            } else {
                $("#timelineChanges").css('visibility', 'hidden');
                $("#allDocuments").addClass('d-none');
            }
        });

        // ________________________________________________________
        //
        // Chart js for Asset under management

        const config = {
            type: 'line',
            data: {
                labels: @timeseriesDates,
                datasets: []
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'AUM For ShareClass'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    x: {
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Month'
                        }
                    },
                    y: {
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        }
                    }
                }
            }
        };

        $.each(@timeseriesProviders, function (index, provider) {

            const allPricesValues = JSON.parse('@Html.Raw(Json.Serialize(Model.TSAllPriceValues))');
            const currentPriceValue = allPricesValues
                .filter(ts => ts[2] === provider)
                .map(ts => ts[1]);

            config.data.datasets.push({
                label: provider,
                backgroundColor: window.chartColors[index],
                borderColor: window.chartColors[index],
                data: currentPriceValue,
                fill: false,
            });
        });
    </script>
}