@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<partial name="_SharedData" />

<div class="d-flex">
    <text id="login-text-pharus"
          class="bold-text-pharus">
        @ViewData["Title"] <br />
        <span>Please check your email</span>
    </text>
</div>