@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<form class="mx-auto w-50 d-inline" method="post">
    <div>

        <partial name="_SharedData" />

        <div class="d-flex">
            <text id="login-text-pharus"
                  class="bold-text-pharus">
                Pharus DataGate User <br />
                <span class="text-color-blue-pharus">Login</span>
            </text>
        </div>

        <div id="login-form">
            <div class="form-group">
                <input type="text"
                       class="form-control w-470"
                       id="username"
                       placeholder="Username..."
                       asp-for="Input.Username"
                       autofocus
                       autocomplete="username">
                <span asp-validation-for="Input.Username" class="text-danger d-flex justify-content-center"></span>
            </div>

            <div class="form-group">
                <input type="password"
                       class="form-control w-470"
                       id="password"
                       placeholder="Password..."
                       asp-for="Input.Password"
                       autocomplete="new-password">
                <span asp-validation-for="Input.Password" class="text-danger d-flex justify-content-center"></span>
                <!-- TODO show/hide password -->
                <!-- <input type="checkbox" class="form-control-login-pharus" onclick="document.getElementById('password').type = this.checked ? 'text' : 'password'">Show password -->
            </div>
            <div class="form-group justify-content-between" id="div-checkbox-password">
                <div>
                    <label class="checkbox-pharus text-color-grey-pharus" asp-for="Input.RememberMe">
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                        <input type="checkbox" asp-for="Input.RememberMe" />
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <a class="text-color-blue-pharus text-underline"
                       href="/Identity/Account/ForgotPassword">
                        Forgot Password?
                    </a>
                </div>
            </div>

            <div class="login-div">
                <button type="submit" id="btn-login" href="/Identity/Account/Login">
                    <img src="~/images/Login_Button.png">
                </button>
            </div>
        </div>
    </div>
</form>