@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="mb-5">
    <u class="text-torshia">LIST OF PROSPECTUS</u><br>

    @if (!string.IsNullOrEmpty(Model.FileNameToDisplay))
    {
        <button class="btn-link mt-3 border-0 bg-white"
                formtarget="_blank"
                type="submit"
                formaction="/@controllerName/ReadPdfFile"
                name="read_Pdf">
            @Model.FileNameToDisplay
        </button>
    }

    <button type="button"
            class="btn btn-primary btn-sm mb-2"
            data-toggle="modal"
            data-target="#upDocModal">
        Upload Document
    </button>
</div>