@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div id="allDocuments">
    <table class="table table-bordered table-hover">
        <thead>
            @for (int row = 0; row < 1; row++)
            {
                <tr>
                    @for (int col = 0; col < Model.EntityDocuments[row].Length; col++)
                    {
                        <th class="text-secondary p-1">
                            @Model.EntityDocuments[row][col]
                        </th>
                    }
                </tr>
            }
        </thead>

        <tbody>
            @for (int row = 1; row < Model.EntityDocuments.Count; row++)
            {
                <tr>
                    @for (int col = 0; col < Model.EntityDocuments[row].Length; col++)
                    {
                        <td class="p-1">
                            @if (Model.EntityDocuments[0][col] == "File Name")
                            {
                                <button class="btn-link-pharus"
                                        formtarget="_blank"
                                        type="submit"
                                        formaction="/@controllerName/ReadPdfFile"
                                        name="read_Pdf">
                                    @Model.EntityDocuments[row][col]
                                </button>
                            }
                            else
                            {
                                @Model.EntityDocuments[row][col]

                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>