@{
    this.Layout = "_LayoutIdentity";
    this.ViewData["Title"] = SharedLocalizer.GetHtmlString("Cookie Policy");
}

<section class="login-layout">
    <div class="container-fluid login-layout-container">
        <partial name="Scripts/_CookieConsentPartial" />
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-12 login-content-container">
                <div class="login-content">
                    <partial name="Identity/_HomeIcon" />
                    <h3 class="mt-3">
                        @SharedLocalizer.GetHtmlString("Cookie Policy")
                    </h3>
                    <div class="div-legal-text">
                        <h4>
                            What are cookies?
                        </h4>
                        <p>
                            Cookies are simple text files that are stored on your computer
                            or mobile device by a website’s server. Each cookie is unique to your web browser.
                            It will contain some anonymous information such as a unique identifier,
                            website’s domain name, and some digits and numbers.<br />
                        </p>

                        <h4>
                            What types of cookies do we use?
                        </h4>
                        <h4>
                            Necessary cookies
                        </h4>
                        <p>
                            Necessary cookies allow us to offer you the
                            best possible experience when accessing and navigating
                            through our website and using its features. For example,
                            these cookies let us recognize that you have created an account and have logged into that account to access the content.
                            <br />
                        </p>

                        <h4>
                            Functionality cookies
                        </h4>
                        <p>
                            Functionality cookies let us operate the site in
                            accordance with the choices you make. For example,
                            we will recognize your username and remember how you customized the site during future visits.
                            <br />
                        </p>

                        <h4>
                            Analytical cookies
                        </h4>

                        <p>
                            These cookies enable us and third-party services to
                            collect aggregated data for statistical purposes on how our
                            visitors use the website. These cookies do not contain personal
                            information such as names and email addresses and are used to help us improve your user experience of the website.
                            <br />
                        </p>

                        <h4>
                            How to delete cookies?
                        </h4>

                        <p>
                            If you want to restrict or block the cookies that are set
                            by our website, you can do so through your browser setting.
                            Alternatively, you can visit www.internetcookies.org,
                            which contains comprehensive information on how to do this
                            on a wide variety of browsers and devices. You will find
                            general information about cookies and details on how to delete cookies from your device.
                            <br />
                        </p>

                        <h4>
                            Contacting us
                        </h4>
                        <p>
                            If you have any questions about this cookie policy or our use of cookies, please contact us.
                            <br />
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 extra-space-container" style="background-color: #ffffff;"></div>

            <partial name="Identity/_SideImage" />
        </div>
        <partial name="Identity/_FooterIdentity" />
    </div>
</section>