@{
    this.ViewData["Title"] = SharedLocalizer["Access Denied"];
}

<div class="push">
    <h1 class="text-center text-danger">@SharedLocalizer["Access Denied"]</h1>
    <p class="text-center ">
        @SharedLocalizer["You don't have access to this resource."] <br />
        @SharedLocalizer["Please contact your company administrator."] <br />
    </p>
</div>