@model Pharus.App.Models.ViewModels.Entities.EntitiesViewModel

<div class="w-100 d-flex justify-content-between my-5">
    <div>
        <input type="date"
               id="fundDatetime"
               asp-for="ChosenDate"
               min="2018-01-01"
               max=@DateTime.Today.ToString("yyyy-MM-dd")>

        <input type="submit"
               class="btn btn-primary btn-sm mb-2"
               asp-for="Command"
               value="Update Table"></>

        <a asp-action="All">Show All</a>
    </div>
    <div>
        <select asp-for="SelectTerm"
                id="SelectTerm"
                class="form-control input-sm"
                style="width:300px"
                onchange="this.form.submit()">
            <option value=@Model.SelectTerm selected>@Model.SelectTerm</option>
        </select>
    </div>
</div>