
<button type="button"
        class="btn btn-primary btn-sm ml-2"
        data-toggle="modal"
        data-target="#columnModal"
        name="showColumnSelection">
    <img src="~/images/ColumnSelection_Pharus.jpg"
         width="35"
         height="35" />
</button>