@model Pharus.App.Models.ViewModels.Entities.EntitiesViewModel

    <div class="w-50">
        <input type="text"
               name="searchString"
               style="width:250px"/>

        <input type="submit"
               class="btn btn-primary btn-sm mb-1"
               asp-for="Command"
               value="Search"></>
    </div>