@model EntitiesViewModel

@{
    ViewData["Title"] = SharedLocalizer["Funds"];
    Layout = "~/Views/Shared/_Layout.cshtml";

    var controller = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="container-all-funds justify-content-between">
    <div class="w-100">
        <div class="mobile-none">
            <hr class="mt-0 mb-auto" />
            <div class="w-100 toolbar-view-all">
                <div>
                    <div class="h-100 d-flex">
                        <partial name="AllEntities/_Toolbar" />
                        <div class="title-main">
                            <h2>@SharedLocalizer["Funds Managed by Pharus ManCo"]</h2>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mt-1 mb-0" />
        </div>
        <h2 class="text-center title-responsive">@SharedLocalizer["Funds Managed by Pharus ManCo"]</h2>
        <partial name="AllEntities/_ViewTable" />
    </div>
</div>

@section Scripts{
    <partial name="Scripts/_EntitiesScriptsPartial" />

    <script>
        let model = {
            Date: '@Model.Date',
            ControllerName: '@controller',
        };

        $(document).ready(function () {
            $('.table-view-pharus').removeAttr('hidden');
            // ________________________________________________________
            //
            // Datatable options - sort, search, pagination
            $.fn.dataTable.moment('DD/MM/YYYY');

            $('.table-view-pharus').DataTable({
                "dom": '<"top">t<"bottom"><"clear">',
                "autoWidth": false,
                "scrollX": true,
            });

            // ________________________________________________________
            //
            // Extract view as excel or pdf
            extract(model);
            submitForm();
        });
    </script>
}