@model EntitiesViewModel

@{
    ViewData["Title"] = SharedLocalizer.GetHtmlString("Funds");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-all-funds justify-content-between container-fluid">
    <div class="w-100">
        <div class="mobile-none">
            <hr class="mt-0 mb-auto" />
            <div class="w-100 toolbar-view-all">
                <div>
                    <div class="h-100 d-flex">
                        <partial name="AllEntities/_Toolbar" />
                        <div class="title-main">
                            <h2>@SharedLocalizer.GetHtmlString("Funds managed by Pharus ManCo")</h2>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mt-1 mb-0" />
        </div>
        <h2 class="text-center title-responsive">@SharedLocalizer.GetHtmlString("Funds managed by Pharus ManCo")</h2>
        <partial name="AllEntities/_ViewTable" />
    </div>
</div>

@section Scripts{
    <partial name="Scripts/_EntitiesScriptsPartial" />
}